<div ng-cloak>
	<div class="coach-list y-comment">
		<div class="coach-user">
			<div class="y-box-flex">
				<div class="photo" ng-class="{true:'isvip'}[coachinfo.extra==1]">
					<img src="{{coachinfo.headimg}}" ng-if="coachinfo.headIcon">
					<img src="img/user.png" ng-if="!coachinfo.headIcon">
				</div>
				<div class="userinfo">
					<div class="name">
						{{coachinfo.name}} 
						<span ng-if='itemcoachinfoimportSrc'>{{coachinfo.importSrc}}</span>
						<span ng-if='coachinfo.coachLevel'>{{coachinfo.coachLevel | goChines}}级</span>
						
					</div>
					<div class="name">
						<div class="star" ng-class="{true:'active'}[coachinfo.starLevel>=20]"></div>
						<div class="star" ng-class="{true:'active'}[coachinfo.starLevel>=40]"></div>
						<div class="star" ng-class="{true:'active'}[coachinfo.starLevel>=60]"></div>
						<div class="star" ng-class="{true:'active'}[coachinfo.starLevel>=80]"></div>
						<div class="star" ng-class="{true:'active'}[coachinfo.starLevel>=100]"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="border_top bg_fff pl15">
		<div class="y-cell">
			<div class="cell__bd">
				车辆信息
			</div>
			<div class="cell__ft pr15">
				<img src="img/{{coachinfo.dltype==1?'C1':'C2'}}-cai.png" class="img-auto mr5">
				{{coachinfo.carNo}}
			</div>
		</div>
	</div>
	<div class="border_top bg_fff pl15 mt10 pr15 pt10 order-comment pb10">
		<div class="text-center f14 lh30 mb10">
			<span class="title-hr"></span>
			给你的教练评分
			<span class="title-hr"></span>
		</div>
		<div class="text-center">
			<label class="star" ng-class="{true:'active'}[comment.score>=1]">
			</label>
			<label class="star" ng-class="{true:'active'}[comment.score>=2]">
			</label>
			<label class="star" ng-class="{true:'active'}[comment.score>=3]">
			</label>
			<label class="star" ng-class="{true:'active'}[comment.score>=4]">
			</label>
			<label class="star" ng-class="{true:'active'}[comment.score>=5]">
			</label>
		</div>
		<div class="comment-tag">
			<label ng-repeat="item in tag" style="display: none;" class="leftnone" data-id="{{item.ctid}}">
				{{item.tag}}
				<img src="img/order/icon-{{item.goodBad==0?'bad':'good'}}.png">
			</label>
		</div>
		<div class="f14 lh20 mt15">
			<span class="bold color_title">学员评论：</span><br>
			{{comment.oneWord}}
		</div>
	</div>
</div>