<div ng-cloak>
	<div class="bg_fff pl15 pr15">
		<div class="text-center f14 lh20 pt10 pb20">
			<img src="img/icon/icon-ok-b.png" class="img-auto mb5"><br>
			<span class="color_menu">您的练车需求已经成功发布到教练广场！</span><br>
			有教练抢单成功之后，喱喱马上会通知您，请及时关注系统消息！
		</div>
		<div class="border_top lh25 pt5 pb5">
			<div>课程信息 <span class="fr"><img src="img/{{order.dltype==1?'C1':'C2'}}-cai.png" class="img-auto mr5">{{order.courseName}}</span></div>
			<div>上课时间 <span class="fr">{{order.rstart | date:'yyyy-MM-dd HH:mm'}}</span></div>
			<div>金额(元) <span class="fr">{{order.price | priceTex}}</span></div>
		</div>
	</div>
	<div class="pl10 mt10 mb10 f14" ng-if="coursedata">
		以下是为您推荐的当天有排班的教练班次
	</div>
	<div class="course-list" ng-repeat="item in coursedata">
		<div class="pl15 pr15 border_bottom">
			<div class="title">
				<img src="img/{{item.dltype==1?'C1':'C2'}}.png" class="img-auto">
				{{item.courseName}}
				<span class="price"><i>￥</i>{{item.price|priceTex}}</span>
			</div>
			<div class="f15 color_menu lh20">
				<div class="w20 text-center iblock"><i class="weui_icon_waiting_circle color_menu "></i></div>{{item.rstart|timeTexHM}} ~ {{item.rend|timeTexHM}}
			</div>
			<div class="f15 lh25">
				<div class="w20 text-center iblock"><i class="ion-loca ion-ios-location-outline "></i></div>{{item.placeName}}
			</div>
		</div>
		<div class="apply y-comment">
			<li ng-repeat="x in item.plantClassList" ng-class="{true:'active'}[x.null]">
				<img ng-if="x.studentId" src="../../../images/student-default-header.png">
			</li>
			<a class="coach-button f14 fr mt0" ng-if='item.bookNum < item.maxNum && !item.ismy' ng-click="goNext(item)">
				约课
			</a>
			<a class="coach-button f14 fr mt0 erro" ng-if= 'item.bookNum == item.maxNum && !item.ismy'>
				满员
			</a>
			<a class="lh30 color_menu f14 fr mt0" ng-if="item.ismy">
				已约<i class="ion-chevron-right ml10"></i>
			</a>
		</div>
	</div>
</div>

<div class="h80"></div>
<div class="user-nav y-box-flex">
	<div class="box-1 pt5 pl10 pr5">
		<a class="button-nav erro" ng-click="calloffshow=true">取消订单</a>
	</div>
	<div class="box-1 pt5 pl5 pr10">
		<a class="button-nav" href="{{NURL}}user?type=1">我知道了</a>
	</div>
</div>

<div id="pop-loginout" ng-show="calloffshow">
	<div class="pop-mask"></div>
	<div class="pop-body">
		<div class="title">取消订单</div>
		<div class="comment">是否确定取消订单？</div>
		<div class="btnbox">
			<div class="btn erro" ng-click="calloffshow=false">取消</div>
			<div class="btn" ng-click="calloff()">确定</div>
		</div>
	</div>
</div>