<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="ArrangeExamClassAdd">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title>新增排班</title>
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/common/datetimepicker/css/jquery.datetimepicker.css">
	<script src="assets/common/js/commonStart.js"></script>
    <script>
        //判断非广仁考场的帐号登录则跳出
        //var requiredId = "grjxkc";
        //if(window.location.host=="uatjx.lilixc.com"){requiredId = "szgrjx";}
        //if(sessionStorage.getItem("schoolUserName")!=requiredId){
        //    window.location.href="datas/data-statistics.html"
        //}
    </script>
</head>
<body>
<!-- main 区域 -->
<div id="content" class="content main-content" >
	<!-- 主体内容 -->
	<div class="common-style withdraw-cash">
		<div class="title"><h1>普通客户排班 &gt; 新增排班</h1></div>
		<div class="table-margin common-table">
			<div class="header">普通客户排班 &gt; 新增排班</div>
			<div class="content">
                <form id="addForm">
                <table class="z-form-col2 z-arrange-exam-form z-noborder">
                    <tr class="z-input-valid">
                        <td width="140"><label for="">预约日期：<span class="z-fontred">*</span></label></td>
                        <td>
                            <div class="input-text">
                                <div class="z-arrange-days z-select-days">
                                    <li ng-repeat="day in getDaysInfo" ng-class="{true:'noArrangeClass'}[day.cls==0]">
                                    	<label>
	                                        <input type="radio" class="arrange-day" value="{{day.pdate}}" ng-model="$parent.checkDay" name="checkDay" ng-click="selectDay($event)">
	                                        <div>{{day.pdate | timeTexMD}}<span>{{day.day | weekDay}}</span></div>
	                                        <i class="class-mark"></i>
                                        </label>
                                    </li>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="z-input-valid">
                        <td><label for="">外部价格：<span class="z-fontred">*</span></label></td>
                        <td>
                            <div class="input-text input-group z-full">
                                <input type="text" name="schoolName" placeholder="外部价格" datatype="/^([1-9][\d]{0,3})(\.[\d]{1,2})?$/|/^(0)(\.[\d]{1,2})$/|/^10000$/" errormsg="外部价格的区间：0.01≤金额≤10000" nullmsg="请输入外部价格" class="form-control" ng-model="outerPrice">
                                <span class="input-group-addon">元/小时</span>
                            </div>
                        </td>
                    </tr>
                    <!--
                    	作者：offline
                    	时间：2017-08-01
                    	描述：

                    <tr class="z-input-valid">
                        <td><label for="">内部价格：<span class="z-fontred">*</span></label></td>
                        <td>
                            <div class="input-text input-group z-full">
                                <input type="text" name="schoolName" placeholder="内部价格" datatype="/^([1-9][\d]{0,3})(\.[\d]{1,2})?$/|/^(0)(\.[\d]{1,2})$/|/^10000$/|/^0$/"  errormsg="内部价格的区间：0≤金额≤10000" nullmsg="请输入内部价格" class="form-control" ng-model="innerPrice">
                                <span class="input-group-addon">元/小时</span>
                            </div>
                        </td>
                    </tr>
                    -->
                    <tr class="z-input-valid">
                        <td><label for="">最小预约时间段：</label></td>
                        <td>
                            <div class="input-text">
                                <select name="" class="form-control" ng-model="minHours">
                                    <option value="1">1小时</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr class="z-input-valid">
                        <td valign="top"><label class="z-mt10">预约时间段：<span class="z-fontred">*</span></label></td>
                        <td>
                            <div class="input-text form-inline item-auto-exam">
                                <div class="item-auto-item z-mb10" id="itemAuto0" ng-repeat="item in timelist">
                                    <input type="text" placeholder="请选择起始时间" datatype="*" errormsg="请选择起始时间" nullmsg="请选择起始时间" name="pstart{{$index}}" class="form-control date-time date-time-from" ng-model="item.pstart" ng-change="setPstart(item)">
                                    <span class="z-ml10 z-mr10">到</span>
                                    <input type="text" placeholder="请选择结束时间" datatype="*" errormsg="请选择结束时间" nullmsg="请选择结束时间" name="pend{{$index}}"  class="form-control date-time date-time-to" ng-model="item.pend" ng-change="setPend(item)">
                                    <span class="item-auto-label item-auto-del" ng-if="$index>0" ng-click="timelist.splice($index,1) "><span class="z-ico-del">X</span></span>
                                </div>
                                <div class="item-auto-btn z-fr z-mb10"><button ng-click="showTimeSelect()" type="button" class="btn btn-primary btn-sm btn-genrule"><span>⊕</span>增加时间段</button></div>
                            </div>

                        </td>
                    </tr>
                    <!--<tr class="z-input-valid">
                        <td valign="top"><label class="z-mt10">预约时间段：<span class="z-fontred">*</span></label></td>
                        <td>
                            <div class="input-text form-inline item-auto-exam">
                                <div class="item-auto-item z-mb10" id="itemAuto0">
                                    <input type="text" placeholder="请选择起始时间" datatype="*" errormsg="请选择起始时间" nullmsg="请选择起始时间" class="form-control date-time date-time-from" >
                                    <span class="z-ml10 z-mr10">到</span>
                                    <input type="text" placeholder="请选择结束时间" datatype="*" errormsg="请选择结束时间" nullmsg="请选择结束时间" class="form-control date-time date-time-to" >
                                </div>
                                <div class="item-auto-btn z-fr z-mb10"><button ng-click="zItemAdd($event,'gen')" type="button" class="btn btn-primary btn-sm btn-genrule"><span>⊕</span>增加时间段</button></div>
                            </div>

                        </td>
                    </tr>-->
                    <!--
                    	作者：offline
                    	时间：2017-08-01
                    	描述：

                    <tr class="z-input-valid">
                        <td><label for="">最小时间段内车数：</label></td>
                        <td>
                            <div class="input-text"><span class="z-font22 z-mr10" ng-bind="!(c1||c2)?0:(c1+c2)"></span>车</div>
                        </td>
                    </tr>
                    -->
                    <tr class="z-input-valid">
                        <td><label for="">C1车数：</label></td>
                        <td>
                            <div class="input-text">
                                <input type="number" name="schoolName" placeholder="请输入C1车数,没有的话请填0或不填写" datatype="/^[0-9]+$/" errormsg="请输入非负整数，没有的话请填0或不填写" nullmsg="请输入C1车数，没有的话请填0" class="form-control c1valid" ng-model="c1" ignore="ignore">
                                <span>没有的话，请填0或不填写</span>
                                <span
                                  ng-bind="'当前剩余C1车'+remainC1+'辆'"
                                  style="position: absolute; top: 6px;left: 110%;color: red;width: 200px;"></span>
                            </div>

                        </td>
                    </tr>

                    <tr class="z-input-valid">
                        <td><label for="">C2车数：</label></td>
                        <td>
                            <div class="input-text">
                                <input type="number" name="schoolName" placeholder="请输入C2车数,没有的话请填0或不填写" datatype="/^[0-9]+$/" errormsg="请输入非负整数，没有的话请填0或不填写" nullmsg="请输入C2车数，没有的话请填0" class="form-control c2valid" ng-model="c2" ignore="ignore">
                                <span
                                  ng-bind="'当前剩余C2车'+remainC2+'辆'"
                                  style="position: absolute; top: 6px;left: 110%;color: red;width: 200px;"></span>
                            </div>
                        </td>
                    </tr>
                    <!--
                    	作者：offline
                    	时间：2017-08-02
                    	描述：

                    <tr class="z-input-valid">
                        <td><label for="">C1中预留给内部：</label></td>
                        <td>
                            <div class="input-text">
                                <input type="number" name="schoolName" placeholder="C1中预留给内部的数量,没有的话请填0或不填写" datatype="/^[0-9]+$/" errormsg="请输入非负整数，没有的话请填0" nullmsg="请输入C1中预留给内部的数量,没有的话请填0或不填写" class="form-control c1valid" ng-model="c1inner" ignore="ignore">
                            </div>
                        </td>
                    </tr>
                    <tr class="z-input-valid">
                        <td><label for="">C2中预留给内部：</label></td>
                        <td>
                            <div class="input-text">
                                <input type="number" name="schoolName" placeholder="C2中预留给内部的数量,没有的话请填0或不填写" datatype="/^[0-9]+$/" errormsg="请输入非负整数，没有的话请填0" nullmsg="请输入C2中预留给内部的数量,没有的话请填0或不填写" class="form-control c2valid" ng-model="c2inner" ignore="ignore">
                            </div>
                        </td>
                    </tr>
                    <tr class="z-input-valid">
                        <td><label for="">预留给内部失效天数：</label></td>
                        <td>
                            <div class="input-text">
                                <input type="number" name="schoolName" placeholder="练考前内部预留将于多少天前失效" datatype="/^[0-9]+$/" errormsg="请输入非负整数" nullmsg="请输入预留给内部失效时间" class="form-control" ng-model="innerExpire" ignore="ignore">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;"><div class="z-pt10">优惠配置：</div></td>
                        <td>
                            <div class="exam-rc-conf">
                                <div class="z-mb20">
                                    <input type="radio" ng-click="showRc($event,1)" class="z-checkbox z-mr20" ng-checked="favorType==1" name="favortype">返课时
                                    <div class="exam-rctime form-inline z-inline">
                                        <select name="" class="form-control" ng-model="favorIn">
                                            <option value="2" selected>累计2小时</option>
                                        </select>
                                        <span class="z-ml10 z-mr10">返</span>
                                        <select name="" class="form-control" ng-model="favorOut">
                                            <option value="0.5" selected>0.5学时</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <input type="radio" ng-click="showRc($event,2)" class="z-checkbox z-mr20" ng-checked="favorType==2" name="favortype" disabled>返金额
                                    <div class="exam-rcmoney form-inline z-inline" style="display: none;">
                                        <select name="" class="form-control" ng-model="favorIn">
                                            <option value="2">累计2小时</option>
                                        </select>
                                        <span class="z-ml10 z-mr10">返</span>
                                        <select name="" class="form-control" ng-model="favorOut">
                                            <option value="50">50元</option>
                                        </select>
                                    </div>
                                </div>
				<div>
                                    <input type="radio" ng-click="showRc($event,0)" class="z-checkbox z-mr20" ng-checked="favorType==0" name="favortype">不优惠

                                </div>
                            </div>
                        </td>
                    </tr>
                    -->
                </table>
                <div class="z-caozuo z-mt20">
                    <a class="btn btn-default btn-sm" href="#">返回</a>
                    <button class="btn btn-primary btn-sm" ng-click="submitMsg()" id="btn_submit">提交</button>
                </div>
                </form>
			</div>
		</div>
	</div>
</div>
<!-- script -->
<script src="assets/js/ng-js/arrange-exam-class-add-carmodel.js"></script>
<script src="assets/common/js/Validform_v5.3.2_min.js"></script>
<script src="assets/common/datetimepicker/js/jquery.datetimepicker.full.min.js"></script>
</body>
</html>
