<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="ArrangeExamClass">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>排班管理</title>
	<link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/common/datetimepicker/css/jquery.datetimepicker.css">
	<script src="assets/common/js/commonStart.js"></script>
    <script>
        //判断非广仁考场的帐号登录则跳出
        //var requiredId = "grjxkc";
        //if(window.location.host=="uatjx.lilixc.com"){requiredId = "szgrjx";}
        //if(sessionStorage.getItem("schoolUserName")!=requiredId){
        //    window.location.href="datas/data-statistics.html"
        //}
    </script>
    <script src="assets/common/js/echarts.common.min.js"></script>
</head>
<body>
<!-- main 区域 -->
<div id="content" class="content main-content" >
	<!-- 主体内容 -->
	<div class="common-style withdraw-cash">
		<div class="title"><h1>排班管理</h1></div>
		<div class="table-margin common-table">
			<div class="header">排班管理</div>
			<div class="content">
				<div>
					<!--<a href="arrange-exam-class-add.html" class="btn btn-sm btn-primary">新增排班</a>-->
					<a href="arrange-exam-class-add-carmodel.html" class="btn btn-sm btn-primary">新增排班</a>
					<a href="arrange-exam-vipclass-add.html" class="btn btn-sm btn-primary">新增大客户排班</a>
				</div>
                <div class="z-index-days">
                    <table class="z-form-col2 z-arrange-exam-form z-noborder z-mt20">
                        <tr class="z-input-valid">
                            <td width="70">
                                <span>练考日期：</span><br>
                            </td>
                            <td>
                                <div class="z-select-days">
                                    <div ng-repeat="day in getDaysInfo" ng-class="{true:'noArrangeClass'}[day.cls==0]" ng-click="setTheDay($event,day.pdate)">{{day.pdate|timeTexMD}}<span>{{day.day|weekDay}}</span><i class="class-mark"></i></div>
                                </div>
                            </td>
                            <td width="100"><input type="text" name="customDate" id="customDate" class="form-control z-ml10 arrange-cdate" placeholder="自定义时间" ng-model="customDate" /></td>
                        </tr>
                    </table>
                </div>
                <table class="table table-bordered z-arrange-class">
                    <tr>
                        <th colspan="6" class="z-tc">
                            <span class="z-fl" ng-bind="theDay"></span>
                            <span>预约概览</span>
                        </th>
                    </tr>
                    <tr ng-if="getTheday.length>0" style="background: #e6f4fc;">
                        <th style="background: none;">当日信息</th>
                        <td>
                            <span class="z-fl">外部均价:<span ng-bind="(outerPriceAll/(getTheday.length*100))|number:0"></span>元/小时</span>
                            <span class="z-fr">内部均价:<span ng-bind="(innerPriceAll/(getTheday.length*100))|number:0"></span>元/小时</span>
                        </td>
                        <td><span class="z-fl" ng-bind="'C1数:'+c1All"></span><span class="z-fr">预留数:<span ng-bind="c1innerAll"></span></span></td>
                        <td><span class="z-fl" ng-bind="'C2数:'+c2All"></span><span class="z-fr">预留数:<span ng-bind="c2innerAll"></span></span></td>
                        <td><span class="arrange-process"><span class="proc-in" style="width: {{(c1bookAll + c2bookAll)/(c1All + c2All)*100}}%" ng-bind="(((c1bookAll + c2bookAll)/(c1All + c2All)*100)|number:2)+'%'"></span></span><span class="z-fr" ng-bind="'预约进度:'+(c1bookAll + c2bookAll)+'/'+(c1All + c2All)"></span></td>
                        <td class="edit">
                            <a href="javascript:;" ng-click="shutClass(getTheday,'all')" ng-class="{false:'z-noAction'}[canShut]">关闭</a>
                            <!--<a href="javascript:;" ng-click="delayClass(item,$index)" ng-class="{true:'z-noAction'}[item.pstart!=item.rstart]" class="z-plr5">延班</a>-->
                            <a href="exam-ground-order.html?pdate={{theDay}}&currentOrder=1"  target="_blank">订单</a>
                        </td>
                    </tr>
                    <tr ng-repeat="item in getTheday" ng-class="{true:'z-tr-disable'}[item.state==1]">
                        <th><span ng-bind="item.pstart|timeTexHM"></span>-<span ng-bind="item.pend|timeTexHM"></span><span ng-bind="(item.type==1)?'大客户排班':'普通排班'"></span></th>
                        <td>
                            <span class="z-fl">外部价格:<span ng-bind="item.outerPrice/100"></span>元/小时</span>
                            <span class="z-fr">内部价格:<span ng-bind="item.innerPrice/100"></span>元/小时</span>
                        </td>
                        <td><span class="z-fl" ng-bind="'C1数:'+item.c1"></span><span class="z-fr">预留数:<span ng-bind="item.c1inner"></span></span></td>
                        <td><span class="z-fl" ng-bind="'C2数:'+item.c2"></span><span class="z-fr">预留数:<span ng-bind="item.c2inner"></span></span></td>
                        <td><span class="arrange-process"><span class="proc-in" style="width: {{(item.c1book + item.c2book)/(item.c1 + item.c2)*100}}%" ng-bind="(((item.c1book + item.c2book)/(item.c1 + item.c2)*100)|number:2)+'%'"></span></span><span class="z-fr" ng-bind="'预约进度:'+(item.c1book + item.c2book)+'/'+(item.c1 + item.c2)"></span></td>
                        <td class="edit">
                            <!--<a href="arrange-exam-class-edit.html?classId={{item.id}}" ng-class="{true:'z-noAction'}[(item.noEdit==true)||(item.state==1)]">编辑</a>-->
                            <a href="javascript:;" ng-click="shutClass(item)" ng-bind="(item.state==1)?'已关闭':'关闭'" ng-class="{true:'z-noAction'}[item.state==1]"></a>
                            <a href="javascript:;" ng-click="delayClass(item,$index)" ng-class="{true:'z-noAction'}[(item.pstart!=item.rstart)||(item.state==1)]" ng-bind="(item.pstart!=item.rstart)?'已延班':'延班'"></a>
                            <a href="javascript:;" ng-click="copyClass(item)" ng-class="{true:'z-noAction'}[item.state==1]">复制</a>
                            <a href="exam-ground-order.html?pstart={{item.pstart}}&pend={{item.pend}}&classId={{item.id}}&currentOrder=1" target="_blank">订单</a>
                        </td>
                    </tr>
                    <tr ng-if="getTheday.length==0"><td colspan="6">
                        <div style="margin: 30px auto;" class="z-tc">
                            <span class="z-font18">该日还没有进行排班</span><br>
                            <a href="arrange-exam-class-add.html" class="btn btn-sm btn-primary z-mt20">新增排班</a>
                        </div>
                    </td></tr>
                </table>

                <div style="width: 500px; height: 400px; margin: 20px auto;" ng-if="getTheday.length>0">
                    <div id="pieData" style="width: 500px; height: 400px;"></div>
                </div>
			</div>
		</div>

        <!-- 复制排班 -->
        <ng-include src="'edit/arrange-exam-class-copy.html'" onload="copyClassLoad()" ></ng-include>
        <!-- 关闭排班 -->
        <!--<ng-include src="'edit/arrange-exam-class-shut.html'" onload="shutClassLoad()" ></ng-include>-->
        <!-- 延迟排班 -->
        <ng-include src="'edit/arrange-exam-class-delay.html'" onload="delayClassLoad()" ></ng-include>
	</div>	
</div>
<script src="assets/js/ng-js/arrange-exam-class.js"></script>
<script src="assets/common/datetimepicker/js/jquery.datetimepicker.full.min.js"></script>

</body>
</html>