<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="Student">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title>教练车</title>
	<link rel="stylesheet" href="assets/css/main.css">
	<script src="assets/common/js/commonStart.js"></script>
</head>
<body>
<!-- main 区域 -->
<div id="content" class="content main-content" >
	<!-- 主体内容 -->
	<div class="common-style withdraw-cash">
		<div class="title"><h1>教练车</h1></div>
		<div class="table-margin common-table">
			<div class="header">教练车列表</div>
			<div class="content">
				<div class="search">
					<div class="line">
						<div>驾驶类别</div>
						<ul>
							<li ng-click="getDataForCarType($event,'')" class="active">全部</li>
							<li ng-click="getDataForCarType($event,1)">C1</li>
							<li ng-click="getDataForCarType($event,2)">C2</li>
							<li ng-click="getDataForCarType($event,3)">其他</li>
						</ul>
					</div>
					
					<div class="line">
						<div>车牌查询</div>
						<div class="input-group">
					      <input type="text" ng-model="remark" class="form-control" placeholder="输入车牌号查询">
					      <span class="input-group-btn">
					        <a class="btn btn-default" ng-click="getDataForSearch()">搜索</a>
					      </span>
					    </div>
					</div>
				</div>
				<div class="senior-search row">
					<div class="col-xs-12 col-sm-4">
						<a ng-if="100502|isButtonShow" ng-click="carEdit('add')" class="btn btn-sm btn-primary">新增教练车</a>
						<!--<a ng-if="100302|isButtonShow" ng-click="carDataExport()" class="btn btn-sm btn-primary margin-left-15">数据导出</a>-->
					</div>
					<div class="col-xs-12 col-sm-offset-4 col-sm-4 select text-right">
						<span>每页</span>
						<select ng-model="pageSize" ng-change="getDataForPage()" class="form-control">
							<option value="10" selected="selected">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
						  	<option value="100">100</option>
						</select>
						<span>条记录</span>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-with-style">
					  <tr>
					  	<td><b>车号</b></td>
					  	<td><b>车牌号</b></td>
					  	<td><b>所属</b></td>
					  	
					  	<td><b>驾驶类别</b></td>
					  	
					  	
					  	
					  	<td><b>操作</b></td>
					  </tr>
					  <tr ng-repeat="data in datas">
					  	<td><a href="car-details.html?carId={{data.carId}}" ng-bind="data.carNo"></a></td>
					  	<td ng-bind="data.remark"></td>
					  	<td ng-bind="data.schoolName"></td>
					  	
					  	<td ng-bind="data.driveType | applyCarTypeTex"></td>
					  	
					  	
					  	
					  	<td class="operation"><span class="edit" ng-if="100504|isButtonShow" ng-click="carEdit('edit',data)">编辑</span>&nbsp;&nbsp;<span class="edit" ng-if="100504|isButtonShow" ng-click="carDel(data)">删除</span></td>
					  </tr>
					</table>
				</div>
				<div class="page">
					<div id="copot-page" class="copot-page"></div>
				</div>
			</div>
		</div>
		
		<!-- 教练车信息编辑 | 新增 -->
		<ng-include src="'edit/car.html'" onload="carEditLoad()" ></ng-include>
	</div>	
</div>
<!-- script -->
<script src="assets/js/ng-js/car.js"></script>
</body>
</html>
