<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="ExamGroundOrderDetails">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>考场预约订单详情</title>
	<link rel="stylesheet" href="assets/css/main.css">
	<script src="assets/common/js/commonStart.js"></script>
    <script>
        //判断非广仁考场的帐号登录则跳出
//      var requiredId = "grjxkc";
//      if(window.location.host=="uatjx.lilixc.com"){requiredId = "szgrjx";}
//      if(sessionStorage.getItem("schoolUserName")!=requiredId){
//          window.location.href="datas/data-statistics.html"
//      }
    </script>
</head>
<body>
<!-- main 区域 -->
<div id="content" class="content main-content" >
	<!-- 主体内容 -->
	<div class="common-style withdraw-cash order-detail">
		<div class="top">
			<div class="order-id">
				<span class="light">订单号：</span>
				<span id="orderId" ng-bind="data.orderId"></span>
			</div>
			<div class="order-id">
				<span class="light">支付状态：</span>
				<span id="orderId" ng-bind="data.state|payOrderState"></span>
			</div>
            <!--<div class="pull-right">-->
                <!--<a ng-if="data.state<=1" ng-click="closeOrder()" class="btn btn-sm btn-danger" >关闭订单</a>-->
            <!--</div>-->
		</div>
		<div class="clearfix"></div>
		<ul class="table-li">
			<li ng-click="tableSwitch($event)" class="active">订单信息</li>
		</ul>
		<div class="order-table" id="order-table">
			<!-- 订单信息 -->
			<div>
				<table class="table table-bordered table-with-style">
				  <tr>
				  	<td class="t-150"><b>练考信息</b></td>
				  	<td><span ng-bind="data.orderinfo"></span></td>
				  	<td class="t-150"><b>教练姓名</b></td>
				  	<td ng-bind="data.coachName"></td>
				  </tr>
				  
				  <tr>
				  	<td class="t-150"><b>教练电话</b></td>
				  	<td ng-bind="data.coachMobile"></td>
				  	<td class="t-150"><b>预约时长（小时）</b></td>
				  	<td ng-bind="data.duration"></td>
				  </tr>
				  
				  
                    <tr>
                        <td class="t-150"><b>订单金额（元）</b></td>
                        <td ng-bind="data.payTotal/100"></td>
                        <td class="t-150"><b>订单状态</b></td>
                        <td ng-bind="data.state|payOrderState"></td>
                    </tr>
                    
                    
				</table><!-- 订单信息结束 -->
			</div>
			<!-- 操作日志 -->
			
		</div>
	</div>
</div>
<script src="assets/js/ng-js/exam-pay-order-details.js"></script>
</body>
</html>