<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="longExamDetailController">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title>长考看板</title>
	<link rel="stylesheet" href="assets/css/main.css">
	<script src="assets/common/js/commonStart.js"></script>
</head>
<body>
<!-- main 区域 -->
<div id="content" class="content main-content" >
	<!-- 主体内容 -->
	<div class="common-style withdraw-cash">
		<div class="title"><h1>长考看板 > {{ ltId }}</h1></div>
		<div class="table-margin common-table">
			<div class="content">
				<div class="well">
			      	<h3>{{ classItem.ltId }} <span ng-class="{'text-red' : classItem.state == 3 , 'text-green' : classItem.state == 2}">[{{ classItem.state | longtrainStateText }}]</span>
			      	<span class="pull-right">
				      	<a class="btn btn-primary btn-sm" ng-click="comfirmLesson()" ng-if="classItem.state == 0">确认开课</a>
						<a class="btn btn-danger btn-sm margin-left-15" ng-click="cancelLesson()"
						ng-if="classItem.state == 1">取消开课</a></span>
			      	</h3>
			      	{{ classItem.classDate | timeTexYMD }} &nbsp;{{ classItem.classTime }} &nbsp; | &nbsp; 当前已安排学员人数为 {{ total }} 人						
				</div>
				<div class="senior-search row">
					<div class="col-xs-12 col-sm-4">
						<a class="btn btn-sm btn-primary" ng-click="arrangeStudent()" ng-if="classItem.state == 0">安排学员</a>
						<a class="btn btn-sm btn-primary margin-left-15" ng-click="fieldDataExport()" ng-if="classItem.state != 3">数据导出</a>
						<a class="btn btn-sm btn-success margin-left-15" ng-click="changeResultState('1')" ng-if="classItem.state == 2">合格</a>
						<a class="btn btn-sm btn-danger margin-left-15" ng-click="changeResultState('2')" ng-if="classItem.state == 2">不合格</a>
						<a class="btn btn-sm btn-primary margin-left-15" href="long-exam.html">返回上页</a>
					</div>
					<div class="col-xs-12 col-sm-offset-4 col-sm-4 select text-right">
						<span>每页</span>
						<select ng-model="pageSize" ng-change="getDataForPage()" class="form-control">
							<option value="10" selected="selected">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
						 <option value="100">100</option>
						</select>
						<span>条记录</span>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-with-style">
						<tr>
							<td align="center" class="td-small-width">
								<input type="checkbox" ng-model="checkAll" ng-click="selectionAll($event)">
							</td>
							<td><b>姓名</b></td>
							<td><b>电话</b></td>
							<td><b>性别</b></td>
							<td><b>所学车型</b></td>
							<td><b>身份证号</b></td>
							<td><b>流水号</b></td>
							<td><b>学员类型</b></td>
							<td><b>长考成绩</b></td>
							<td><b>备注</b></td>
							<td ng-if="classItem.state == 0"><b>操作</b></td>
						</tr>
						<tr ng-repeat="data in datas">
							<td align="center"><input type="checkbox" id="{{data.studentId}}" ng-click="updateSelection($event,data.studentId)" ng-checked="isSelected(data.studentId)" ></td>
							<td><a href="student-details.html?studentId={{data.studentId}}" ng-bind="data.name" target="_blank"></a></td>
							<td ng-bind="data.phoneNum"></td>
							<td ng-bind="data.sex | sexText"></td>
							<td ng-bind="data.drType | applyCarTypeTex"></td>
							<td ng-bind="data.idNumber"></td>
							<td ng-bind="data.flowNo"></td>
							<td ng-bind="data.isImport | studentTypeText"></td>
							<td ng-bind="data.state | ltResultStateText" ng-class="{'text-green' : data.state == 1,
							'text-red' : data.state == 2}"></td>
							<td ng-bind="data.remark"></td>
							<td ng-if="classItem.state == 0">
								<a href="javascript:void(0)" class="edit" ng-click="deleteItem(data.studentId)">删除</a>
							</td>
						</tr>
					</table>
				</div>
				<div class="page">
					<div id="copot-page" class="copot-page"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- script -->
<script src="assets/js/ng-js/angular-factory.js"></script>
<script src="assets/js/ng-js/long-exam-details.js"></script>
</body>
</html>