<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="SetPassword">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Expires" content="0">
    <title ng-bind="passwordName"></title>
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="assets/common/js/commonStart.js"></script>
</head>
<body>
<!-- main 区域 -->
<div id="content" class="content main-content">
    <!-- 主体内容 -->
    <div class="common-style withdraw-cash">
        <div class="title"><h1 ng-bind="passwordName"></h1></div>
        <div class="order-table table-margin common-table">
            <!--找回支付密码-->
            <div class="findPassword" ng-show="findPassword">
                <div class="content w-change-password d-change-password">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label">绑定手机号：</label>
                            <div class="col-sm-6">
                                <p class="oringe" style="padding: 6px 0px;">{{schoolDetails.mobile?schoolDetails.mobile:'000****0000'}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label"></label>
                            <div class="col-sm-6">
                                <button type="button" ng-disabled="!isClick" ng-click="ObtainCode()" class="btn btn-sm btn-primary">{{getMsgText}} {{nowMsgTime}}</button>
                                <span ng-if="isobtainCode" class="ion-checkmark-circled succes d-code"><em ng-bind="isobtainCode"></em></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label">验证码：</label>
                            <div class="col-sm-6">
                                <input type="tel" maxlength="6" ng-model="captcha" class="form-control" placeholder="请输入验证码">
                                <span ng-if="iscaptcha"  class="ion-minus-circled error"><em ng-bind="iscaptcha"></em></span>
                                <span ng-if="iscaptcha===0?true:false" class="ion-checkmark-circled succes"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">新密码：</label>
                            <div class="col-sm-6">
                                <input type="password" maxlength="16" ng-model="password" class="form-control" placeholder="8-16的字母、数字或字符">
                                <span ng-if="ispassword" class="ion-minus-circled error"><em ng-bind="ispassword"></em></span>
                                <span ng-if="ispassword===0?true:false" class="ion-checkmark-circled succes"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label">确认密码：</label>
                            <div class="col-sm-6">
                                <input type="password" maxlength="16" ng-model="confirmPassword" class="form-control" placeholder="请重新输入您的密码">
                                <span ng-if="isconfirmPassword" class="ion-minus-circled error"><em ng-bind="isconfirmPassword"></em></span>
                                <span ng-if="isconfirmPassword===0?true:false" class="ion-checkmark-circled succes"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-4">
                                <a ng-click="SetPassword()" class="btn btn-primary">确定</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--新密码设置成功-->
            <div class="d-account-text accountText" ng-if="accountText">
                <h1><i class="ion-checkmark-circled succes"></i>{{accountText}}</h1>
                <h2><a href="schools-account.html">返回[财务管理-驾校钱包]</a></h2>
            </div>

            <!--修改支付密码-->
            <div class="findPassword" ng-show="updatePassword">
                <div class="content w-change-password d-change-password">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">原密码：</label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="oldpassword" class="form-control" placeholder="原密码">
                                <span ng-if="isoldpassword" class="ion-minus-circled error"><em ng-bind="isoldpassword"></em></span>
                                <span ng-if="isoldpassword===0?true:false" class="ion-checkmark-circled succes"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">新密码：</label>
                            <div class="col-sm-6">
                                <input type="password" maxlength="16" ng-model="newpassword" class="form-control" placeholder="8-16的字母、数字或字符">
                                <span ng-if="isnewpassword" class="ion-minus-circled error"><em ng-bind="isnewpassword"></em></span>
                                <span ng-if="isnewpassword===0?true:false" class="ion-checkmark-circled succes"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label">确认密码：</label>
                            <div class="col-sm-6">
                                <input type="password" maxlength="16" ng-model="newconfirmPassword" class="form-control" placeholder="请重新输入您的密码">
                                <span ng-if="isnewconfirmPassword" class="ion-minus-circled error"><em ng-bind="isnewconfirmPassword"></em></span>
                                <span ng-if="isnewconfirmPassword===0?true:false" class="ion-checkmark-circled succes"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-4">
                                <a ng-click="UpdatePassword()" class="btn btn-primary">确认修改</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- script -->
<script src="assets/js/ng-js/angular-factory.js"></script>
<script src="assets/js/ng-js/schools-account-setpassword.js"></script>
</body>
</html>