<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


	<bean id="cmsSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  destroy-method="close">
		<property name="driverClass" value="${db.driverClassName}"/>
		<property name="jdbcUrl" value="${db.cms.url}"/>
		<property name="user" value="${db.username}"/>
		<property name="password" value="${db.password}"/>
		<property name="minPoolSize" value="${minPoolSize}"/>
		<property name="maxPoolSize" value="${maxPoolSize}"/>
		<property name="initialPoolSize" value="${initialPoolSize}"/>
		<property name="acquireIncrement" value="${acquireIncrement}"/>
		<property name="maxIdleTime" value="${maxIdleTime}"/>
		<property name="maxStatements" value="${maxStatements}"/>
		<property name="idleConnectionTestPeriod" value="${idleConnectionTestPeriod}"/>
		<property name="acquireRetryAttempts" value="${acquireRetryAttempts}"/>
		<property name="breakAfterAcquireFailure" value="${breakAfterAcquireFailure}"/>
		<property name="testConnectionOnCheckout" value="${testConnectionOnCheckout}"/>
		<property name="autoCommitOnClose" value="${autoCommitOnClose}"></property>
		<property name="preferredTestQuery" value="${preferredTestQuery}"></property>
		<property name="maxConnectionAge" value="${maxConnectionAge}" />
	</bean>
    
	<bean id="commonSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${datasource.driverClassName}"/>
		<property name="jdbcUrl" value="${db.common.url}"/>
		<property name="user" value="${db.username}"/>
		<property name="password" value="${db.password}"/>
		<property name="minPoolSize" value="${minPoolSize}"/>
		<property name="maxPoolSize" value="${maxPoolSize}"/>
		<property name="initialPoolSize" value="${initialPoolSize}"/>
		<property name="acquireIncrement" value="${acquireIncrement}"/>
		<property name="maxIdleTime" value="${maxIdleTime}"/>
		<property name="maxStatements" value="${maxStatements}"/>
		<property name="idleConnectionTestPeriod" value="${idleConnectionTestPeriod}"/>
		<property name="acquireRetryAttempts" value="${acquireRetryAttempts}"/>
		<property name="breakAfterAcquireFailure" value="${breakAfterAcquireFailure}"/>
		<property name="testConnectionOnCheckout" value="${testConnectionOnCheckout}"/>
		<property name="autoCommitOnClose" value="${autoCommitOnClose}"></property>
		<property name="preferredTestQuery" value="${preferredTestQuery}"></property>
		<property name="maxConnectionAge" value="${maxConnectionAge}" />
	</bean>
	
	
	<!-- pay-log -->
	<bean id="logSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${datasource.driverClassName}"/>
		<property name="jdbcUrl" value="${db.log.url}"/>
		<property name="user" value="${db.username}"/>
		<property name="password" value="${db.password}"/>
		<property name="minPoolSize" value="${minPoolSize}"/>
		<property name="maxPoolSize" value="${maxPoolSize}"/>
		<property name="initialPoolSize" value="${initialPoolSize}"/>
		<property name="acquireIncrement" value="${acquireIncrement}"/>
		<property name="maxIdleTime" value="${maxIdleTime}"/>
		<property name="maxStatements" value="${maxStatements}"/>
		<property name="idleConnectionTestPeriod" value="${idleConnectionTestPeriod}"/>
		<property name="acquireRetryAttempts" value="${acquireRetryAttempts}"/>
		<property name="breakAfterAcquireFailure" value="${breakAfterAcquireFailure}"/>
		<property name="testConnectionOnCheckout" value="${testConnectionOnCheckout}"/>
		<property name="autoCommitOnClose" value="${autoCommitOnClose}"></property>
		<property name="preferredTestQuery" value="${preferredTestQuery}"></property>
		<property name="maxConnectionAge" value="${maxConnectionAge}" />
	</bean>

	
	<!-- spring事务管理器 -->
	<bean id="cmsTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="cmsSource"/>
	</bean>
	
	<bean id="commonTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="commonSource"/>
	</bean>
	
	<bean id="logTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="logSource"/>
	</bean>
	
	<tx:advice id="txAdvice" transaction-manager="commonTransactionManager">
		<tx:attributes>
		<tx:method name="save*" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="add*" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="expend*" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="modify*" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="reject" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="pass" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="financePass" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="tellerTransfer" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="remove*" propagation="REQUIRED" rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>
	
	<tx:annotation-driven transaction-manager="cmsTransactionManager"/>
	
	<tx:advice id="cmstxAdvice" transaction-manager="cmsTransactionManager">
		<tx:attributes>
		<tx:method name="save*" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="add*" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="expend*" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="modify*" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="reject" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="grant" propagation="REQUIRED" rollback-for="Exception" />
		<tx:method name="remove*" propagation="REQUIRED" rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>
	
	<tx:annotation-driven transaction-manager="commonTransactionManager"/>
	
	<tx:annotation-driven transaction-manager="logTransactionManager"/>
	
	<aop:config>
		<aop:pointcut id="cmsServicePointcut"
			expression="execution(* com.lili.finance.service.impl.cms..*Impl.*(..))"/>
		<aop:advisor advice-ref="cmstxAdvice" pointcut-ref="cmsServicePointcut"/>
	</aop:config>
	
	<aop:config>
		<aop:pointcut id="servicePointcut"
			expression="execution(* com.lili.finance.service.impl.common..*Impl.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="servicePointcut"/>
	</aop:config>
</beans>