<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lili.bbs.dao.mapper.BbsExtendMapper">
	<resultMap id="BaseResultMap" type="com.lili.bbs.dto.BbsExtend">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="bbs_id" property="bbsId" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		<result column="ext" property="ext" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, bbs_id, title, content, pic, ext
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_s_bbs_extend
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_s_bbs_extend
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="com.lili.bbs.dto.BbsExtend">
		insert into t_s_bbs_extend (id, bbs_id, title, content, pic, ext)
		values (
			#{id,jdbcType=INTEGER}, #{bbsId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
			#{content,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertSelective" parameterType="com.lili.bbs.dto.BbsExtend">
		insert into t_s_bbs_extend
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="bbsId != null">
				bbs_id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="pic != null">
				pic,
			</if>
			<if test="ext != null">
				ext,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="bbsId != null">
				#{bbsId,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="pic != null">
				#{pic,jdbcType=VARCHAR},
			</if>
			<if test="ext != null">
				#{ext,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.lili.bbs.dto.BbsExtend">
		update t_s_bbs_extend
		<set>
			<if test="bbsId != null">
				bbs_id = #{bbsId,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="pic != null">
				pic = #{pic,jdbcType=VARCHAR},
			</if>
			<if test="ext != null">
				ext = #{ext,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateByBbsId" parameterType="com.lili.bbs.dto.BbsExtend">
		update t_s_bbs_extend
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="pic != null">
				pic = #{pic,jdbcType=VARCHAR},
			</if>
			<if test="ext != null">
				ext = #{ext,jdbcType=VARCHAR},
			</if>
		</set>
		where bbs_id = #{bbsId,jdbcType=INTEGER}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.lili.bbs.dto.BbsExtend">
		update t_s_bbs_extend
		set bbs_id = #{bbsId,jdbcType=INTEGER},
		title = #{title,jdbcType=VARCHAR},
		content = #{content,jdbcType=VARCHAR},
		pic = #{pic,jdbcType=VARCHAR},
		ext = #{ext,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>