<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lili.bbs.dao.mapper.BbsWordMapper">
	<resultMap id="BaseResultMap" type="com.lili.bbs.dto.BbsWord">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="word" property="word" jdbcType="VARCHAR" />
		<result column="user_type" property="userType" jdbcType="TINYINT" />
		<result column="is_del" property="isDel" jdbcType="TINYINT" />
		<result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
		<result column="cuid" property="cuid" jdbcType="BIGINT" />
		<result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
		<result column="muid" property="muid" jdbcType="BIGINT" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, word, user_type, is_del, ctime, cuid, mtime, muid
	</sql>
	
	 <sql id="myRowBoundsSQL">
	    <if test="myRowBounds != null">
	        limit ${myRowBounds.offset}, ${myRowBounds.limit}
		 </if>
	 </sql>
	
 	<select id="countBbsWordSize" resultType="java.lang.Integer" parameterType="com.lili.bbs.dto.BbsWord">
		select  count(*)  from t_s_bbs_word where is_del = 0
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_s_bbs_word
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="getBBSWordList" resultMap="BaseResultMap" parameterType="com.lili.bbs.dto.BbsWord">
		select
			<include refid="Base_Column_List" />
		from t_s_bbs_word
		where is_del = 0 
			<trim suffixOverrides=",">
					<if test="userType != null and userType != ''">
						and user_type = #{userType,jdbcType=INTEGER} 
					</if>
			</trim>
			order by ctime desc 
			<include refid="myRowBoundsSQL" />
	</select>
	
	<select id="queryBbsWord" resultMap="BaseResultMap" parameterType="com.lili.bbs.dto.BbsWord">
		select
			<include refid="Base_Column_List" />
		from t_s_bbs_word
		where is_del = 0 
			<trim suffixOverrides=",">
				<if test="userType != null and userType != ''">
					and user_type = #{userType,jdbcType=INTEGER} 
				</if>
				<if test="word != null and word != ''">
					and word = #{word,jdbcType=VARCHAR} 
				</if>
			</trim>
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_s_bbs_word
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="com.lili.bbs.dto.BbsWord">
		insert into t_s_bbs_word (id, word, user_type,
		is_del, ctime, cuid,
		mtime, muid)
		values (#{id,jdbcType=INTEGER}, #{word,jdbcType=VARCHAR},
		#{userType,jdbcType=TINYINT},
		#{isDel,jdbcType=TINYINT}, #{ctime,jdbcType=TIMESTAMP}, #{cuid,jdbcType=BIGINT},
		#{mtime,jdbcType=TIMESTAMP}, #{muid,jdbcType=BIGINT})
	</insert>
	
	<insert id="insertSelective" parameterType="com.lili.bbs.dto.BbsWord">
		insert into t_s_bbs_word
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="word != null">
				word,
			</if>
			<if test="userType != null">
				user_type,
			</if>
			<if test="isDel != null">
				is_del,
			</if>
			<if test="ctime != null">
				ctime,
			</if>
			<if test="cuid != null">
				cuid,
			</if>
			<if test="mtime != null">
				mtime,
			</if>
			<if test="muid != null">
				muid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="word != null">
				#{word,jdbcType=VARCHAR},
			</if>
			<if test="userType != null">
				#{userType,jdbcType=TINYINT},
			</if>
			<if test="isDel != null">
				#{isDel,jdbcType=TINYINT},
			</if>
			<if test="ctime != null">
				#{ctime,jdbcType=TIMESTAMP},
			</if>
			<if test="cuid != null">
				#{cuid,jdbcType=BIGINT},
			</if>
			<if test="mtime != null">
				#{mtime,jdbcType=TIMESTAMP},
			</if>
			<if test="muid != null">
				#{muid,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.lili.bbs.dto.BbsWord">
		update t_s_bbs_word
		<set>
			<if test="word != null">
				word = #{word,jdbcType=VARCHAR},
			</if>
			<if test="userType != null">
				user_type = #{userType,jdbcType=TINYINT},
			</if>
			<if test="isDel != null">
				is_del = #{isDel,jdbcType=TINYINT},
			</if>
			<if test="ctime != null">
				ctime = #{ctime,jdbcType=TIMESTAMP},
			</if>
			<if test="cuid != null">
				cuid = #{cuid,jdbcType=BIGINT},
			</if>
			<if test="mtime != null">
				mtime = #{mtime,jdbcType=TIMESTAMP},
			</if>
			<if test="muid != null">
				muid = #{muid,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.lili.bbs.dto.BbsWord">
		update t_s_bbs_word
		set word = #{word,jdbcType=VARCHAR},
		user_type = #{userType,jdbcType=TINYINT},
		is_del = #{isDel,jdbcType=TINYINT},
		ctime = #{ctime,jdbcType=TIMESTAMP},
		cuid = #{cuid,jdbcType=BIGINT},
		mtime = #{mtime,jdbcType=TIMESTAMP},
		muid = #{muid,jdbcType=BIGINT}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
</mapper>