<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="ChangePassword">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>修改密码</title>
	<link rel="stylesheet" href="assets/css/main.css">
	<script src="assets/common/js/commonStart.js"></script>
</head>
<body>
<!-- main 区域 -->
<div id="content" class="content main-content" >
	<!-- 主体内容 -->
	<div class="common-style withdraw-cash">
		<div class="title"><h1>个人设置</h1></div>
		<div class="table-margin common-table">
			<div class="header">修改密码</div>
			<div class="content w-change-password">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-4 control-label">原密码</label>
				    <div class="col-sm-6">
				      <input type="password"  ng-blur="checkOldPassWord()" ng-model="oldPassword" class="form-control" placeholder="原密码">
				      <span ng-if="isoldPassword" class="ion-minus-circled error"><em ng-bind="isoldPassword"></em></span>
				      <span ng-if="isoldPassword===0?true:false" class="ion-checkmark-round succes"></span>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-4 control-label">新密码</label>
				    <div class="col-sm-6">
				      <input type="password" ng-blur="checkNewPassWord()" ng-model="newPassword" class="form-control" placeholder="新密码">
				      <span ng-if="isnewPassword" class="ion-minus-circled error"><em ng-bind="isnewPassword"></em></span>
				      <span ng-if="isnewPassword===0?true:false" class="ion-checkmark-round succes"></span>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-4 control-label">确认密码</label>
				    <div class="col-sm-6">
				      <input type="password" ng-blur="checkShrePassWord()" ng-model="confirmPassword" class="form-control" placeholder="确认密码">
				      <span ng-if="isconfirmPassword" class="ion-minus-circled error"><em ng-bind="isconfirmPassword"></em></span>
				      <span ng-if="isconfirmPassword===0?true:false" class="ion-checkmark-round succes"></span>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-4 col-sm-4">
				      <a ng-click="submitChangePassword()" class="btn btn-primary">确认</a>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>	
</div>
<!-- script -->
<script src="assets/js/ng-js/change-password.js"></script>
<script>win.hideLoading()</script>
</body>
</html>