<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="CoachOpenDetails">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>教练认证信息</title>
	<link rel="stylesheet" href="assets/css/main.css">
	<script src="assets/common/js/commonStart.js"></script>
</head>
<body>
<!-- main 区域 -->
<div id="content" class="content main-content" >
	<!-- 主体内容 -->
	<div class="common-style withdraw-cash order-detail data-coupon">
        <div class="d-title">教练 &gt; 查看认证信息</div>
        <div class="top">
            <div class="z-font18 clearfix">
                <span class="light">状态：</span>
                <span class="z-mr20 light" ng-bind="dataView.checkDrState|regCoachState"></span>
                <span class="light" ng-if="(dataView.checkDrState==2)||(dataView.checkDrState==3)">审核人员：{{dataView.carCheckList[0].updater}}</span>
            </div>
            <p class="z-font14" ng-if="dataView.checkDrState==3">原因：<i ng-bind="(dataView.checkDrRemark)?dataView.checkDrRemark:'暂无'"></i></p>
        </div>
		<div class="clearfix"></div>
		<div class="coach-open-details z-common-wrap" style="width: 750px; margin: 0 auto;">
            <h2 class="z-common-h2 mt20">
                基础信息
                <a href="coach-open.html" class="btn btn-sm btn-default z-fr">返回</a>
            </h2>
            <table class="table-bordered z-common-table coach-open-car">
                <tbody><tr>
                    <th><i class="ion-information-circled ico-update" ng-class="{true:'z-fontsky'}[(dataView.isNewDrPhoto==1)||(dataView.isNewDrPhoto==3)]"></i>驾驶证正本</th>
                    <th><i class="ion-information-circled ico-update" ng-class="{true:'z-fontsky'}[(dataView.isNewDrPhoto==2)||(dataView.isNewDrPhoto==3)]"></i>驾驶证副本</th></tr>
                <tr>
                    <td width="50%">
                        <img ng-src="{{dataView.drPhoto|qiniuImg}}" class="previewImg">
                    </td>
                    <td width="50%">
                        <img ng-src="{{dataView.drPhoto2|qiniuImg}}" class="previewImg">
                    </td>
                </tr>
                </tbody>
            </table>
            <p style="margin-bottom: 40px; padding: 5px 10px; background: #f0f0f0; border-radius: 4px;">所属城市：{{dataView.cityName}}</p>
            <div class="coach-open-car-item z-border-box" style="padding:0 20px 0 20px" ng-repeat="item in dataView.carCheckList">
                <h2 class="z-common-h2 mt20">接单车辆{{$index+1}} <span><i class="ion-information-circled ico-update "  ng-class="{true:'z-fontsky'}[(item.isNewCarDrive==1)||(item.isNewCarDrive==3)]"></i>车牌：{{item.carNo}} | <i class="ion-information-circled ico-update "  ng-class="{true:'z-fontsky'}[(item.isNewCarDrive==2)||(item.isNewCarDrive==3)]"></i>车型：C{{item.driveType}}</span></h2>
                <table class="table-bordered z-common-table coach-open-car">
                    <tbody><tr>
                        <th><i class="ion-information-circled ico-update" ng-class="{true:'z-fontsky'}[(item.isNewDrivePhoto==1)||(item.isNewDrivePhoto==3)]"></i>行驶证正本</th>
                        <th><i class="ion-information-circled ico-update" ng-class="{true:'z-fontsky'}[(item.isNewDrivePhoto==2)||(item.isNewDrivePhoto==3)]"></i>行驶证副本</th>
                        <th><i class="ion-information-circled ico-update" ng-class="{true:'z-fontsky'}[item.isNewCarImg==1]"></i>身车照片</th>
                    </tr>
                    <tr>
                        <td width="33.33%">
                            <img ng-src="{{item.drivePhoto|qiniuImg}}" class="previewImg">
                        </td>
                        <td width="33.33%">
                            <img src="{{item.drivePhoto2|qiniuImg}}" class="previewImg">
                        </td>
                        <td width="33.33%">
                            <img src="{{item.carImg|qiniuImg}}" class="previewImg">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
		</div>
        <div class="z-caozuo z-mt20 z-mb20">
            <button ng-if="(dataView.checkDrState==1)&&(120325|isAccessShow)" class="btn btn-danger btn-sm" ng-click="setNG()" id="btn_submit">审核不通过</button>
            <button ng-if="(dataView.checkDrState==1)&&(120325|isAccessShow)" class="btn btn-primary btn-sm" ng-click="setPass(dataView.cityName)" id="btn_submit">审核通过</button>
            <a ng-if="120324|isAccessShow" class="btn btn-primary btn-sm" href="coach-open-edit.html?coachId={{dataView.coachId}}">编辑</a>
        </div>
	</div>	
</div>

<!-- script -->
<script src="assets/js/ng-js/coach-open-details.js"></script>
</body>
</html>