<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="ExcelCar">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>导入教练车信息结果</title>
	<link rel="stylesheet" href="assets/css/main.css">
	<script src="assets/common/js/commonStart.js"></script>
</head>
<body>
<!-- main 区域 -->
<div id="content" class="content main-content" >
	<!-- 主体内容 -->
	<div class="common-style withdraw-cash">
		<div class="title"><h1>导入教练车信息</h1></div>
		<div class="table-margin common-table">
			<div class="header">导入教练车错误列表</div>
			<div class="content">

				<div class="senior-search row">
					<div class="col-xs-12 col-sm-8">
					</div>
					<div class="col-xs-12 col-sm-4 select text-right">
						<span>每页</span>
						<select ng-model="pageSize" ng-change="getDataForPage()" class="form-control">
							<option value="10" selected="selected">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
						  	<option value="100">100</option>
						</select>
						<span>条记录</span>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-with-style">
					  <tr>
					  	<td><b>车品牌</b></td>
					  	<td><b>车牌号</b></td>
					  	<td><b>动力</b></td>
					  	<td><b>购车日期</b></td>
					  	<td><b>驾驶类型</b></td>
					  	<td><b>发动机号</b></td>
					  	<td><b>绑定教练</b></td>
					  	<td><b>导入状态</b></td>
					  	<td><b>备注</b></td>
					  </tr>
					  <tr ng-repeat="item in datas">
					  	<td ng-bind="item.cartype"></td>
					  	<td ng-bind="item.carno"></td>
					  	<td ng-bind="item.carpower"></td>
					  	<td ng-bind="item.buytime | timeTex"></td>
					  	<td ng-bind="item.drivetype"></td>
					  	<td ng-bind="item.carengineno"></td>
					  	<td ng-bind="item.coachname"></td>
					  	<td class="error">错误</td>
					  	<td ng-bind="item.extra"></td>
					  </tr>
					</table>
				</div>
				<div class="page">
					<div id="copot-page" class="copot-page"></div>
				</div>
			</div>
		</div>
	</div>	
</div>
<!-- script -->
<script src="assets/js/ng-js/excel-show-car.js"></script>
</body>
</html>