<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="Recharge">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>充值</title>
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/common/daterangepicker/css/daterangepicker.css">
	<script src="assets/common/js/commonStart.js"></script>
</head>
<body>
<!-- main 区域 -->
<div id="content" class="content main-content" >
	<!-- 主体内容 -->
	<div class="common-style withdraw-cash order-detail data-statistics student-position">
		<!-- 优惠券 -->
		<div class="title">
			<div class="d-title">充值</div>
			<ul class="table-li">
				<li class="active" ng-if="130801|isAccessShow"><a href="recharge.html">个人充值</a></li>
				<li ng-if="130901|isAccessShow"><a href="recharge-discount.html">优惠充值</a></li>
			</ul>
		</div>
		<div class="padding-20">
			<div class="table-margin common-table">
				<div class="header">充值记录</div>
				<div class="content">
					<div class="search">
						<div class="line">
							<div>筛选时间</div>
							<ul>
								<li ng-click="getDataForTime($event,'all')" class="active">全部</li>
								<li ng-click="getDataForTime($event,'0')">最近7天</li>
								<li ng-click="getDataForTime($event,'1')">最近15天</li>
							</ul>
							<div class="input-prepend input-group">
								<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
								<input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" placeholder="自定义时间筛选" />
							</div>
						</div>
						<div class="line">
							<div>用户类型</div>
							<ul>
								<li ng-click="userType($event,'')" class="active">全部</li>
								<li ng-click="userType($event,1)">教练</li>
								<li ng-click="userType($event,2)">学员</li>
							</ul>
						</div>
						<div class="line">
							<div>高级查询</div>
							<div class="input-group search-more-condition">
								<select ng-model="searchType" class="form-control">
									<option value="phoneNum" selected="selected">手机号</option>
								</select>
								<input type="text" ng-model="search" class="form-control" placeholder="输入手机号查询">
					      <span class="input-group-btn">
					        <a class="btn btn-default" ng-click="getDataForSearch()">搜索</a>
					      </span>
							</div>
						</div>
					</div>
					<div class="senior-search row">
						<div class="col-xs-12 col-sm-4 col-md-8">
							<!--未测屏蔽 <a ng-click="rechargeDataExport()" class="btn btn-sm btn-primary">数据导出</a> -->
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 select text-right">
							<span>每页</span>
							<select ng-model="pageSize" ng-change="getDataForPage()" class="form-control">
								<option value="10" selected="selected">10</option>
								<option value="20">20</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
							<span>条记录</span>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-striped">
							<tr>
								<td><b>充值时间</b></td>
								<td><b>充值订单号</b></td>
								<td><b>三方交易流水号</b></td>
								<td><b>帐户</b></td>
								<td><b>姓名</b></td>
								<td><b>电话</b></td>
								<td><b>充值金额</b></td>
								<td><b>用户类型</b></td>
								<td><b>支付方式</b></td>
							</tr>
							<tr ng-repeat="item in datas" ng-class="{'disable-bac': item.orderState!=0?true:false}">
								<td ng-bind="item.operateTime | timeTex"></td>
								<td ng-bind="item.orderId"></td>
								<td ng-bind="item.waterNum"></td>
								<td ng-bind="item.userId"></td>
								<td ng-bind="item.name"></td>
								<td ng-bind="item.phoneNum"></td>
								<td ng-bind="item.changeValue/100"></td>
								<td ng-bind="item.userType==1?'教练':'学员'"></td>
								<td ng-bind="item.payWay | payWayType"></td>
							</tr>
						</table>
					</div>
					<div class="page">
						<div id="copot-page" class="copot-page"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- script -->
<script src="assets/common/daterangepicker/js/moment.js"></script>
<script src="assets/common/daterangepicker/js/daterangepicker.js"></script>
<script src="assets/js/ng-js/angular-factory.js"></script>
<script src="assets/js/ng-js/recharge.js"></script>
</body>
</html>