<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="OrderDetails">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>学员详情</title>
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/common/daterangepicker/css/daterangepicker.css">
	<script src="assets/common/js/commonStart.js"></script>
</head>
<body>
<body class="student-body">
<!-- main 区域 -->
<div id="content" class="content main-content" >
	<!-- 主体内容 -->
	<div class="common-style withdraw-cash order-detail">
		<div class="student">
			<div class="pull-left head"><img src="{{studentDetails.headIcon}}"></div>
			<div class="pull-left details">
				<dl class="msg">
					<dt>
						<span ng-bind="studentDetails.name?studentDetails.name:'喱喱同学'"></span>
						<span ng-class="['type', studentDetails.checkIdState==2?'succes':'error']" ng-bind="studentDetails.checkIdState | checkIdStateText"></span>
					</dt>
					<dd>学员ID：<span ng-bind="studentDetails.studentId"></span> &nbsp;&nbsp;|&nbsp;&nbsp;学员类型：<span>喱喱学员</span> &nbsp;&nbsp;|&nbsp;&nbsp;性别：<span ng-bind="studentDetails.sex | sexText"></span> &nbsp;&nbsp;|&nbsp;&nbsp; 年龄：<span ng-bind="studentDetails.age"></span> &nbsp;&nbsp;|&nbsp;&nbsp; 户籍：<span ng-bind="studentDetails.hometown"></span></dd>
					<dd>电话：<span ng-bind="studentDetails.phoneNum"></span>&nbsp;&nbsp;|&nbsp;&nbsp;城市：<span ng-bind="studentDetails.cityId | cityText"></span>&nbsp;&nbsp;|&nbsp;&nbsp;驾校：<span ng-bind="studentDetails.school"></span></dd>
					<dd>身份证：<span ng-bind="studentDetails.idNumber"></span></dd>
					<dd>驾考类别：<span ng-bind="studentDetails.applyCarType | applyCarTypeTex"></span>&nbsp;&nbsp;|&nbsp;&nbsp;职业：<span ng-bind="studentDetails.career"></span>&nbsp;&nbsp;|&nbsp;&nbsp;帐号状态：<span ng-bind="studentDetails.state | accountStateText"></span>&nbsp;&nbsp;|&nbsp;&nbsp;责任客服：<span ng-bind="studentDetails.cs"></span>&nbsp;&nbsp;|&nbsp;&nbsp;学员状态：<span ng-bind="(studentDetails.applyexam+','+studentDetails.applystate) | studentStateText"></span></dd>
					
				</dl>
			</div>
			<div class="edit"><span ng-if="120502|isAccessShow" ng-click="studentEdit(studentDetails)">编辑</span></div>
		</div>
		<div class="clearfix"></div>
		<ul class="table-li">
			<li ng-click="tableSwitch($event)" class="active" ng-show="120508|isAccessShow">历史订单</li>
			<li ng-click="tableSwitch($event)" ng-show="120510|isAccessShow">个人账户</li>
			<li ng-click="tableSwitch($event)" ng-show="120511|isAccessShow">操作日志</li>
			<li ng-click="tableSwitch($event)" ng-show="120511|isAccessShow">进度</li>
			<li ng-click="tableSwitch($event)" ng-show="120523|isAccessShow">属性</li>
		</ul>
		<div class="order-table common-table" id="order-table">
			<!-- 历史订单 -->
			<div>
				<div class="search">
					<div class="line">
						<div>支付状态</div>
						<ul>
							<li ng-click="getDataForPayment($event,'')" class="active">全部</li>
							<li ng-click="getDataForPayment($event,1)">已付款</li>
							<li ng-click="getDataForPayment($event,0)">未付款</li>
							<li ng-click="getDataForPayment($event,2)">支付失败</li>
							<li ng-click="getDataForPayment($event,9)">老学员自动付款</li>
						</ul>
					</div>
					<div class="line">
						<div>单号查询</div>
						<div class="input-group">
					      <input type="text" ng-model="orderId" class="form-control" placeholder="条件查询">
					      <span class="input-group-btn">
					        <a class="btn btn-default" ng-click="getDataForSearch()">搜索</a>
					      </span>
					    </div>
					</div>
				</div>
				<div class="senior-search row">
					<div class="col-xs-12 col-sm-4">
						<a ng-if="120509|isAccessShow" ng-click="closeOrder()" class="btn btn-sm btn-danger">关闭订单</a>
					</div>
					<div class="col-xs-12 col-sm-offset-4 col-sm-4 select text-right">
						<span>每页</span>
						<select ng-model="pageSize" ng-change="getDataForPage()" class="form-control">
							<option value="10" selected="selected">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
						  	<option value="100">100</option>
						</select>
						<span>条记录</span>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
					  <tr>
					  	<td align="center" style="width:80px;"><input type="checkbox" ng-model="checkAll" ng-click="selectionAll($event)"></td>
					  	<td><b>订单号</b></td>
					  	<td><b>学员</b></td>
					  	<td><b>教练</b></td>
					  	<td><b>上课时间</b></td>
					  	<td><b>下课时间</b></td>
					  	<td><b>课程</b></td>
					  	<td><b>场地</b></td>
					  	<td><b>教练车</b></td>
					  	<td><b>金额(元)</b></td>
					  	<td><b>支付状态</b></td>
					  	<td><b>订单状态</b></td>
						<td><b>学员评价得分</b></td>
					  </tr>
					  <tr ng-repeat="data in datas">
					  	<td align="center"><input type="checkbox" ng-click="updateSelection($event,data.orderId)" ng-checked="isSelected(data.orderId)" ></td>
					  	<td> <a href="order-details.html?orderId={{ data.orderId }}" data-bubble="{{ data.orderId }}" class="layerBubble" ng-bind="data.orderId | limitToSec:10"></a> </td>
					  	<td ng-bind="data.studentName"></td>
					  	<td> <a href="coach-details.html?coachId={{data.coachId}}" ng-bind="data.coachName"></a> </td>
					  	<td ng-bind="data.rstart | timeTex"></td>
					  	<td ng-bind="data.rend | timeTex"></td>
					  	<td ng-bind="data.courseName"></td>
					  	<td ng-bind="data.stuAddr"></td>
					  	<td><a href="car-details.html?carId={{data.carId}}" ng-bind="data.carNo"></a></td>
					  	<td ng-bind="data.price/100"></td>
					  	<td ng-bind="data.payState | payStateTex"></td>
					  	<td ng-bind="data.orderState | orderStateTex"></td>
						<td ng-bind="data.score"></td>
					  </tr>
					</table>
				</div>
				<div class="page">
					<div id="copot-page" class="copot-page"></div>
				</div>
			</div>
			<!-- 个人账户 -->
			<div ng-show="120510|isAccessShow">
				<div class="account-block student-account">
					<h1>财富概况</h1>
					<div class="yue">
						<p>账户余额</p>
						<div><span ng-bind="stuAccount.money/100?stuAccount.money/100:0"></span>元</div>
					</div>
				</div>
				<div class="account-block student-account">
					<h1>有效优惠券</h1>
					<div class="d-coupon-type fl" ng-repeat="item in stuCouponList">
						<div class="d-coupon">
							<b class="djq" ng-if="item.type==0?true:false"></b>
							<b class="ksq" ng-if="item.type==1?true:false"></b>
							<b class="zkq" ng-if="item.type==2?true:false"></b>
							<div class="fl d-title" style="color: #FC5A43" ng-if="item.type==0?true:false" ng-bind="'￥'+item.moneyValue/100"></div>
							<div class="fl d-title" style="color: #FCAF39" ng-if="item.type==1?true:false">全额抵扣</div>
							<div class="fl d-title" ng-if="item.type==2?true:false" ng-bind="item.discount/10+'折'"></div>
							<div class="fl d-conter">
								<span ng-bind="item.name"></span>
								<span ng-bind="item.gettime | timeTex"></span>
								<span ng-bind="item.expiretime | timeTex"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="account-block student-account">
					<h1>银行卡</h1>
					<div class="bank-card">
						<h5>该学员已绑定<span class="succes"> {{stuBankList.length?stuBankList.length:0}} </span>张银行卡</h5>
						<div class="card">
							<div class="card-block" ng-repeat="item in stuBankList">
								<div class="top">
									<div class="pull-left" ng-bind="item.bankName"></div>
									<div class="pull-right"><span>尾号<i ng-bind="item.bankNo | idNumberLast4"></i></span> <span>储蓄卡</span></div>
								</div>
								<div class="bottom">
									<div class="pull-left"><span>快捷支付：</span>已开通</div>
									<div class="pull-right"><img src="assets/img/union-pay.png"></div>
								</div>
							</div>
						</div>
					</div>
				</div> 
				<div class="account-block student-account">
					<h1 class="d-costType">
						<span class="active" ng-click="fy()">费用账单</span>
						<span class="margin-left-15" ng-click="ye()">余额明细</span>
					</h1>
					<div class="search">
						<div class="line fl">
							<div style="width:70px;line-height:35px;">交易时间：</div>
							<!--<ul>-->
							<!--<li ng-click="getDataForTime($event,'1')" class="active">一周</li>-->
							<!--<li ng-click="getDataForTime($event,'2')">一月</li>-->
							<!--<li ng-click="getDataForTime($event,'3')">一年</li>-->
							<!--</ul>-->
							<div class="input-prepend input-group">
									<span class="add-on input-group-addon">
										<i class="glyphicon glyphicon-calendar fa fa-calendar">
										</i>
									</span>
								<input type="text" style="width: 200px" name="reservation" id="reservation"
									   class="form-control" placeholder="自定义时间筛选" />
							</div>
						</div>
					</div>
					<script type="text/javascript">
						$(".d-costType span").click(function(){
							$(this).addClass("active").siblings().removeClass("active");
							$(".mingx").hide().eq($(this).index()).show();
						})
					</script>
					<div class="d-hide mingx" style="display: block;">
						<div class="total">
							<div class="w-40">费用合计：<span class="green">{{stuSumMoney/100}}元</span></div>
							<span style="float: right; display: inline-block">
								<select ng-model="operateType" ng-change="getDataForOperate()" class="form-control jia-xiao">
									<option value="">交易类型</option>
									<option value="0">充值</option>
									<option value="1">提现</option>
									<option value="2">奖金</option>
									<option value="3">补贴</option>
									<option value="5">课时费支付</option>
									<option value="7">报名费支付</option>
									<option value="8">课时费佣金</option>
									<option value="9">报名费佣金</option>
									<option value="10">报名费退款</option>
									<option value="11">报名费佣金退款</option>
									<option value="12">罚款</option>
									<option value="13">报名费结算</option>
									<option value="14">优惠券使用</option>
									<option value="15">挂起订单</option>
									<option value="16">支付挂起订单</option>
									<option value="17">报名违约金</option>
									<option value="18">充值送现金</option>
								</select>
							</span>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-striped stu-table-account">
								<tr>
									<td><b>交易时间</b></td>
									<td><b>交易类型</b></td>
									<td><b>名称</b></td>
									<td><b>订单号</b></td>
									<td><b>交易对象</b></td>
									<td><b>金额(元)</b></td>
									<!--<td><b>余额(元)</b></td>-->
									<td><b>操作</b></td>
								</tr>
								<tr ng-repeat="item in stuMoneyList.dataList">
									<td ng-bind="item.operateTime | timeTex"></td>
									<td ng-bind="item.operateType | operateTypeText"></td>
									<td ng-bind="item.remark"></td>
									<td class="liushui"><span ng-if="item.orderId">订单号：<i ng-bind="item.orderId"></i></span></td>
									<td ng-bind="item.tranObject"></td>
									<td ng-class="{'oringe':item.changeValue?true:false}" ng-bind="item.changeValue/100"></td>
									<!--<td ng-bind="item.leftValue/100"></td>-->
									<td><a href="javascript:void(0)">详情</a> | <a href="javascript:void(0)">备注</a></td>
								</tr>
							</table>
						</div>
                        <div class="page">
                            <div class="total-page copot-page"></div>
                        </div>
					</div>
					<div class="d-hide mingx dd" style="margin-top: 20px;">
						<div class="search">
							<div class="line">
								<div style="width: 75px">交易类型：</div>
								<select ng-model="operateType" ng-change="getDataForOperate()" class="form-control jia-xiao">
									<option value="">交易类型</option>
									<option value="0">充值</option>
									<option value="1">提现</option>
									<option value="2">奖金</option>
									<option value="3">补贴</option>
									<option value="5">课时费支付</option>
									<option value="7">报名费支付</option>
									<option value="8">课时费佣金</option>
									<option value="9">报名费佣金</option>
									<option value="10">报名费退款</option>
									<option value="11">报名费佣金退款</option>
									<option value="12">罚款</option>
									<option value="13">报名费结算</option>
									<option value="14">优惠券使用</option>
									<option value="15">挂起订单</option>
									<option value="16">支付挂起订单</option>
									<option value="17">报名违约金</option>
									<option value="18">充值送现金</option>
								</select>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered table-striped stu-table-account">
								<tr>
									<td><b>交易时间</b></td>
									<td><b>交易类型</b></td>
									<td><b>名称</b></td>
									<td><b>订单号</b></td>
									<td><b>交易对象</b></td>
									<td><b>金额(元)</b></td>
									<td><b>余额(元)</b></td>
									<td><b>操作</b></td>
								</tr>
								<tr ng-repeat="item in stuMoneyList.dataList">
									<td ng-bind="item.operateTime | timeTex"></td>
									<td ng-bind="item.operateType | operateTypeText"></td>
									<td ng-bind="item.remark"></td>
									<td class="liushui"><span ng-if="item.orderId">订单号：<i ng-bind="item.orderId"></i></span></td>
									<td ng-bind="item.tranObject"></td>
									<td ng-class="{'oringe':item.changeValue?true:false}" ng-bind="item.changeValue/100"></td>
									<td ng-bind="item.leftValue/100"></td>
									<td><a href="javascript:void(0)">详情</a> | <a href="javascript:void(0)">备注</a></td>
								</tr>
							</table>
						</div>
						<div class="page">
							<div class="total-page copot-page"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- 操作日志 -->
			<div ng-show="120511|isAccessShow">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
					  <tr>
					  	<td class="w-20"><b>更新时间</b></td>
					  	<td class="w-10"><b>操作人</b></td>
					  	<td><b>操作内容</b></td>
					  </tr>
					  <tr ng-repeat="data in studentLogs">
					  	<td ng-bind="data.operateTime | timeTex"></td>
					  	<td ng-bind="data.userName"></td>
					  	<td ng-bind="(data.detail&&data.detail!='{}')?(data.detail| studentUpdateText): data.remark"></td>
					  </tr>
					</table>
				</div>
				<div class="page">
					<div id="log-page" class="copot-page"></div>
				</div><!-- 操作日志结束 -->
			</div>
			<!-- 进度 -->
			<div ng-show="120511|isAccessShow">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
					  <tr>
					  	<td class="w-20"><b>进度信息</b></td>
					  	<td class="w-10"><b>时间</b></td>
					  </tr>
					  <tr ng-repeat="data in progress">
					  	<td ng-bind="data.result "></td>
					  	<td ng-bind="data.mtime | timeTex"></td>
					  </tr>
					</table>
				</div>
			</div>
			<!-- 属性 -->
			<div ng-show="120523|isAccessShow">
				<div class="attr-row">
                    <div class="attr-item">
                        <span class="tit">注册时间</span>
                        <span ng-bind="studentDetails.registerTime| timeTex"></span>
                    </div>
                    <div class="attr-item">
                        <span class="tit">首次登录时间</span>
                        <span ng-bind="studentDetails.firstLogin|timeTex"></span>
                    </div>
                    <div class="attr-item">
                        <span class="tit">最新登录时间</span>
                        <span ng-bind="studentDetails.lastLogin|timeTex"></span>
                    </div>
                </div>
                <div class="attr-row">
                <div class="attr-item">
                        <span class="tit">登录次数</span>
                        <span ng-bind="studentDetails.loginCount"></span>
                    </div>
                   </div>
                <div class="attr-row">
                    <div class="attr-item">
                        <span class="tit">科目一成绩</span>
                        <span ng-bind="studentDetails.course1"></span>
                    </div>
                    <div class="attr-item">
                        <span class="tit">科目二成绩</span>
                        <span ng-bind="studentDetails.course2"></span>
                    </div>
                    <div class="attr-item">
                        <span class="tit">科目三成绩</span>
                        <span ng-bind="studentDetails.course3"></span>
                    </div>
                    <div class="attr-item">
                        <span class="tit">科目四成绩</span>
                        <span ng-bind="studentDetails.course4"></span>
                    </div>
                </div>
			</div>
		</div>

		<!-- 学员信息编辑 -->
		<ng-include src="'edit/edit-student.html'" onload="sutdentEditLoad()" ></ng-include>
	</div>
</div>
<!-- script -->
<script src="assets/common/daterangepicker/js/moment.js"></script>
<script src="assets/common/daterangepicker/js/daterangepicker.js"></script>
<script src="assets/js/ng-js/angular-factory.js"></script>
<script src="assets/js/ng-js/student-details.js"></script>
</body>
</html>