<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="Student">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>实名认证</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/common/daterangepicker/css/daterangepicker.css">
    <script src="assets/common/js/commonStart.js"></script>
</head>
<body class="student-body">
<!-- main 区域 -->
<div id="content" class="content main-content">
    <!-- 主体内容 -->
    <div class="common-style withdraw-cash order-detail data-statistics student-position">
        <div class="d-title">学员管理</div>
        <ul class="table-li" id="table-li">
            <li class="active" ng-if="120501|isAccessShow"><a href="student.html">喱喱学员</a></li>
            <li ng-if="120401|isAccessShow"><a href="student-for-schol.html">驾校学员</a></li>
        </ul>
        <div class="padding-20">
            <div class="table-margin common-table">
                <div class="header header-tab" id="header-table">
                    <li ng-if="120501|isAccessShow"><a href="student.html">学员列表</a></li>
                    <li ng-if="120513|isAccessShow"><a href="student-distion-school.html">驾校分配情况</a></li>
                    <li class="active" ng-if="120515|isAccessShow"><a href="student-identity-accreditation.html">实名认证</a></li>
                    <li ng-if="120519|isAccessShow"><a href="student-drive-accreditation.html">驾照认证</a></li>
                </div>
                <div class="content table-qie">
                    <div class="search">
                        <div class="line">
                            <div>申请时间:</div>
                            <ul>
                                <li ng-click="getDataForTime($event,'all')" class="active">全部</li>
                                <li ng-click="getDataForTime($event,'0')">最近7天</li>
                                <li ng-click="getDataForTime($event,'1')">最近15天</li>
                            </ul>
                            <div class="input-prepend input-group">
							<span class="add-on input-group-addon">
								<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
							</span>
                                <input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" placeholder="自定义时间筛选"/>
                            </div>
                        </div>
                        <div class="line">
                            <div>认证状态</div>
                            <ul>
                                <li ng-click="getDataForCarType($event,'')" class="active">全部</li>
                                <li ng-click="getDataForCarType($event,1)">审核中</li>
                                <li ng-click="getDataForCarType($event,3)">审核未通过</li>
                                <li ng-click="getDataForCarType($event,2)">已认证</li>
                                <li ng-click="getDataForCarType($event,4)">已过期</li>
                                <li ng-click="getDataForCarType($event,5)">已吊销</li>
                            </ul>
                        </div>
                        <div class="line">
                            <div>电话查询</div>
                            <div class="input-group">
                              <input type="text" ng-model="phoneNum" class="form-control" placeholder="电话号查询">
                              <span class="input-group-btn">
                                <a class="btn btn-default" ng-click="getDataForSearch($event)">搜索</a>
                              </span>
                            </div>
                        </div>
                    </div>
                    <div class="w-search-tag">
                        <div>已选条件</div>
                        <div class="selected">
                            <div class="sel-con">
                                <div ng-repeat="(key, value) in checkAllTag" ng-click="removeTag(key)">{{value}}<span class="ion-ios-close-empty"></span></div>
                            </div>
                            <div class="delete-all" ng-click="removeAllTag()"><span class="ion-ios-trash-outline"></span>清空</div>
                        </div>
                    </div>
                    <div class="senior-search row">
                        <div class="col-xs-12 col-sm-4">
                            <a ng-if="120516|isAccessShow" ng-click="notByIdentity()" class="btn btn-sm btn-primary">不通过</a>
                            <a ng-if="120517|isAccessShow" ng-click="successIdentity()" class="btn btn-sm btn-primary margin-left-15">通过</a>
                            <a ng-if="120518|isAccessShow" ng-click="revokeIdentity()" class="btn btn-sm btn-primary margin-left-15">吊销</a>
                        </div>
                        <div class="col-xs-12 col-sm-offset-4 col-sm-4 select text-right">
                            <span>每页</span>
                            <select style="width:80px;" ng-model="pageSize" ng-change="getDataForPage()" class="form-control">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <span>条记录</span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td align="center" class="td-small-width"><input type="checkbox" ng-model="checkAll" ng-click="selectionAll($event)"></td>
                                <td><b>申请时间</b></td>
                                <td><b>姓名</b></td>
                                <td><b>电话</b></td>
                                <td><b>身份证号</b></td>
                                <td><b>认证名字</b></td>
                                <td><b>认证资料</b></td>
                                <td><b>证件有效期</b></td>
                                <td><b>认证状态</b></td>
                                <td><b>处理人</b></td>
                                <td><b>处理时间</b></td>
                                <td class="t-200"><b>备注</b></td>
                            </tr>
                            <tr ng-repeat="data in datas">
                                <td align="center"><input type="checkbox" id="{{data.id}}" ng-disabled="data.state==2||data.state==4||data.state==5" ng-click="updateSelection($event,data.id)" ng-checked="isSelected(data.id)"></td>
                                <td ng-bind="data.createTime | timeTex"></td>
                                <td ng-bind="data.studentName"></td>
                                <td ng-bind="data.studentPhoneNum"></td>
                                <td ng-bind="data.studentIDNumber"></td>
                                <td ng-bind="data.authName"></td>
                                <td><img class="d-identity-pic" src="assets/img/identity-icon.png" ng-mouseenter="identityAccreditainImg($event,data.studentId)" ng-mouseleave="clearidentityAccImg()"></td>
                                <td ng-bind="data.deadTime | timeTexYMD"></td>
                                <td ng-bind="data.state | studentState"></td>
                                <td ng-bind="data.operateUser"></td>
                                <td ng-bind="data.updateTime | timeTex"></td>
                                <td ng-bind="data.remark"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="page">
                        <div id="copot-page" class="copot-page"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 认证相关照片 -->
    <div id="w-identity-bg" class="w-identity-bg" ng-show="isshow">
        <div><img src="{{ imgData.idPhotoFront }}"></div>
        <div><img src="{{ imgData.idPhotoBack }}"></div>
        <span class="icon"><img src="assets/img/jian-icon.png"></span>
    </div>

</div>
<!-- script -->
<script src="assets/common/daterangepicker/js/moment.js"></script>
<script src="assets/common/daterangepicker/js/daterangepicker.js"></script>
<script src="assets/js/ng-js/angular-factory.js"></script>
<script src="assets/js/ng-js/student-identity-accreditation.js"></script>
</body>
</html>