<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="lessonController">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>理论课培训</title>
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/common/daterangepicker/css/daterangepicker.css">
	<link rel="stylesheet" href="assets/common/daterangepicker/css/datetimepicker.css">
	<script src="assets/common/js/commonStart.js"></script>
</head>
<body>

<!-- main 区域 START -->
<div id="content" class="content main-content" >
	<!-- 主体内容 -->
	<div class="common-style withdraw-cash">
		<div class="title"><h1>理论课培训</h1></div>
		<div class="table-margin common-table">
			<div class="header">课程列表</div>
			<div class="content">
				<div class="search">
					<div class="line">
						<div>所属驾校</div>
						<select ng-model="cityId" class="form-control jia-xiao" ng-change="getSchools()" ng-class="{'error-select':cityError?true:false}">
						  <option value="">请选择城市</option>
						  <option ng-repeat="item in citys" value="{{item.rid}}" ng-bind="item.region"></option>
						</select>
						
						<select ng-model="schoolNo" ng-click="checkHaveCity()" ng-change="getDataForSchool()" class="form-control jia-xiao">
						  <option value="">---选择驾校---</option>
						  <option ng-repeat="item in schools" value="{{item.schoolId}}" ng-bind="item.name"></option>
						</select>
					</div>
					<div class="line">
						<div>创建日期</div>
						<ul>
							<li ng-click="getDataForCTime($event,'')" class="active">全部</li>
							<li ng-click="getDataForCTime($event,'0')">最近7天</li>
							<li ng-click="getDataForCTime($event,'1')">最近15天</li>
						</ul>
						<div class="input-prepend input-group">
							<span class="add-on input-group-addon">
								<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
							</span>
							<input type="text" style="width: 200px" class="form-control" id="cdate" placeholder="自定义时间筛选" ng-model="cdate"/>
						</div>
					</div>
					<div class="line">
						<div>上课日期</div>
						<ul>
							<li ng-click="getDataForSTime($event,'')" class="active">全部</li>
							<li ng-click="getDataForSTime($event,'0')">最近7天</li>
							<li ng-click="getDataForSTime($event,'1')">最近15天</li>
						</ul>
						<div class="input-prepend input-group">
							<span class="add-on input-group-addon">
								<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
							</span>
							<input type="text" style="width: 200px" class="form-control" id="sdate" placeholder="自定义时间筛选" ng-model="sdate"/>
						</div>
					</div>
					<div class="line">
						<div>课程状态</div>
						<ul>
							<li ng-click="getDataForState($event,'')" class="active">全部</li>
							<li ng-click="getDataForState($event,0)">未确认</li>
							<li ng-click="getDataForState($event,1)">待上课</li>
							<li ng-click="getDataForState($event,2)">已上课</li>
							<li ng-click="getDataForState($event,3)">已取消</li>
						</ul>
					</div>
				</div>
				<div class="senior-search row">
					
					<div class="col-sm-4 select text-right z-fr">
						<span>每页</span>
						<select ng-model="pageSize" ng-change="getDataForPage()" class="form-control">
							<option value="10" selected="selected">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
						 <option value="100">100</option>
						</select>
						<span>条记录</span>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-with-style">
						<tr>
							<td><b>创建时间</b></td>
							<td><b>上课日期</b></td>
							<td><b>课程时间</b></td>
							<td><b>课程名称</b></td>
							<td><b>上课地点</b></td>
							<td><b>联系人</b></td>
							<td><b>联系电话</b></td>
							<td><b>携带证件</b></td>
							<td><b>已安排人数</b></td>
							<td><b>缺勤人数</b></td>
							<td><b>课程状态</b></td>
							
						</tr>
						<tr ng-repeat="data in datas">
							<td ng-bind="data.ctime | timeTex"></td>
							<td ng-bind="data.classDate | timeTexYMD"></td>
							<td ng-bind="data.classTime"></td>
							<td><a href="theoretical-lessons-details.html?theoryId={{data.theoryId}}" ng-bind="data.className"></a></td>
							<td ng-bind="data.classPlace"></td>
							<td ng-bind="data.contactName"></td>
							<td ng-bind="data.contactMobile"></td>
							<td ng-bind="data.cardDesc"></td>
							<td ng-bind="data.total"></td>
							<td ng-bind="data.absence"></td>
							<td ng-bind="data.state | lessonStateText" ng-class="{'text-red' : data.state == 3 ,'text-green' : data.state == 2}"</td>
							
						</tr>
					</table>
				</div>
				<div class="page">
					<div id="copot-page" class="copot-page"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- main 区域 END -->
<div id="edit-win" class="edit-alert">
	<div class="mask"></div>
	<div class="main">
	<div id="edit-form" class="content">
		<div class="title">编辑课程 <span ng-click="closeWin()"></span></div>
		<div class="con-main">
			<form>
				<dl>
					<dt>上课日期:</dt>
					<dd>
						<input type="hidden" ng-model="editData.theoryId">
						<input type="text" class="form-control classsDate" ng-model="editData.classDate" ng-readonly="true" data-date-format="yyyy-mm-dd" placeholder="上课日期">
					</dd>
				</dl>
				<dl>
					<dt>课程时间:</dt>
					<dd>
					<div class="form-inline">
						<input type="text" class="form-control timepicker" ng-readonly="true" 
						ng-model="editData.classTime_s" style="width:80px" data-date-format="hh:ii" placeholder="时间起"> --
						<input type="text" class="form-control timepicker" ng-readonly="true" 
						ng-model="editData.classTime_e" style="width:80px" data-date-format="hh:ii" placeholder="时间止">
						</div>
					</dd>
				</dl>
				<dl>
					<dt>课程名称:</dt>
					<dd><input type="text" class="form-control" ng-model="editData.className" ng-minlength="1" placeholder="课程名称"></dd>
				</dl>
				<dl>
					<dt>携带证件:</dt>
					<dd><input type="text" class="form-control" ng-model="editData.cardDesc" placeholder="携带证件"></dd>
				</dl>
				<dl>
					<dt>联系人:</dt>
					<dd><input type="text" class="form-control" ng-model="editData.contactName" placeholder="联系人"></dd>
				</dl>
				<dl>
					<dt>联系电话:</dt>
					<dd><input type="text" class="form-control" ng-model="editData.contactMobile" placeholder="联系电话"></dd>
				</dl>
				<dl>
					<dt>上课地点:</dt>
					<dd><textarea class="form-control" rows="2" ng-model="editData.classPlace" placeholder="上课地点"></textarea></dd>
				</dl>
				<div class="chaozuo">
					<a class="btn btn-sm btn-default" ng-click="closeWin()">取消</a>
					<a class="btn btn-sm btn-primary" ng-click="submitItemInfo()" >确认</a>
				</div>	
			</form>		
		</div>
	</div>
	</div>
</div>
<!-- script -->
<script src="assets/common/daterangepicker/js/moment.js"></script>
<script src="assets/common/daterangepicker/js/daterangepicker.js"></script>
<script src="assets/js/ng-js/angular-factory.js"></script>
<script src="assets/js/ng-js/theoretical-lessons.js"></script>
</body>
</html>