<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="Users">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>用户管理</title>
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/common/daterangepicker/css/daterangepickerV2.1.css">
	<script src="assets/common/js/commonStart.js"></script>
</head>
<body class="coach-body">
<!-- main 区域 -->
<div id="content" class="content main-content" >
    <div class="z-common-head"><div class="z-title">用户管理</div></div>
	<!-- 主体内容 -->
	<div class="common-style">
		<div class="table-margin common-table z-noborder z-mt0">
			<div class="content z-p0">
				<div class="search">
					<div class="line">
						<div>账号状态</div>
						<ul>
							<li ng-click="getDataForAccountStatus($event,'-1')" class="active">全部</li>
							<li ng-click="getDataForAccountStatus($event,0)">正常</li>
							<li ng-click="getDataForAccountStatus($event,1)">已停用</li>
						</ul>
					</div>
					<div class="line">
						<div>高级查询</div>
						<div class="input-group search-more-condition">
						  <select id="search_type" ng-model="searchType" class="form-control">
                              <option value="account" selected="selected">用户名</option>
                              <option value="userName" selected="selected">姓名</option>
                              <option value="phoneNum" selected="selected">手机号</option>
                              <option value="email" selected="selected">邮箱</option>
						  </select>
					      <input id="search_placeholder" type="text" ng-model="search" class="form-control" placeholder="输入用户名查询">
					      <span class="input-group-btn">
					        <a class="btn btn-default" ng-click="getDataForSearch()">搜索</a>
					      </span>
					    </div>
					</div>

				</div>
				<div class="senior-search row">
					<div class="col-xs-12 col-sm-8">
						<a ng-click="userEdit('add')" class="btn btn-sm btn-primary"  ng-if="150102|isAccessShow">新建用户</a>
						<a ng-click="activeAction('cActive')" class="btn btn-sm btn-primary margin-left-15" ng-if="150104|isAccessShow">恢复帐户</a>
						<a ng-click="activeAction('cCancle')" class="btn btn-sm btn-danger margin-left-15" ng-if="150105|isAccessShow">停用帐户</a>
					</div>
					<div class="col-xs-12 col-sm-4 select text-right">
						<span>每页</span>
						<select ng-model="pageSize" ng-change="getDataForPage()" class="form-control">
							<option value="10" selected="selected">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
						  	<option value="100">100</option>
						</select>
						<span>条记录</span>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-with-style">
					  <tr>
					  	<td align="center" class="td-small-width"><input type="checkbox" ng-model="checkAll" ng-click="selectionAll($event)"></td>
					  	<td><b>创建时间</b></td>
					  	<td><b>创建人</b></td>
					  	<td><b>用户名</b></td>
					  	<td><b>姓名</b></td>
					  	<td><b>邮箱</b></td>
					  	<td><b>手机号</b></td>
					  	<!--<td><b>角色</b></td>-->
					  	<td><b>帐号状态</b></td>
					  	<td><b>更新时间</b></td>
					  	<td><b>更新人</b></td>
					  	<td><b>操作</b></td>
					  </tr>
					  <tr ng-repeat="data in datas">
					  	<td align="center"><input type="checkbox" id="{{data.id}}" ng-click="updateSelection($event,data.id)" ng-checked="isSelected(data.id)"></td>
					  	<td ng-bind="data.createTime | timeTex"></td>
					  	<td ng-bind="data.creator"></td>
					  	<td ng-bind="data.account"></td>
					  	<td ng-bind="data.userName"></td>
					  	<td ng-bind="data.email"></td>
					  	<td ng-bind="data.phoneNum"></td>
					  	<!--<td>角色</td>-->
					  	<td ng-bind="data.enabled==0?'正常':'停用'" ng-class="{green:data.enabled==0,error:data.enabled==1}"></td>
					  	<td ng-bind="data.updateTime | timeTex"></td>
					  	<td ng-bind="data.updator"></td>
					  	<td class="operation"><span class="edit" ng-click="userEdit('edit',data)" ng-if="150103|isAccessShow">编辑</span></td>
					  </tr>
					</table>
				</div>
				<div class="page">
					<div id="copot-page" class="copot-page"></div>
				</div>
			</div>
		</div>
		<!-- 教练信息编辑 -->
		<ng-include src="'edit/edit-user.html'" onload="usersEditLoad()" ></ng-include>
	</div>
</div>
<!-- script -->
<script src="assets/js/ng-js/angular-factory.js"></script>
<script src="assets/js/ng-js/user-list.js"></script>
</body>
</html>