<div class="edit-alert school-alert">
    <div class="mask"></div>
    <div class="main">
        <div id="edit-content" class="content">
            <div class="title">{{ editType=='add'?'新增':'编辑' }}班级<span class="closeAlert"></span></div>
            <div class="con-main">
                <form class="student-edit">
                    <dl>
                        <dt><span class="text-require">*</span>班级名称:</dt>
                        <dd><input type="text" ng-model="editData.name" class="form-control" maxlength="50"></dd>
                            <dt style="margin-left: 50px"><span class="text-require">*</span>图标:</dt>
                            <dd><input type="text" ng-model="editData.icon" class="form-control" maxlength="256"></dd>
                    </dl>

                    <dl>
                        <dt><span class="text-require">*</span>所在城市:</dt>
                        <dd>
                            <select ng-model="editData.cityId" class="form-control jia-xiao"  ng-change="getSchools()">
                                <option value="">请选择城市</option>
                                <option ng-repeat="item in citys" value="{{item.rid}}" ng-bind="item.region"></option>
                            </select>
                        </dd>
                        <dt style="margin-left: 50px"><span class="text-require">*</span>所属学校:</dt>
                        <dd>
                            <select ng-model="editData.school_id" class="form-control jia-xiao" >
                                <option value="">请选择学校</option>
                                <option ng-repeat="item in schools" value="{{item.schoolId}}" ng-bind="item.name"></option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt><span class="text-require">*</span>市场价:</dt>
                        <dd><input type="text" ng-model="editData.marketPrice" class="form-control" maxlength="11"></dd>
                        <dt style="margin-left: 50px"><span class="text-require">*</span>报名总价:</dt>
                        <dd><input type="text" ng-model="editData.price" class="form-control" maxlength="11"></dd>
                    </dl>

                    <dl>
                        <dt>报名流程图:</dt>
                        <dd><input type="text" ng-model="editData.procPic" class="form-control" maxlength="256"></dd>
                        <dt style="margin-left: 50px">报考资料:</dt>
                        <dd><input type="text" ng-model="editData.describtion" class="form-control" ></dd>
                    </dl>

                    <dl>
                        <dt><span class="text-require">*</span>报名协议:</dt>
                        <dd><textarea ng-model="editData.protocol" class="form-control" rows="1"></textarea></dd>
                        <dt style="margin-left: 50px">报名条件:</dt>
                        <dd><textarea ng-model="editData.test_condition" class="form-control" rows="1"></textarea></dd>

                    </dl>
                    <dl>
                        <dt><span class="text-require">*</span>摘要:</dt>
                        <dd><textarea type="text" ng-model="editData.title" class="form-control" rows="1" maxlength="256"></textarea></dd>
                        <dt style="margin-left: 50px">价格详情:</dt>
                        <dd><textarea ng-model="editData.priceDetail" class="form-control" rows="1"></textarea></dd>
                    </dl>
                    <div class="chaozuo">
                        <a class="btn btn-sm btn-default closeAlert" ng-click="closeAlert()">取消</a>
                        <a ng-click="submitEditMsg($event)" class="btn btn-sm btn-primary">确认</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

