<div class="edit-alert edit-users">
<div class="mask"></div>
<div class="main">
<div id="edit-users" class="content">
	<div class="title">{{ editType=='add'?'新建':'编辑' }}用户 <span class="closeAlert"></span></div>
	<div class="con-main">
		<form class="user-edit">
			<dl>
				<dt>用户名:</dt>
				<dd><input type="text" ng-model="editData.account" class="form-control" maxlength="20" placeholder="请填写用户名" ng-readonly="userDisable"></dd>
			</dl>
			<dl>
				<dt>姓名:</dt>
                <dd><input type="text" ng-model="editData.userName" class="form-control" maxlength="20" placeholder="请填写用户真实名"></dd>
			</dl>
			<dl>
				<dt>邮箱:</dt>
				<dd><input type="text" ng-model="editData.email" class="form-control" placeholder="请填写用户公司邮箱"></dd>
			</dl>
			<dl>
				<dt>手机号:</dt>
				<dd><input type="text" ng-model="editData.phoneNum" maxlength="11" class="form-control" placeholder="请填写用户手机号邮箱"></dd>
			</dl>
            <dl><dt>&nbsp;</dt><dd>注：新建用户初始密码默认与手机号一致</dd></dl>
			<div class="chaozuo">
				<a class="btn btn-sm btn-default closeAlert" ng-click="closeAlert()">取消</a>
				<a ng-click="submitEditMsg($event)" class="btn btn-sm btn-primary">确认</a>
			</div>	
		</form>
		
	</div>
</div>
</div>
</div>
