<div class="edit-alert">
<div class="mask"></div>
<div class="main">
<div id="edit-content" class="content">
	<div class="title">新增训练场 <span class="closeAlert"></span></div>
	<div class="con-main">
		<form class="student-edit">
			<dl>
				<dt>名称:</dt>
				<dd><input type="text" ng-model="editData.name" class="form-control"></dd>
			</dl>
			<dl>
				<dt>面积范围:</dt>
				<dd><input type="text" ng-model="editData.reverseLim" class="form-control"></dd>
			</dl>
			<dl>
				<dt>联系电话:</dt>
				<dd><input type="text" ng-model="editData.phoneNum" maxlength="11" class="form-control"></dd>
			</dl>
			<dl>
				<dt>选择区域:</dt>
				<dd>
					<!--<select ng-model="cityId" class="form-control jia-xiao" ng-change="getSchools(cityId)" ng-class="{'error-select':cityError?true:false}" style="width:130px;display:inline-block;">-->
					  <!--<option value="">请选择城市</option>-->
					  <!--<option ng-repeat="item in citys" value="{{item.rid}}" ng-bind="item.region"></option>-->
					<!--</select>-->
                    <select ng-model="editData.cityId" id="city_id" class="form-control jia-xiao" ng-change="getSchools(editData.cityId)" ng-class="{'error-select':cityError?true:false}" style="width:130px;display:inline-block;">
                        <option value="">请选择城市</option>
                        <option ng-repeat="item in citys" value="{{item.rid}}" ng-bind="item.region"></option>
                    </select>
					<select ng-model="editData.region"  class="form-control jia-xiao" style="width:130px;display:inline-block;">
						<option value="">选择区域</option>
						<option ng-repeat="item in areas" value="{{item.rid}}" ng-bind="item.region"></option>
					</select>
				</dd>
			</dl>
			<dl>
				<dt>选择驾校:</dt>
				<dd>
					<select ng-model="editData.schoolId" ng-click="checkHaveCity()"  class="form-control jia-xiao" style="display:inline-block;">
						<option value="">选择驾校</option>
						<option ng-repeat="item in schools" value="{{item.schoolId}}" ng-bind="item.name"></option>
					</select>
				</dd>
			</dl>
			<dl>
				<dt>地理位置:</dt>
				<dd><input type="text" ng-model="editData.posDesc" class="form-control"></dd>
			</dl>
			<div class="chaozuo">
				<a class="btn btn-sm btn-default closeAlert" ng-click="closeAlert()">取消</a>
				<a ng-click="submitEditMsg($event)" class="btn btn-sm btn-primary">确认</a>
			</div>	
		</form>
		
	</div>
</div>
</div>
</div>
