<div class="edit-alert edit-coach">
<div class="mask"></div>
<div class="main">
<div id="edit-coach" class="content">
	<div class="title">{{ editType=='add'?'设置':'编辑' }}教练的个人资料 <span class="closeAlert"></span></div>
	<div class="con-main">
		<form class="student-edit">
			<dl class="z-mb20">
				<dt>姓名:</dt>
				<dd><input type="text" ng-model="editData.name" class="form-control"></dd>
			</dl>
			<dl class="z-mb20">
				<dt>性别:</dt>
				<dd>
					<select ng-model="editData.sex" class="form-control">
					  <option value="" selected="selected">请选择</option>
					  <option value="1">男</option>
					  <option value="0">女</option>
					</select>
				</dd>
			</dl>
			<dl class="z-mb20">
				<dt>电话:</dt>
				<dd><input type="text" ng-model="editData.phoneNum" maxlength="11" class="form-control"></dd>
			</dl>
			<div class="chaozuo">
				<a class="btn btn-sm btn-default closeAlert" ng-click="closeAlert()">取消</a>
				<a ng-click="submitEditMsg($event)" class="btn btn-sm btn-primary">确认</a>
			</div>	
		</form>
		
	</div>
</div>
</div>
</div>
