<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lili.school.mapper.WechatCommentPraiseMapper" >
  <resultMap id="BaseResultMap" type="com.lili.school.dto.WechatCommentPraise" >
    <id column="praiseId" property="praiseId" jdbcType="VARCHAR" />
    <result column="commentId" property="commentId" jdbcType="VARCHAR" />
    <result column="studentId" property="studentId" jdbcType="INTEGER" />
    <result column="extra" property="extra" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    praiseId, commentId, studentId, extra, createTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lili.school.dto.WechatCommentPraiseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_wechat_comment_praise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_wechat_comment_praise
    where praiseId = #{praiseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_wechat_comment_praise
    where praiseId = #{praiseId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lili.school.dto.WechatCommentPraiseExample" >
    delete from t_wechat_comment_praise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lili.school.dto.WechatCommentPraise" >
    insert into t_wechat_comment_praise (praiseId, commentId, studentId, 
      extra, createTime)
    values (#{praiseId,jdbcType=VARCHAR}, #{commentId,jdbcType=VARCHAR}, #{studentId,jdbcType=INTEGER}, 
      #{extra,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lili.school.dto.WechatCommentPraise" >
    insert into t_wechat_comment_praise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="praiseId != null" >
        praiseId,
      </if>
      <if test="commentId != null" >
        commentId,
      </if>
      <if test="studentId != null" >
        studentId,
      </if>
      <if test="extra != null" >
        extra,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="praiseId != null" >
        #{praiseId,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null" >
        #{commentId,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="extra != null" >
        #{extra,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lili.school.dto.WechatCommentPraiseExample" resultType="java.lang.Integer" >
    select count(*) from t_wechat_comment_praise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_wechat_comment_praise
    <set >
      <if test="record.praiseId != null" >
        praiseId = #{record.praiseId,jdbcType=VARCHAR},
      </if>
      <if test="record.commentId != null" >
        commentId = #{record.commentId,jdbcType=VARCHAR},
      </if>
      <if test="record.studentId != null" >
        studentId = #{record.studentId,jdbcType=INTEGER},
      </if>
      <if test="record.extra != null" >
        extra = #{record.extra,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_wechat_comment_praise
    set praiseId = #{record.praiseId,jdbcType=VARCHAR},
      commentId = #{record.commentId,jdbcType=VARCHAR},
      studentId = #{record.studentId,jdbcType=INTEGER},
      extra = #{record.extra,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lili.school.dto.WechatCommentPraise" >
    update t_wechat_comment_praise
    <set >
      <if test="commentId != null" >
        commentId = #{commentId,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        studentId = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="extra != null" >
        extra = #{extra,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where praiseId = #{praiseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lili.school.dto.WechatCommentPraise" >
    update t_wechat_comment_praise
    set commentId = #{commentId,jdbcType=VARCHAR},
      studentId = #{studentId,jdbcType=INTEGER},
      extra = #{extra,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where praiseId = #{praiseId,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.lili.school.dto.WechatCommentPraiseExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_wechat_comment_praise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>