<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="Agreement">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>协议条款</title>
	<link rel="stylesheet" href="assets/css/main.css?v=69e7c759711473298817659">
	<script src="assets/common/js/commonStart.js?v=2212439cc61473298817674"></script>
</head>
<body>
<!-- main 区域 -->
<div id="content" class="content main-content" >
	<!-- 主体内容 -->
	<div class="common-style withdraw-cash">
		<div class="title"><h1>协议条款</h1></div>
		<div class="table-margin common-table z-noborder">
			<div class="content">
				<div class="senior-search row">
					<div class="col-xs-12 col-sm-4">
						<a ng-if="100602|isButtonShow" ng-click="agreementEdit('add')" class="btn btn-sm btn-primary">新增协议</a>
					</div>
					<div class="col-xs-12 col-sm-offset-4 col-sm-4 select text-right">
						<span>每页</span>
						<select ng-model="pageSize" ng-change="getDataForPage()" class="form-control">
							<option value="10" selected="selected">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
						  	<option value="100">100</option>
						</select>
						<span>条记录</span>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-with-style">
					  <tr>
					  	<td><b>名称</b></td>
					  	<td><b>上次修改时间</b></td>
					  	<td><b>上次修改人</b></td>
					  	<td><b>操作</b></td>
					  </tr>
					  <tr ng-repeat="item in datas">
					  	<td ng-bind="item.hname"></td>
					  	<td ng-bind="item.mtime | timeTex"></td>
					  	<td>缺省</td>
					  	<td class="operation"><span class="edit" ng-click="agreementEdit('edit',item)">编辑</span></td>
					  </tr>
					</table>
				</div>
				<div class="page">
					<div id="copot-page" class="copot-page"></div>
				</div>
			</div>
		</div>
		
		<!-- 训练场信息编辑 | 新增 -->
		<ng-include src="'edit/edit-agreement.html'" onload="agreementEditLoad()" ></ng-include>
	</div>	
</div>
<!-- script -->
<script src="assets/js/ng-js/agreements.js?v=5a56d7aac81473298817674"></script>

</body>
</html>