<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="OrderDetails">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>订单详情</title>
	<link rel="stylesheet" href="assets/css/main.css?v=69e7c759711473298817659">
	<link rel="stylesheet" href="assets/common/daterangepicker/css/daterangepicker.css">
	<script src="assets/common/js/commonStart.js?v=2212439cc61473298817674"></script>
</head>
<body>
<!-- main 区域 -->
<div id="content" class="content main-content" >
	<!-- 主体内容 -->
	<div class="common-style withdraw-cash order-detail">
		<!-- <ol class="breadcrumb">
		  <li><a href="order.html">订单</a></li>
		  <li><a href="" onclick="location.href=window.location.href;">订单详情</a></li>
		</ol> -->
		<div class="top">
			<div class="order-id">
				<span class="light">订单号：</span>
				<span id="orderId" ng-bind="data.orderId"></span>
				<!-- <span class="payment" id="payment" ng-bind="data.payState | payStateTex"></span> -->
			</div>
			<div class="order-id">
				<span class="light">订单状态：</span>
				<span id="orderId" ng-bind="data.orderState | orderStateTex"></span>
			</div>
			<div class="pull-right">
				<a ng-click="refunds()" ng-show="data.payState==1?true:false" class="btn btn-sm btn-primary" ng-if="120112|isAccessShow">申请退款</a>
				<a ng-if="120101|isAccessShow" ng-click="closeOrder()" class="btn btn-sm btn-danger" >关闭订单</a>
			</div>
		</div>
		<div class="clearfix"></div>
		<ul class="table-li">
			<li ng-click="tableSwitch($event)" class="active" ng-if="120103|isAccessShow">订单信息</li>
			<li ng-click="tableSwitch($event)" ng-if="120108|isAccessShow">操作日志</li>
		</ul>
		<div class="order-table" id="order-table">
			<!-- 订单信息 -->
			<div>
				<table class="table table-bordered table-with-style">
					<tr>
						<td class="t-150"><b>学员</b></td>
						<td class="w-40" ><a href="student-details.html?studentId={{data.studentId}}" ng-bind="data.studentName"></a>
						</td>
						<td class="t-150"><b>教练</b></td>
						<td><a href="coach-details.html?coachId={{data.coachId}}" ng-bind="data.coachName"></a></td>
					</tr>
					<tr>
						<td class="t-150"><b>教练车</b></td>
						<td><a href="car-details.html?carId={{data.carId}}" ng-bind="data.carNo"></a></td>
						<td class="t-150"><b>训练场</b></td>
						<td ng-bind="data.stuAddr"></td>
					</tr>
					<tr>
						<td class="t-150"><b>科目</b></td>
						<td ng-bind="data.courseName"></td>
						<td class="t-150"><b>驾考类别</b></td>
						<td ng-bind="data.dltype | applyCarTypeTex"></td>
					</tr>
					<tr>
						<td class="t-150"><b>生成订单时间</b></td>
						<td ng-bind="data.gtime | timeTex"></td>
						<td class="t-150"><b>开始上课时间</b></td>
						<td ng-bind="data.rstart | timeTex"></td>
					</tr>
					<tr>
						<td class="t-150"><b>课程结束时间</b></td>
						<td ng-bind="data.rend | timeTex"></td>
						<td class="t-150"><b>教练评论时间</b></td>
						<td></td>
					</tr>
					<tr>
						<td class="t-150"><b>学员评论时间</b></td>
						<td></td>
						<td class="t-150"><b>支付时间</b></td>
						<td ng-bind="data.payTime | timeTex"></td>
					</tr>
					<tr>
						<td class="t-150"><b>订单金额</b></td>
						<td ng-bind="data.price/100"></td>
						<td class="t-150"><b>支付状态</b></td>
						<td ng-bind="data.payState | payStateTex"></td>
					</tr>
					<tr>
						<td class="t-150"><b>实付金额</b></td>
						<td ng-bind="data.payTotal/100"></td>
						<td class="t-150"><b>券抵扣金额</b></td>
						<td ng-bind="data.couponTotal/100"></td>
					</tr>
					<tr>
						<td class="t-150"><b>券ID</b></td>
						<td ng-bind="data.coupon"></td>
						<td class="t-150"><b>支付方式</b></td>
						<td ng-bind="data.payWay | payWayType"></td>
					</tr>
				</table>
				<!-- 订单信息结束 -->

				<!--未测屏蔽 教练评价学员开始 
				<table class="table table-bordered">
					<tr>
						<td class="t-150"><b>教练评价学员</b></td>
						<td colspan="3" ng-bind="datastu[0].cotime | timeTex"></td>
					</tr>
					<tr>
						<td class="t-150" rowspan="5" style="vertical-align: middle; background: #F8F8F8"><b>技能评分</b></td>
						<td class="w-40">直角转弯：<span id="zjzw"></span></td>
						<td class="t-150" rowspan="5" style="vertical-align: middle; background: #F8F8F8"><b>教练点评</b></td>
						<td rowspan="5" style="vertical-align: middle;" ng-bind="datastu[0].oneWord"></td>
					</tr>
					<tr><td>坡道定点：<span id="pddd"></span></td></tr>
					<tr><td>倒车入库：<span id="dcrk"></span></td></tr>
					<tr><td>曲线行驶：<span id="qxxs"></span></td></tr>
					<tr><td>侧边停车：<span id="cbtc"></span></td></tr>
				</table>-->
				<!-- 教练评价学员结束 -->
				<!--未测屏蔽 学员评价教练开始 
				<table class="table table-bordered table-with-style">
					<tr>
						<td class="t-150"><b>学员评价教练</b></td>
						<td colspan="3" ng-bind="datacoach.cotime | timeTex"></td>
					</tr>
					<tr>
						<td class="t-150"><b>综合评分</b></td>
						<td class="w-40" id="zhpf"></td>
						<td class="t-150"><b>评价标签</b></td>
						<td ng-bind="datacoach.oneWord"></td>
					</tr>
				</table>-->
				<!--未测屏蔽 学员评价教练结束 
				<table class="table table-bordered table-with-style">
					<tr>
						<td class="t-150" colspan="4" style="background: #fff!important;"><b>位置轨迹</b></td>
					</tr>
					<tr style="background: #F8F8F8">
						<td class="t-150"><b>地图位置</b></td>
						<td class="w-40"><b>时间</b></td>
						<td class="t-150"><b>节点</b></td>
						<td><b>地址</b></td>
					</tr>
					<tr>
						<td class="t-150"><span class="d-order-location d-blur ion-ios-location"></span></td>
						<td class="t-400" ng-bind="data.gtime | timeTex"></td>
						<td class="t-150">下单</td>
						<td ng-bind="data.learnAddr"></td>
					</tr>
					<tr>
						<td class="t-150"><span class="d-order-location d-red ion-ios-location"></span></td>
						<td class="t-400" ng-bind="data.atime | timeTex"></td>
						<td class="t-150">接单</td>
						<td ng-bind="data.stuAddr"></td>
					</tr>
					<tr>
						<td class="t-150" colspan="4" style="background: #fff!important;">
							<a href='http://m.amap.com/navi/?start={{data.placeLge}},{{data.placeLae}}&dest={{data.lge}},{{data.lae}}&destName=深圳市&naviBy=car&key=1d8667e1ad4d20717ffa243eec4b6ed0' target="_blank">查看地图</a>
						</td>
					</tr>
				</table>-->

			</div>
			<!-- 操作日志 -->
			<div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
					  <tr>
					  	<td class="w-20"><b>更新时间</b></td>
					  	<td class="w-10"><b>操作人</b></td>
					  	<td><b>操作内容</b></td>
					  </tr>
					  <tr ng-repeat="data in orderLogs">
					  	<td ng-bind="data.operateTime | timeTex"></td>
					  	<td ng-bind="data.userName"></td>
					  	<td ng-bind="data.remark"></td>
					  </tr>
					</table>
				</div>
				<div class="page">
					<div id="log-page" class="copot-page"></div>
				</div><!-- 操作日志结束 -->
			</div>
		</div>
		<!-- 学员信息编辑 -->
		<ng-include src="'edit/edit-refunds.html'" onload="applyRefunds()" ></ng-include>

	</div>	
</div>
<!-- script -->
<script src="assets/common/daterangepicker/js/moment.js"></script>
<script src="assets/common/daterangepicker/js/daterangepicker.js"></script>
<script src="assets/js/ng-js/order-details.js?v=63ce04c42d1473298817690"></script>
</body>
</html>