<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<context:component-scan base-package="com.lili.coach.manager.impl" />
	<context:component-scan base-package="com.lili.coach.service.impl" />

	<bean id="cmsCoachServiceLocal" class="com.lili.coach.service.impl.CMSCoachServiceImpl" />
	<bean id="cmsCoachManager" class="com.lili.coach.manager.impl.CMSCoachManagerImpl" />
	
	<bean id="coachAccountServiceLocal" class="com.lili.coach.service.impl.CoachAccountServiceImpl" />
	<bean id="coachAccountManagerImpl" class="com.lili.coach.manager.impl.CoachAccountManagerImpl" />
	<bean id="cmsNoticeServiceLocal" class="com.lili.coach.service.impl.CMSNoticeServiceImpl" />

	<bean id="exceptionHandler" class="com.lili.cms.aop.ExceptionHandler" />
	<bean id="logHandler" class="com.lili.cms.aop.LogHandler" />
	<bean id="logDBHandler" class="com.lili.common.aop.LogDBHandler" />

	<aop:config>
		<aop:pointcut id="servicePointcut"
			expression="execution(* com.lili.coach.service.impl.*.*(..))" />
		<aop:pointcut id="managerPointcut"
			expression="execution(* com.lili.coach.manager.impl.*.*(..))" />
		<aop:pointcut id="logDBPointcut"
			expression="execution(* com.lili.coach.service.impl.*.*(..))" />

		<aop:aspect id="exceptionHandlerAspect" ref="exceptionHandler"
			order="1">
			<aop:after-throwing pointcut-ref="servicePointcut"
				method="exceptionLog" throwing="ex" />
			<aop:after-throwing pointcut-ref="managerPointcut"
				method="exceptionLog" throwing="ex" />
		</aop:aspect>


		<aop:aspect id="logAspect" ref="logHandler" order="1">
			<!-- <aop:before pointcut-ref="servicePointcut" method="argsLog" />
			<aop:before pointcut-ref="managerPointcut" method="argsLog" /> 
			<aop:around pointcut-ref="servicePointcut" method="execTimeLog" />-->
			<aop:around pointcut-ref="managerPointcut" method="execTimeLog" />
		</aop:aspect>
		<aop:aspect id="logDBAspect" ref="logDBHandler" order="2">
			<aop:after pointcut-ref="logDBPointcut" method="logAfter" />
		</aop:aspect>
	</aop:config>

		

</beans>