<div class="edit-alert school-alert">
<div class="mask"></div>
<div class="main">
<div id="edit-content" class="content">
	<div class="title">教练服务标签<span class="closeAlert"></span></div>
	<div class="con-main">
		<dl>
			<dt><span class="text-require">*</span>驾校名称:</dt>
			<dd><input type="text" ng-model="editData.name" class="form-control"></dd>
		</dl>
		<dl>
		<dt><span class="text-require">*</span>评价标签:</dt>
			<dd><textarea class="form-comtrol" ng-model=""></textarea></dd>
		</dl>
	</div>
</div>
</div>
</div>