<?xml version="1.0" encoding="UTF-8"?>
<beans
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:task="http://www.springframework.org/schema/task"
xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
<!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="dubbo-server"  />
    <!-- 使用zookeeper注册中心暴露服务地址 -->
   	<dubbo:registry address="${zookeeper.addr}" file="dubbo.share.cache"/> 
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20993" threadpool="fixed" threads="1000"/>
 
    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service  id="channelService"  interface="com.lili.share.service.IChannelService" ref="channelServiceLocal" ></dubbo:service>
    <dubbo:service  id="shareService"  interface="com.lili.share.service.IShareService" ref="shareServiceLocal" ></dubbo:service>
    <dubbo:service  id="shareUserService"  interface="com.lili.share.service.IShareUserService" ref="shareUserServiceLocal" ></dubbo:service>
    
    <dubbo:service id="shareManager" interface="com.lili.share.manager.IShareManager" ref="shareManagerLocal" />
    <dubbo:service id="giftManager" interface="com.lili.share.manager.GiftManager" ref="giftManagerLocal" />
    <dubbo:service id="giftService" interface="com.lili.share.service.GiftService" ref="giftServiceLocal" />
    <dubbo:service id="wechatService" interface="com.lili.share.service.WechatService" ref="wechatServiceLocal" />
</beans>