<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<bean id="databaseResources" class="java.util.ArrayList">  
        <constructor-arg>  
        <list>  
            <value>classpath:jdbc.properties</value>  
        </list>  
        </constructor-arg>  
    </bean>
    <bean id="databaseProp" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="order" value="53" />  
        <property name="ignoreUnresolvablePlaceholders" value="true" />   
        <property name="locations" ref="databaseResources" />  
    </bean> 
    
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
<property name="dataSource" ref="dataSource" />
<property name="typeAliasesPackage" value="com.lili.exam.dto" />
</bean>

<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
<property name="basePackage" value="com.lili.exam.mapper" />
</bean>

<bean id="dataSource"  class="com.mchange.v2.c3p0.ComboPooledDataSource"  >
<property name="driverClass" value="${datasource.driverClassName}" />

<property name="jdbcUrl" value="${datasource.url}" />
<property name="user" value="${datasource.username}" />
<property name="password" value="${datasource.password}" />


<property name="minPoolSize" value="${minPoolSize}" />
<property name="maxPoolSize" value="${maxPoolSize}" />
<property name="initialPoolSize" value="${initialPoolSize}" />
<property name="acquireIncrement" value="${acquireIncrement}" />
<property name="maxIdleTime" value="${maxIdleTime}" />
<property name="maxStatements" value="${maxStatements}" />
<property name="idleConnectionTestPeriod" value="${idleConnectionTestPeriod}" />
<property name="acquireRetryAttempts" value="${acquireRetryAttempts}" />
<property name="breakAfterAcquireFailure" value="${breakAfterAcquireFailure}" />
<property name="testConnectionOnCheckout" value="${testConnectionOnCheckout}" />
<property name="autoCommitOnClose" value="${autoCommitOnClose}"></property>
<property name="preferredTestQuery" value="${preferredTestQuery}"></property>
<!-- <property name="connectionCustomizerClassName" value="com.mchange.v2.c3p0.example.InitSqlConnectionCustomizer"></property>
<property name="extensions">
        <map>
            <entry key="initSql" value="SET NAMES utf8mb4 COLLATE utf8mb4_unicode_ci" />
        </map>
</property> -->
</bean>

<!-- spring事务管理器 -->
<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
<property name="dataSource" ref="dataSource" />
</bean>

<tx:advice id="txAdvice" transaction-manager="transactionManager">
<tx:attributes>
<tx:method name="save*" propagation="REQUIRED" rollback-for="Exception" />
<tx:method name="add*" propagation="REQUIRED" rollback-for="Exception" />
<tx:method name="miss*" propagation="REQUIRED" rollback-for="Exception" />
<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception" />
<tx:method name="cancel*" propagation="REQUIRED" rollback-for="Exception" />
<tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception" />
<tx:method name="bookOrder" propagation="REQUIRED" rollback-for="Exception" />
<tx:method name="handle*" propagation="REQUIRED" rollback-for="Exception" />
<!--
<tx:method name="*" propagation="REQUIRED" read-only="true" />
--></tx:attributes>
</tx:advice>

<aop:config>
<aop:pointcut id="servicePointcut" expression="(execution(* *..manager.impl..*ManagerImpl.*(..)))" />
<aop:advisor advice-ref="txAdvice" pointcut-ref="servicePointcut" />
</aop:config>

<tx:annotation-driven transaction-manager="transactionManager" />

</beans>