<?xml version="1.0" encoding="UTF-8"?>
<beans
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:task="http://www.springframework.org/schema/task"
xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<util:properties id="dubboprop" location="classpath:dubbo.properties"/>
	<!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="#{dubboprop['dubbo.name']}"  />
    <!-- 使用zookeeper注册中心暴露服务地址 -->
   	<dubbo:registry address="${zookeeper.addr}" file="dubbo.exam.cache"/> 
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="#{dubboprop['dubbo.protocol']}" server="#{dubboprop['dubbo.server']}" port="#{dubboprop['dubbo.port']}" serialization="#{dubboprop['dubbo.serialization']}" threadpool="fixed" threads="1000"/>

     <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.lili.exam.manager.ExamPlaceManager" ref="examPlaceManager" />
    <dubbo:service interface="com.lili.exam.manager.ExamPlaceClassManager" ref="examPlaceClassManager" />
    <dubbo:service interface="com.lili.exam.manager.ExamPlaceOrderManager" ref="examPlaceOrderManager" />
    <dubbo:service interface="com.lili.exam.manager.ExamPlaceWhitelistManager" ref="examPlaceWhitelistManager" />
    <dubbo:service interface="com.lili.exam.manager.ExamPlaceRechargeManager" ref="examPlaceRechargeManager" />
    
    <dubbo:service interface="com.lili.exam.manager.ExamVipManager" ref="examVipManager" />

	
</beans>