<div class="pl10 pr10 mt20">
	<div ng-if="type==1 && !editstart">
		<p class="f12">请输入原支付密码，完成校验</p>
		<div class="pswinput mt5">
			<input type="tel" maxlength="6" ng-model="$parent.oldpsw">
			<div class="psw-num" ng-class="{true:'active'}[oldpsw.length>=1]"></div>
			<div class="psw-num" ng-class="{true:'active'}[oldpsw.length>=2]"></div>
			<div class="psw-num" ng-class="{true:'active'}[oldpsw.length>=3]"></div>
			<div class="psw-num" ng-class="{true:'active'}[oldpsw.length>=4]"></div>
			<div class="psw-num" ng-class="{true:'active'}[oldpsw.length>=5]"></div>
			<div class="psw-num" ng-class="{true:'active'}[oldpsw.length>=6]"></div>
		</div>
		<a class="button-submit mt35" ng-click="verify_psw()">下一步</a>
	</div>
	
	<div ng-if="type==2 && !editstart" class="password-box pl10 pr10" style="top: 0;">
		<p class="f12 mt30 mb5">请输入<span ng-bind="(phone | hidephone)"></span>收到的短信验证码</p>
		<div class="verify-phone">
			<input type="tel" maxlength="6" ng-model="$parent.code" placeholder="请输入验证码" class="">
			<div class="btnbox">
	     		<button type="button" class="" ng-click="getCode()" ng-bind="getMsgText+' '+nowMsgTime" value="获取验证码">获取验证码</button>
	     	</div>
     	</div>
     	<a class="button-submit mt35" ng-click="verify_phone()">下一步</a>
	</div>
	<div ng-if="editstart">
		<p class="f12">设置新的6位支付密码</p>
		<div class="pswinput mt5">
			<input type="tel" maxlength="6" ng-model="$parent.newpsw1">
			<div class="psw-num" ng-class="{true:'active'}[newpsw1.length>=1]"></div>
			<div class="psw-num" ng-class="{true:'active'}[newpsw1.length>=2]"></div>
			<div class="psw-num" ng-class="{true:'active'}[newpsw1.length>=3]"></div>
			<div class="psw-num" ng-class="{true:'active'}[newpsw1.length>=4]"></div>
			<div class="psw-num" ng-class="{true:'active'}[newpsw1.length>=5]"></div>
			<div class="psw-num" ng-class="{true:'active'}[newpsw1.length>=6]"></div>
		</div>
		<p class="f12 mt35">请再次填写以确认</p>
		<div class="pswinput mt5">
			<input type="tel" maxlength="6" ng-model="$parent.newpsw2">
			<div class="psw-num" ng-class="{true:'active'}[newpsw2.length>=1]"></div>
			<div class="psw-num" ng-class="{true:'active'}[newpsw2.length>=2]"></div>
			<div class="psw-num" ng-class="{true:'active'}[newpsw2.length>=3]"></div>
			<div class="psw-num" ng-class="{true:'active'}[newpsw2.length>=4]"></div>
			<div class="psw-num" ng-class="{true:'active'}[newpsw2.length>=5]"></div>
			<div class="psw-num" ng-class="{true:'active'}[newpsw2.length>=6]"></div>
		</div>
		<a class="button-submit mt35" ng-click="editpsw()">修改密码</a>
	</div>
</div>

