/*---------------
porject:xc.lilixc.com
author:dingyu
time:2016-3-3
nameSpace:d-
---------------*/

@import 'common.scss';
.d-c-b{clear:both;}  /*清除浮动*/
.d-show{ display: block;}
.d-hide{ display: none;}

/*教务报表*/
.order-detail .d-order-table{ padding: 0 20px 20px 10px;}

/*驾校账户*/
.d-account-text{ width: 100%; text-align: center;letter-spacing: 3px;}
.d-account-text h1{ font: 30px/30px "微软雅黑"; margin-top: 12%; }
.d-account-text h1 .ion-android-time{ padding-right: 3px;}
.d-account-text h1 .ion-ios-close{ font-weight: bold; padding-right: 3px;}
.d-account-text h2{ font: 17px/30px "微软雅黑"; margin-bottom: 3%; color: $light-color}

.d-load{ width: 700px; height: 60px; margin: 20px auto 60px;}
.d-load div{ width: 30px; height: 30px; position: relative; font: 18px/30px "微软雅黑"; float: left; display: inline; background: $table-border-color; color: $load-color; text-align: center; border-radius: 100%}
.d-load div i{ width: 200px; position: absolute; top: 35px; left: 50%; margin-left: -100px; font-size: 14px; color:$font-color; }
.d-load span{ width: 225px; height: 4px; background:$table-border-color; float: left; display: inline; margin: 15px 40px 0;}
.d-load .load-h{ background: $load-msg-color;}
.d-load .msg-h{ color: $load-msg-color;}

.d-change-password select.form-control{width:60%;float:left;}
.d-change-password .succes{ font-size: 18px;}
.d-change-password .protocol{ width: 700px; height: 180px; outline: none; padding: 5px; margin-top: 8%; overflow: auto; border: 1px solid $table-border-color;}
.d-change-password .d-code{ font-size: $sieze-14;}

.d-account-tab{ margin: 0;}
.d-account-tab .student{ width: 49.5%; height:210px; padding: 30px 30px 10px; float: left; border: 1px solid $border-color; background: $header-color; margin-bottom: 20px;}
.d-account-tab .student:nth-child(2){ float: right;}
.d-account-tab .student dd{ margin-bottom: 10px;}
.d-account-tab .student label{ color: $load-msg-color; margin: 0 5px; font-size: 25px; font-weight: normal;}

/*月度统计*/
.d-statistics{ border: 1px solid $border-color; margin: 0;}
.d-statistics .top{ width: 100%; height: 40px; border-bottom: 1px solid $border-color; background: $header-color; padding: 0;}
.d-statistics .top span{ font-size: $sieze-16; line-height: 40px; text-indent: 16px;}
.d-statistics .center{ width: 100%; height:250px; border-bottom: 1px solid $border-color;}
.d-statistics .center div{ width: 45%; float: left; display: inline-block;}
.d-statistics .center div .borderRadius{ width: 200px; height: 250px; background: #ccc; float: left; margin-left: 5%;}
.d-statistics .center div dl{ width: 40%; padding-top:40px; margin-left: 5%; float: left; font-family: "微软雅黑"}.d-statistics .center div dt{ font-weight: normal;}
.d-statistics .center div dt:nth-child(1){ font-size: $sieze-16; color: $light-color;}
.d-statistics .center div dt:nth-child(2){ font-size: $sieze-12; color: $light-color; margin: 10px 0;}
.d-statistics .center div dt:nth-child(2) span{ font-size: $sieze-18+6; color: $load-msg-color; margin-right: 5px;}
.d-statistics .center div dt:nth-child(4){ margin-top: 15%; line-height: 16px;}
.d-statistics .center div dt:nth-child(4) span{ width: 15px; margin-right: 5px; height: 15px; background: #0b60ef; display:inline-block; text-indent: -9999px;}
.d-statistics .bottom{ width: 100%; font-family: "微软雅黑";}
.d-statistics .bottom span{font-size: $sieze-18; line-height: 50px; text-indent: 16px; display:block;}
.d-statistics .bottom span i{ font-size: $sieze-18+5; color: $load-msg-color; font-weight: normal; margin-right: 5px;}
.d-statistics .bottom p{ font-size: $sieze-12; line-height: 12px; text-indent: 16px; color: $light-color;}



//主页头部提示信息
.d-point{ width: 100%; border: 1px solid $border-color; padding: 30px 0; margin: 0 0 20px 0; position: relative;}
.d-point h1{ font: 18px/26px "微软雅黑"; letter-spacing: 2px; text-indent: 35px; margin: 0;}
.d-point h2{ font: 14px/26px "微软雅黑"; color: $light-color; text-indent: 35px; margin: 0;}
.d-point i{ font-size: 28px; text-indent: 0;  margin-right: 5px; position: absolute; left: 20px;}
.d-point .ion-ios-close-empty{ width: 22px; height: 22px; position: absolute; font-size: 35px; cursor: pointer; right: 15px; top: -5px; padding: 0 10px;}






