@charset "UTF-8";
@import url(../common/css/common.css);
@import url(../common/css/ionicons.min.css);
@import url(../common/css/PopLayer.css);
@import url(../common/boot/css/bootstrap.min.css);
/*公共颜色*/
/*头部底色*/
/*table头部底色*/
/*table布局边框*/
/*active底色*/
/*网页文字主体颜色*/
/*文本淡色*/
/*menu颜色*/
/*menu active颜色*/
/*边框颜色*/
/*成功相关的color*/
/*失败相关的color*/
/* 数据统计总和color*/
/*代金券*/
/*课时券*/
/*折扣券*/
/*字体大小*/
/*padding / margin 值 */
/*边框圆角*/
/*默认行高*/
/*less CSS3新特性兼容前缀开始*/
/*less CSS3新特性兼容前缀结束*/
@import url(../css/liliyun.css);
@import url(../css/school.css);
/*---------------
porject:xc.lilixc.com
author:dingyu
time:2016-3-3
nameSpace:d-
---------------*/
/*公共颜色*/
/*头部底色*/
/*table头部底色*/
/*table布局边框*/
/*active底色*/
/*网页文字主体颜色*/
/*文本淡色*/
/*menu颜色*/
/*menu active颜色*/
/*边框颜色*/
/*成功相关的color*/
/*失败相关的color*/
/* 数据统计总和color*/
/*代金券*/
/*课时券*/
/*折扣券*/
/*字体大小*/
/*padding / margin 值 */
/*边框圆角*/
/*默认行高*/
/*less CSS3新特性兼容前缀开始*/
/*less CSS3新特性兼容前缀结束*/
.d-c-b {
  clear: both; }

/*清除浮动*/
.d-show {
  display: block; }

.d-hide {
  display: none; }

.d-cursor {
  cursor: pointer; }

/*---------------资料不全---------------*/
.d-imperfect {
  width: 350px; }

.d-imperfect textarea {
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px; }

/*---------------订单详情---------------*/
.d-order-location {
  font-size: 18px; }

.d-blur {
  color: #36BC9C; }

.d-red {
  color: #FD4E63; }

/*---------------学员详情---------------*/
.d-coupon-type {
  margin-right: 20px;
  margin-bottom: 20px; }

.d-coupon {
  width: 280px;
  height: 85px;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  border: 1px solid #E7E7E7;
  background: #F8F8F8;
  position: relative; }

.d-coupon b {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0; }

.d-coupon .djq {
  background: #FC5A43; }

.d-coupon .ksq {
  background: #FCAF39; }

.d-coupon .zkq {
  background: #42A4FB; }

.d-coupon .d-title {
  width: 28.5%;
  height: 85px;
  border-right: 1px dashed #E7E7E7;
  font-size: 16px;
  line-height: 85px;
  text-align: center;
  color: #4990E2; }

.d-coupon .d-conter {
  width: 70%; }

.d-coupon .d-conter span {
  display: block;
  padding-left: 15px; }

.d-coupon .d-conter span:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0 5px; }

.d-coupon .d-conter span:nth-child(2), .d-coupon .d-conter span:nth-child(3) {
  font-size: 12px; }

.d-costType {
  height: 30px; }

.d-costType span {
  cursor: pointer;
  display: block;
  float: left;
  position: relative;
  line-height: 30px; }

.d-costType span.active:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #4990E2;
  position: absolute;
  left: 0;
  bottom: 0; }

/*---------------喱喱钱包---------------*/
.d-statistics {
  border: 1px solid #E7E7E7;
  margin: 20px 0 20px; }

.d-statistics .top {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #E7E7E7;
  background: #F8F8F8;
  padding: 0; }

.d-statistics .top span {
  font-size: 16px;
  line-height: 40px;
  text-indent: 16px; }

.d-statistics .top .form-control {
  width: 90px;
  float: right;
  margin: 2px 5px 0; }

.profit {
  width: 100%;
  padding-bottom: 20px; }

.profit dl {
  width: 30%;
  float: left;
  font-family: "微软雅黑";
  margin-top: 30px; }

.profit dl:nth-child(1) {
  margin-left: 5%; }

.profit dt {
  font-weight: normal; }

.profit dt:nth-child(1) {
  font-size: 16px;
  color: #888; }

.profit dt:nth-child(2) {
  margin: 5px 0; }

.profit dt:nth-child(2) span {
  font-size: 24px;
  color: #333;
  margin-right: 5px; }

.profit .borderRadiusBd {
  width: 250px;
  height: 200px;
  margin-left: 5%;
  margin-top: 38px;
  float: left;
  position: relative; }

.profit .borderRadius {
  width: 250px;
  height: 200px;
  background: #ccc; }

.profit label {
  width: 120px;
  z-index: 9999;
  color: #000;
  text-align: center;
  position: absolute;
  left: 67px;
  top: 75px;
  color: #4990E2;
  font-family: "微软雅黑";
  font-weight: normal; }

.profit label b {
  font-size: 22px; }

.profit .nav {
  float: left;
  margin: 70px 50px 0; }

.profit .nav li {
  width: 50%;
  height: 80px;
  float: left; }

.profit .nav li span {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  font-size: 12px;
  text-align: center;
  line-height: 42px;
  font-weight: bold; }

.profit .nav li dl {
  width: 70%;
  margin: 0 5px; }

.profit .nav li dt {
  font-size: 14px; }

.profit .nav li dt a {
  margin-left: 15px; }

.profit .nav li dd {
  font-size: 22px; }

.profit .nav li:nth-child(1) span {
  color: #C23531;
  border: 5px solid #C23531; }

.profit .nav li:nth-child(2) span {
  color: #2F4554;
  border: 5px solid #2F4554; }

.profit .nav li:nth-child(3) span {
  color: #61A0A8;
  border: 5px solid #61A0A8; }

.profit .nav li:nth-child(4) span {
  color: #D48265;
  border: 5px solid #D48265; }

/*---------------优惠券---------------*/
.data-coupon .d-title {
  background: #F8F8F8;
  padding: 10px 20px 6px;
  font-family: "微软雅黑";
  font-size: 20px; }

.data-coupon .top {
  font-size: 20px; }

.add-coach-edit form {
  margin: 0 auto 30px;
  padding: 0 55px; }

.add-coach-edit form div {
  margin: 10px 0; }

.add-coach-edit form div input {
  display: inline-block;
  width: auto; }

/*---------------余额管理---------------*/
.d-variation {
  width: 480px;
  margin: 5% auto 0; }

.d-variation span {
  width: 352px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  display: block;
  background: #F8F8F8; }

.d-variation span i {
  font-size: 16px;
  padding: 0 10px; }

/*---------------大客户详情---------------*/
.d-title .d-edit {
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #4990E2;
  color: #4990E2;
  padding: 3px 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px; }

.d-details div {
  font-size: 14px;
  margin-bottom: 10px; }

.d-details div span {
  width: 200px;
  display: inline-block; }

/*---------------
porject:xc.lilixc.com
author:wangwei
time:2016-3-3
nameSpace:w-
---------------*/
/*公共颜色*/
/*头部底色*/
/*table头部底色*/
/*table布局边框*/
/*active底色*/
/*网页文字主体颜色*/
/*文本淡色*/
/*menu颜色*/
/*menu active颜色*/
/*边框颜色*/
/*成功相关的color*/
/*失败相关的color*/
/* 数据统计总和color*/
/*代金券*/
/*课时券*/
/*折扣券*/
/*字体大小*/
/*padding / margin 值 */
/*边框圆角*/
/*默认行高*/
/*less CSS3新特性兼容前缀开始*/
/*less CSS3新特性兼容前缀结束*/
/*按钮加锁*/
.z-locked {
  pointer-events: none; }

/*学员置状态失败*/
.change-error-students .content {
  width: 50%;
  padding: 0; }

/*修改密码*/
.w-change-password {
  font-family: "微软雅黑"; }

.w-change-password label {
  font-weight: 300; }

.w-change-password a.btn {
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 3px; }

.w-change-password .error {
  font-size: 18px; }

.w-change-password input.form-control {
  width: 60%;
  float: left; }

.w-change-password .error,
.w-change-password .succes {
  margin-left: 10px;
  line-height: 35px; }

.w-change-password .error em {
  font-size: 14px;
  font-style: normal;
  margin-left: 5px; }

/*置学员状态*/
#queshizl {
  display: none; }

/*身份认证查看照片*/
.w-identity-bg {
  width: 680px;
  height: 280px;
  border: solid 1px #DDD;
  position: fixed;
  left: 50%;
  top: 100px;
  background: #F8F8F8;
  z-index: 10000; }

.w-identity-bg > div {
  width: 45%;
  height: 85%;
  float: left;
  margin: 20px 0 0 23px; }

.w-identity-bg > div img {
  width: 100%;
  height: 100%; }

.w-identity-bg .icon {
  width: 28px;
  height: 18px;
  position: absolute;
  left: 50%;
  bottom: -15px;
  display: block;
  margin-left: -12px; }

/*选择城市错误提示*/
select.error-select {
  border: solid 1px red !important; }

@media (max-width: 768px) {
  .change-error-students .content {
    width: 90%; } }

/*----------------------------------朱国瑞css样式---------------------------------*/
/*公用样式*/
.z-common-wrap {
  padding: 20px; }

.z-common-h2 {
  font: normal 18px/30px 黑体,微软雅黑;
  color: #333;
  margin-bottom: 20px; }

.z-common-h2 span.text {
  font: normal 14px/30px 宋体;
  color: #666; }

.z-common-h3 {
  font: normal 16px/30px 黑体,微软雅黑;
  color: #333;
  margin-bottom: 20px; }

.z-common-table {
  width: 100%;
  border-collapse: collapse; }

.z-common-table tr > th, .z-common-table tr > td {
  padding: 8px; }

.z-common-table th {
  background: #f9f9f9; }

.z-nobord-table {
  border: none; }

.z-nobord-td th, .z-nobord-td td {
  border: none !important; }

.z-title {
  background: #f8f8f8;
  padding: 10px 20px 6px;
  font-family: "微软雅黑";
  font-size: 20px; }

table.z-noborder td, table.z-noborder th {
  border: none !important; }

.z-text-line {
  border-bottom: 1px solid #E7E7E7; }

.z-caozuo {
  text-align: center; }

.z-caozuo > .btn {
  margin-right: 30px; }

.z-caozuo > .btn:last {
  margin-right: 0; }

.z-error-txt-wrap {
  height: 34px; }

.z-error-txt {
  line-height: 24px;
  color: #F23151;
  margin: 0; }

.z-checkbox {
  margin-top: 0 !important; }

.z-disnone {
  display: none !important; }

.z-border-box {
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  padding: 20px;
  height: auto;
  overflow: hidden; }

.z-border-red {
  border: 1px solid red !important; }

.z-bg-box {
  background: #F8F8F8; }

.z-noborder {
  border: none !important; }

.z-disblock {
  display: block !important; }

.z-mt20 {
  margin-top: 20px !important; }

.z-mb20 {
  margin-bottom: 20px !important; }

.z-ml20 {
  margin-left: 20px !important; }

.z-mr20 {
  margin-right: 20px !important; }

.z-mt10 {
  margin-top: 10px !important; }

.z-mb10 {
  margin-bottom: 10px !important; }

.z-mb20 {
  margin-bottom: 20px !important; }

.z-m20 {
  margin: 20px !important; }

.z-mt0 {
  margin-top: 0 !important; }

.z-mb0 {
  margin-bottom: 0 !important; }

.z-mtb0 {
  margin: 0 !important; }

.z-p20 {
  padding: 20px !important; }

.z-pt20 {
  padding: 20px !important; }

.z-pb20 {
  padding-bottom: 20px !important; }

.z-pl20 {
  padding-left: 20px !important; }

.z-pr20 {
  padding-right: 20px !important; }

.z-plr20 {
  padding-left: 20px;
  padding-right: 20px; }

.z-p10 {
  padding: 10px !important; }

.z-pl10 {
  padding-left: 10px !important; }

.z-pr10 {
  padding-right: 10px !important; }

.z-pb10 {
  padding-bottom: 10px !important; }

.z-pt10 {
  padding-top: 10px !important; }

.z-p0 {
  padding: 0 !important; }

.z-fl {
  float: left; }

.z-fr {
  float: right; }

.z-t-c {
  text-align: center; }

.z-t-l {
  text-align: left; }

.z-t-r {
  text-align: right; }

.z-m-20 {
  margin: 20px; }

.z-relative {
  position: relative; }

.z-font14 {
  font-size: 14px; }

.z-font16 {
  font-size: 16px; }

.z-font18 {
  font-size: 18px; }

.z-font20 {
  font-size: 20px; }

.z-fontnormal {
  font-weight: normal !important; }

.z-fontgray {
  color: #999; }

.z-fontred {
  color: #ff0000; }

.z-fontsky {
  color: #5b72ff !important; }

.z-w-100 {
  width: 100px !important; }

.z-w-per80 {
  width: 80%; }

.z-w-per40 {
  width: 40%; }

.z-td-p0 td {
  padding: 0 !important; }

.z-auto-hide {
  height: auto;
  overflow: hidden; }

.z-inline-block {
  display: inline-block; }

.z-p3 {
  padding: 3px; }

.z-text-border {
  border: 1px solid #CACACA; }

.z-radius3 {
  border-radius: 3px; }

.z-font24 {
  font-size: 24px; }

/*排序小图标*/
.orderby {
  width: 7px;
  height: 9px;
  background: url(../img/ico-ordersort.gif) left bottom;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer; }

.orderby:hover {
  background-position: right bottom; }

.sortbydesc {
  background-position: left top; }

.sortbyasc {
  background-position: left bottom; }

.sortbydesc:hover {
  background-position: right top; }

.sortbyasc:hover {
  background-position: right bottom; }

.z-noAction {
  pointer-events: none;
  color: #999;
  cursor: not-allowed; }

/*-------常用head---------*/
.z-common-head {
  border-bottom: 1px solid #e7e7e7;
  padding: 15px 20px;
  background: #f8f8f8; }

/*普通标题*/
.z-common-head .z-title {
  background: #F8F8F8;
  padding: 0;
  font-size: 20px;
  font-family: "微软雅黑"; }

.z-common-head .z-title a {
  color: #333; }

.z-common-head .z-title a:hover {
  color: #000;
  text-decoration: none; }

/*表格中已失效的行*/
tr.z-tr-invalid td, tr.z-tr-invalid th, tr.z-tr-invalid a, tr.z-tr-invalid span {
  color: #aaa !important;
  background: #FFF7F9 !important; }

/*带TAB的*/
.z-common-head .table-li a {
  text-decoration: none;
  color: #333; }

/*头部带内容的*/
.z-common-head .z-top {
  margin-top: 20px; }

.z-common-head .z-top .inline-text {
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
  line-height: 34px;
  font-family: 微软雅黑; }

.z-common-head .z-top .right-btn {
  float: right; }

/*内容区*/
.z-common-content {
  padding: 20px; }

/*表单样式*/
.text-require {
  color: #ff0000; }

.z-edit-alert-textarea {
  width: 900px;
  min-height: 600px; }

.common-table .search .line .input-group {
  width: 40%; }

/*表单较验*/
.z-form-group {
  padding-bottom: 23px;
  position: relative;
  margin-bottom: 0;
  line-height: 34px; }

.z-form-group .z-error-txt {
  position: absolute;
  left: 0;
  bottom: 5px;
  line-height: 18px;
  font-size: 12px; }

/*通知中心实时提醒*/
.notice-center ul {
  width: 300px !important; }

.notice-center ul li {
  height: auto !important;
  line-height: 1.5 !important;
  cursor: default !important; }

.notice-center ul li.notice-tit {
  background: #fff; }

.notice-center ul li:hover {
  background: #fff !important; }

.notice-center #noticeNum {
  background: #ff0000;
  color: #fff;
  text-align: center;
  line-height: 14px;
  font-size: 11px;
  padding: 0 3px;
  border-radius: 7px;
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px; }

/*仿checkbox滑动UI*/
.z-checkbox-ui {
  display: inline-block;
  width: 30px;
  height: 16px;
  border-radius: 8px;
  background: #4990E2;
  padding: 1px;
  position: relative;
  border: 1px solid #4990E2; }

.z-checkbox-ui span {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0; }

.z-checkbox-ui.on {
  background: #4990E2;
  border: 1px solid #4990E2; }

/*默认为开启样式*/
.z-checkbox-ui.on span {
  right: 0px !important;
  left: auto !important;
  border: 1px solid #4990E2 !important; }

.z-checkbox-ui.off {
  background: #f8f8f8 !important;
  border: 1px solid #cdcdcd !important; }

.z-checkbox-ui.off span {
  left: 0px !important;
  right: auto !important;
  border: 1px solid #cdcdcd !important; }

/*带数量增减的输入框*/
.z-num-control {
  display: inline-block;
  width: 160px;
  height: 34px;
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  position: relative;
  text-align: center; }

.z-num-ctl-l, .z-num-ctl-r {
  display: block;
  width: 30px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  font-size: 16px; }

.z-num-ctl-l {
  left: 0;
  border-right: 1px solid #E7E7E7; }

.z-num-ctl-r {
  right: 0;
  border-left: 1px solid #E7E7E7; }

.z-num-txt input {
  width: 80px;
  line-height: 20px;
  padding: 6px;
  border: none;
  background: none; }

/*报名包图片大小*/
.signpack-listpic {
  width: 54px;
  height: 20px; }

.content-sign-up-pack-list .senior-search {
  margin: 20px 0 0px; }

/*图片预览*/
.preview-wrap {
  position: fixed;
  z-index: 99999;
  width: 100%;
  display: none;
  height: 100%; }

.preview-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }

.preview-img img {
  border: 5px solid #eee;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%; }

.preview-close {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #eee;
  font-size: 30px;
  cursor: pointer; }

/*------------报名包详情------------------*/
.sign-pack-text {
  font-size: 14px;
  color: #666; }

/*基础信息*/
.sign-pack-info .text-info {
  float: left;
  width: 275px; }

.sign-pack-info .text-info p {
  color: #909090;
  height: auto;
  overflow: hidden; }

.sign-pack-info .text-info p span.fl {
  float: left;
  width: 80px;
  display: inline-block;
  color: #909090; }

.sign-pack-info .text-info p span.fr {
  float: left;
  display: inline-block;
  color: #3d3d3d;
  width: 190px; }

.sign-pack-info .img-info {
  margin-left: 300px; }

.sign-pack-info .img-block {
  padding: 4px;
  border: 1px solid #e7e7e7;
  background: #f8f8f8;
  margin: 0px 2.5%;
  width: 45%;
  max-width: 385px;
  text-align: center;
  float: left; }

.sign-pack-info .img-block img {
  max-width: 100%; }

.sign-pack-info .img-block p {
  margin: 10px;
  text-align: center; }

/*报考说明、报考资料、课时说明、课时费*/
.sign-pack-text li {
  margin-bottom: 10px; }

.sign-pack-text ol li {
  list-style-type: decimal;
  list-style-position: inside; }

.sign-pack-charge p {
  background: url(../img/z-bg-textlineDot.png) repeat-x left center;
  height: auto;
  overflow: hidden; }

.sign-pack-charge p span {
  display: inline-block;
  background: #fff; }

/*服务标准，售后保障*/
.sign-pack-serv p {
  margin-bottom: 5px;
  color: #666; }

/*------------报名包新增------------*/
.signin-pack-add {
  padding-bottom: 50px; }

.signin-pack-add .inlineInput label {
  line-height: 34px;
  margin: 0; }

.signin-pack-add .base-info-table tr > td {
  border: none; }

.signin-pack-add .base-info-table tr > td label {
  font-weight: normal; }

.signin-pack-add .signPackUpload .form-group {
  width: 48%;
  float: left;
  max-width: 380px;
  background: #f8f8f8;
  padding: 10px; }

.signin-pack-add .signPackUpload .form-group:nth-child(1) {
  margin-right: 4%; }

.signin-pack-add .signPackUpload .input-group {
  width: 100%; }

.signin-pack-add .signPackUpload .file-drop-zone-title {
  font-size: 20px;
  padding: 60px 10px; }

.signin-pack-add .signPackUpload p.text {
  text-align: center;
  color: #888;
  margin: 10px 0 0; }

/*自动收缩按钮*/
.z-toggle-h2 {
  position: relative; }

.z-toggle-h2 .ico-toggle-open {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 5px;
  display: inline-block;
  line-height: 20px;
  background: #888;
  color: #fff !important;
  cursor: pointer; }

.item-auto-wrap {
  position: relative;
  padding-left: 100px;
  margin-bottom: 50px;
  height: auto;
  overflow: hidden; }

.item-auto-wrap > label {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 34px; }

.item-auto-item {
  height: auto;
  overflow: hidden;
  position: relative; }

.item-auto-item .item-auto-label {
  line-height: 34px; }

.item-auto-item .item-auto-text2 {
  margin-bottom: 0; }

.item-auto-wrap .signPackUpload .form-group {
  width: 50%;
  min-width: 320px; }

/*自动新增按钮*/
.item-auto-wrap .item-btn-add {
  cursor: pointer;
  float: left; }

.item-auto-wrap .z-ico-del, .item-auto-wrap .z-ico-add {
  position: absolute;
  top: 10px;
  width: 16px;
  height: 16px;
  text-align: center;
  border: 1px solid #999;
  color: #999;
  right: 0;
  border-radius: 8px;
  line-height: 14px; }

.item-auto-wrap .z-ico-add {
  color: #4990E2;
  border-color: #4990E2;
  position: relative;
  top: 2px;
  float: left;
  margin-right: 10px; }

.item-auto-wrap .z-text-add {
  color: #4990E2; }

.item-auto-wrap .checkbox-item {
  width: 150px;
  float: left;
  line-height: 34px; }

.item-auto-wrap .checkbox-item input {
  margin: 0 10px 0 0; }

/*普通关闭按钮*/
.z-icobtn-close {
  width: 24px;
  height: 24px;
  border: 3px solid #fff;
  background: #333;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 10px #333;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  border-radius: 15px; }

.signPackUpload .form-group .form-exist-img-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 2;
  background: #fff; }

.signPackUpload .form-group .form-exist-img-wrap img {
  max-width: 100%;
  max-height: 100%;
  display: block; }

.signPackUpload .form-group .form-exist-img-wrap .z-icobtn-close {
  position: absolute;
  right: -5px;
  top: -5px; }

/*报名协议*/
.agreement-alert .main .content {
  width: 900px;
  min-height: 600px; }

/*学员封号*/
.student-lock-alert .main div.content {
  width: 400px; }

.student-lock-alert input[type=radio] {
  margin: 0 5px 0 0; }

.daterangepicker.dropdown-menu {
  z-index: 9999 !important; }

.student-lock-edit > div {
  float: left;
  width: 33.33%;
  line-height: 34px; }

/*教练封号*/
.coach-lock-alert .main div.content {
  width: 400px; }

.coach-lock-alert input[type=radio] {
  margin: 0 5px 0 0; }

.coach-lock-edit > div {
  float: left;
  width: 33.33%;
  line-height: 34px; }

/*新增优惠券条件*/
table.table-coupon-condi-add {
  margin-bottom: 0; }

table.table-coupon-condi-add > tbody > tr > th {
  vertical-align: middle; }

.check-box-item {
  line-height: 34px;
  float: left;
  margin-left: 30px; }

.check-box-item input {
  margin: 0 5px 0 0; }

.radio-box {
  line-height: 34px; }

.radio-box input {
  margin: 0 5px 0 0;
  margin-left: 30px; }

.shade-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  height: auto;
  overflow: hidden; }

.shade-color {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.8; }

.coupon-condi-body .z-error-txt {
  margin: 0;
  line-height: 34px;
  display: none; }

/*新增优惠券*/
.z-table-coupon-add td {
  padding: 0 !important; }

.z-table-coupon-add .form-group {
  padding-left: 120px;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 0; }

.z-table-coupon-add .form-group label {
  line-height: 34px;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: normal;
  text-align: right;
  width: 100px; }

.z-table-coupon-add .form-group .z-error-txt {
  position: absolute;
  left: 120px;
  bottom: 0;
  line-height: 18px;
  bottom: 12px; }

.z-table-coupon-add .item-auto-wrap {
  padding: 0;
  margin-bottom: 15px; }

.z-table-coupon-add .item-auto-wrap label.item-auto-del {
  top: 0; }

.z-table-coupon-add .item-auto-wrap .item-auto-item {
  padding-bottom: 0; }

.z-table-coupon-add .item-auto-wrap .item-auto-item p.z-error-txt {
  display: none; }

.z-table-coupon-add .item-auto-wrap .item-auto-con {
  position: relative;
  padding-left: 160px; }

.z-table-coupon-add .item-auto-wrap .form-control-cat {
  position: absolute;
  left: 0;
  top: 0;
  width: 140px; }

.z-table-coupon-add .item-auto-radio {
  line-height: 34px; }

.z-table-coupon-add .item-auto-radio input {
  margin: 0 5px 0 20px; }

.z-table-coupon-add .item-auto-btn {
  padding-left: 120px;
  margin-top: 10px; }

.z-table-coupon-add .send-way {
  position: relative;
  padding-left: 100px;
  height: 34px; }

.z-table-coupon-add .send-way .inputbox {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 34px; }

.z-table-coupon-add .send-way input {
  margin: 0 5px 0 0; }

.unavaible-rule {
  padding-left: 120px;
  color: #999; }

.sel-listen-way {
  display: none; }

.color-swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  margin-right: 10px; }

/*消息中心*/
.z-table-msg-center {
  border: 1px solid #e9e9e9; }

.z-table-msg-center th {
  background: #F8F8F8;
  border-bottom: 2px solid #e9e9e9;
  font-size: 16px; }

.z-table-msg-center td {
  color: #c3c3c3;
  vertical-align: middle; }

.z-table-msg-center td p {
  margin: 0;
  color: #666; }

.z-table-msg-center td.msg-content p, .z-table-msg-center td a {
  color: #4990E2;
  text-decoration: none; }

/*充值方案详情*/
.z-data-recharge-privi .top {
  font-size: 20px; }

.z-table-nobord-tb {
  border-top: none;
  border-bottom: none; }

.z-table-nobord-tb tr:first-child td {
  border-top: none !important; }

.z-table-nobord-tb tr:last-child td {
  border-bottom: none !important; }

.z-table-nobord-tb tr td:first-child {
  background: #f8f8f8 !important; }

/*新增充值方案*/
.z-add-recharge-pri-plan input[type=radio] {
  margin-top: 0;
  margin-right: 5px; }

.z-add-recharge-pri-plan .step-min {
  width: 39%;
  margin-right: 2%; }

.z-add-recharge-pri-plan .step-max {
  width: 39%; }

.z-add-recharge-pri-plan .check-box-item {
  margin: 0 20px 0 0; }

.z-add-recharge-pri-plan .form-group, .z-add-recharge-pri-plan label {
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 0; }

.z-add-recharge-pri-plan .item-auto-wrap label {
  position: relative;
  height: 34px; }

.z-add-recharge-pri-plan .item-auto-wrap .z-ico-del {
  top: 8px;
  right: 10px; }

.z-add-recharge-pri-plan .privi-time-wrap {
  height: auto;
  overflow: hidden; }

.z-add-recharge-pri-plan .privi-time-start, .z-add-recharge-pri-plan .privi-time-end {
  width: 30%;
  float: left; }

.z-add-recharge-pri-plan .privi-time-label {
  width: 15%;
  float: left;
  text-align: right; }

/*导入大客户学员*/
.succ-import {
  position: relative;
  padding: 20px 180px 20px 20px; }

.succ-import span.tag {
  color: #4990E2;
  padding: 0 5px; }

.succ-import .buttonwrap {
  position: absolute;
  right: 20px;
  top: 25px; }

.succ-import p {
  margin-bottom: 0; }

.succ-ico {
  position: absolute;
  top: 15px;
  left: 15px; }

.succ-tit {
  font: normal 16px/1.5 微软雅黑; }

/*配置角色权限 -- 新建角色*/
.role-permission-add .item-auto-wrap {
  color: #666;
  font-size: 12px;
  margin: 0;
  padding: 10px 20px 10px 220px;
  min-height: 54px; }

.role-permission-add .item-auto-wrap > label {
  top: 10px;
  padding-left: 35px; }

.role-permission-add .item-auto-wrap > label span {
  font-size: 12px; }

.role-permission-add input[type=checkbox], .role-permission-add input[type=radio] {
  margin: 0 10px 0 0; }

.role-permission-add .z-toggle-h2 {
  border-bottom: 2px solid #E7E7E7;
  padding: 5px 10px;
  background: #f6f6f6; }

.role-permission-add .z-toggle-h2 span {
  color: #002a80; }

.role-permission-add .z-toggle-h2 span.ico-toggle-open {
  top: 10px; }

.role-permission-add .permission-item div .item-auto-wrap:nth-child(even) {
  background: #f9f9f9; }

/*考场管理*/
.edit-alert .edit-exam-ground dl dt {
  width: 120px; }

/*----------------预约考场---------------*/
.z-arrange-days {
  height: auto;
  overflow: hidden;
  width: 450px; }

.z-arrange-days li {
  float: left;
  width: 60px;
  text-align: center;
  color: #888;
  font-size: 12px;
  background: #f3f3f3;
  margin: 2px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  overflow: hidden; }

.z-arrange-days li div {
  padding: 5px 0; }

.z-arrange-days li span {
  display: block;
  clear: both; }

.z-arrange-days input[type="checkbox"] {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  left: 0;
  right: 0;
  background: red;
  position: absolute;
  padding: 5px 0 !important;
  margin: 0 !important;
  cursor: pointer; }

.z-arrange-days input[type="checkbox"]:checked + div {
  background: #3399ff;
  color: #fff; }

.z-arrange-days li.unclick input[type="checkbox"] + div {
  color: #ccc;
  background: #e7e7e7;
  pointer-events: none; }

.z-arrange-days li.unclick input[type="checkbox"] {
  cursor: not-allowed; }

.z-select-days {
  height: auto;
  overflow: hidden; }

.z-select-days > div {
  float: left;
  background: #f6f6f6;
  padding: 7px 0;
  font-size: 11px;
  text-align: center;
  width: 70px;
  margin: 2px;
  cursor: pointer;
  overflow: hidden;
  position: relative; }

.z-select-days > div:hover {
  background: #ffffff;
  color: #0b60ef; }

.z-select-days > div.active {
  background: #0b60ef;
  color: #fff; }

.z-select-days > div span {
  display: block;
  text-align: center;
  font-size: 12px;
  pointer-events: none; }

.z-select-days > div .class-mark, .z-arrange-days > li .class-mark {
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background: #4990E2;
  bottom: -7px;
  right: -7px;
  display: block;
  position: absolute; }

.z-arrange-days > li .class-mark {
  background: #666; }

.noArrangeClass {
  color: #999; }

.noArrangeClass .class-mark {
  display: none !important; }

.arrange-cdate {
  height: 46px; }

.arrange-cdate.active {
  background: #0b60ef;
  color: #fff; }

.z-tr-disable {
  background: #f8f8f8;
  color: #bbb;
  cursor: not-allowed; }

table.z-arrange-class {
  margin-top: 40px;
  font-size: 12px; }

table.z-arrange-class th {
  background: #f7f7f7; }

table.z-arrange-class .arrange-process {
  width: 210px;
  display: inline-block;
  border: 1px solid #ccc;
  height: 16px; }

table.z-arrange-class .proc-in {
  display: block;
  height: 16px;
  background: #00CCCC;
  text-align: center;
  color: #fff;
  font-size: 12px;
  color: #333; }

/*教练属性*/
.attr-row {
  height: auto;
  overflow: hidden;
  margin-bottom: 20px; }

.attr-item {
  float: left;
  margin-right: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  line-height: 34px;
  overflow: hidden;
  margin-bottom: 5px; }

.attr-item span {
  display: inline-block;
  background: #fff;
  padding: 0 10px;
  min-width: 100px;
  color: #999; }

.attr-item span.tit {
  background: #f0f0f0;
  color: #666; }

/*APP消息中心配置*/
.app-notice-header {
  background: none !important; }

.app-notice-header li {
  background: #E4E4E4;
  border-radius: 5px 5px 0 0;
  border: none !important;
  padding: 0 20px; }

.app-notice-header li.active {
  background: #666666 !important;
  color: #fff; }

.notice-add-stu-form input[type=checkbox] {
  margin: -2px 5px 0 0; }

.notice-add-stu-form .add-row {
  position: relative;
  padding: 20px 0 20px 100px;
  border-bottom: 1px solid #e0e0e0; }

.notice-add-stu-form label {
  line-height: 34px;
  font-weight: normal; }

.notice-add-stu-form .add-label {
  position: absolute;
  left: 0;
  top: 20px; }

.notice-add-stu-form .add-con .add-row {
  padding: 0 0 0 100px; }

.notice-add-stu-form .add-con .add-label {
  top: 0; }

.notice-add-stu-form .add-label label {
  font-weight: bold; }

.notice-add-stu-form .add-con {
  height: auto;
  overflow: hidden; }

.notice-add-stu-form .add-item {
  display: inline-block;
  width: 150px;
  float: left; }

.notice-add-items {
  line-height: 34px; }

.notice-add-items span.item {
  display: inline-block;
  position: relative;
  padding-right: 10px;
  margin-right: 20px; }

.notice-add-items span.item i {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: url(../img/ico-delete.png) no-repeat center;
  cursor: pointer; }

/*教练开放注册*/
table.coach-open-car {
  margin-bottom: 20px; }

table.coach-open-car td, table.coach-open-car th {
  text-align: center; }

table.coach-open-car .previewImg {
  max-width: 200px;
  max-height: 140px; }

.coach-open-car-item {
  padding: 20px 20px 0 20px;
  margin-bottom: 30px;
  position: relative;
  overflow: visible !important;
  border: 5px solid #f0f0f0; }

.coach-open-car-item-del {
  position: absolute;
  top: -16px;
  right: -16px;
  font-size: 26px; }

.opencar-upload {
  width: 100%;
  height: 100%;
  position: relative; }

.opencar-upload-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: none;
  left: 0;
  top: 0;
  pointer-events: none; }

.opencar-upload-btn span {
  font-size: 26px;
  line-height: 140px;
  color: #eee; }

.opencar-upload:hover .opencar-upload-btn {
  display: block; }

.opencar-upload img {
  width: 200px;
  height: 120px; }

.coach-open-details .ico-update {
  color: #ccc;
  margin-right: 5px; }

/*公共样式*/
table .t-50 {
  width: 50px; }

table .t-100 {
  width: 100px; }

table .t-150 {
  width: 150px; }

table .t-200 {
  width: 200px; }

table .t-400 {
  width: 400px; }

.w-100 {
  width: 100px; }

.w-300 {
  width: 300px; }

.w-400 {
  width: 400px; }

.w-500 {
  width: 500px; }

.w-10 {
  width: 10%; }

.w-20 {
  width: 20%; }

.w-33 {
  width: 33.3333333333%; }

.w-40 {
  width: 40%; }

.w-50 {
  width: 50%; }

.w-60 {
  width: 60%; }

.w-80 {
  width: 80%; }

.succes {
  color: #5cb85c; }

.error {
  color: #c9302c; }

.green {
  color: #22B571; }

.oringe {
  color: #F38F06; }

.default {
  color: #333; }

.mainColor {
  color: #4990E2; }

.light {
  color: #888; }

.bold {
  font-weight: bold; }

.margin-left-10 {
  margin-left: 10px !important; }

.margin-left-15 {
  margin-left: 15px !important; }

.margin-left-30 {
  margin-left: 30px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-top-20 {
  margin-top: 10px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-top-50 {
  margin-top: 50px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.line-height-75 {
  line-height: 75px !important; }

.margin-20 {
  margin-left: 20px;
  margin-right: 20px; }

.padding-20 {
  padding-left: 20px;
  padding-right: 20px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.big-size {
  font-size: 18px !important; }

.hrefLink {
  cursor: pointer;
  text-decoration: underline;
  color: #4990E2; }

/*标签样式*/
a {
  color: #4990E2; }

a.btn {
  font-family: "微软雅黑"; }

a:hover {
  color: #59a3f9; }

.btn-primary {
  background-color: #4990E2;
  border-color: #4990E2; }

.btn-primary:hover {
  background: #59a3f9;
  border: solid 1px #59a3f9; }

/*用户登陆*/
.login-body {
  background: #F5F5F5; }

.admin .login {
  width: 300px;
  height: 220px;
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -150px;
  background: -#ccc; }

.admin .input-text {
  position: relative;
  margin-top: 10px; }

.admin .icon-user-info {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 20px;
  color: #888; }

.admin .input-text input {
  font-size: 12px;
  padding-left: 40px;
  background: transparent;
  border: none;
  border-bottom: solid 1px #ccc;
  height: 35px;
  width: 100%; }

.admin .input-text input:focus {
  outline: none; }

.admin .welcome {
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center; }

.admin .submit {
  margin-top: 30px; }

/*后台首页*/
.index-left {
  width: 220px;
  height: 100%;
  font-family: "微软雅黑";
  position: fixed;
  left: 0;
  top: 0;
  background: #F8F8F8;
  z-index: 9991;
  border-right: solid 1px #E7E7E7; }

.index-left .logo {
  font-size: 18px;
  margin-top: 20px;
  padding-left: 30px;
  color: #888;
  font-size: 20px;
  line-height: 50px;
  display: none; }

.admin-nav {
  overflow: hidden;
  margin: 50px 0; }

.admin-nav li {
  width: 100%;
  height: auto;
  border-bottom: solid 1px #E7E7E7;
  line-height: 40px;
  color: #4990E2;
  cursor: pointer;
  background: #F8F8F8; }

.admin-nav li div:nth-child(1) {
  font-size: 13px;
  overflow: hidden;
  padding-left: 20px;
  position: relative; }

.admin-nav li div:nth-child(1) i {
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 0px; }

.admin-nav li a {
  text-decoration: none; }

/*.admin-nav li span{width:15px;height:20px;display:inline-block;font-size:18px;float:left;margin-right:10px;}*/
.admin-nav li span {
  width: 10px;
  height: 10px;
  border: 2px solid #4990E2;
  background: #F8F8F8;
  border-radius: 8px;
  display: inline-block;
  margin-right: 10px; }

.admin-nav li div:hover {
  background: #EEEEEE; }

.admin-nav li div.active {
  background: #EEEEEE;
  color: #59a3f9; }

.admin-nav li .second-menu {
  display: none; }

.admin-nav li .second-menu li {
  border-top: solid 1px #E7E7E7;
  border-bottom: none;
  height: 40px;
  line-height: 40px; }

.admin-nav li .second-menu li div {
  padding-left: 45px; }

.iphone-nav-but {
  display: none; }

.index-right {
  width: auto;
  height: auto;
  margin-left: 220px; }

.index-right .top {
  font-family: "微软雅黑";
  width: 100%;
  height: 50px;
  background: #F8F8F8;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9992;
  line-height: 50px;
  border-bottom: solid 1px #E7E7E7;
  padding: 0 15px 0 35px;
  font-size: 18px;
  color: #888; }

.index-right .top .logo img {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin: 5px 5px 0 0;
  border-radius: 100%; }

.index-right .top .logo span {
  padding: 0 5px; }

.index-right .top .top-right div {
  display: block;
  min-width: 50px;
  height: 50px;
  padding: 0 10px;
  text-align: center;
  float: left;
  font-size: 20px;
  position: relative; }

.index-right .top .top-right div:not(:nth-child(2)):hover {
  background: #EEEEEE;
  cursor: pointer; }

.index-right .top .top-right a {
  color: #666; }

.index-right .top .top-right .username {
  font-size: 15px;
  font-weight: 100; }

.index-right .top .top-right .msg {
  font-size: 25px;
  cursor: pointer; }

.index-right .top .top-right .msg .ion-email-unread {
  color: #4990E2; }

.index-right .top .login-out {
  cursor: pointer; }

.index-right .top .second-level-menu div span:nth-child(2) {
  font-size: 15px;
  margin-left: 8px; }

.index-right .top .second-level-menu ul {
  position: absolute;
  right: 0;
  top: 52px;
  width: 200px;
  border: solid 1px #ccc;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: none;
  background: #fff; }

.index-right .top .second-level-menu li {
  text-align: left;
  font-size: 12px;
  height: 45px;
  line-height: 45px;
  border-bottom: solid 1px #E7E7E7;
  padding: 0 15px; }

.index-right .top .second-level-menu li span {
  font-size: 16px;
  margin-right: 5px; }

.index-right .top .second-level-menu li:hover {
  background: #EEEEEE;
  cursor: pointer; }

.main-content {
  overflow: auto;
  margin-top: 50px;
  float: right;
  display: none; }

/*星级评价*/
.ion-ios-star {
  color: #FF8E00; }

/*分页插件样式*/
.copot-page a {
  display: inline-block;
  padding: 5px 10px;
  border: solid 1px #E7E7E7;
  margin-right: 5px;
  text-decoration: none;
  font-size: 12px;
  background: #fff;
  border-radius: 3px; }

.copot-page a:hover {
  background: #4990E2;
  color: #fff; }

.copot-page a.nowPage {
  background: #4990E2;
  border: solid 1px #E7E7E7;
  color: #fff; }

.copot-page .Page-search-span {
  margin: 0 5px 0 15px; }

.copot-page #Page-search {
  width: 40px;
  height: 28px;
  padding-left: 10px;
  margin: 0 3px;
  border: solid 1px #E7E7E7;
  border-radius: 3px; }

.copot-page #pageSearch {
  width: 40px;
  height: 28px;
  font-size: 12px;
  border: solid 1px #E7E7E7;
  background: #4990E2;
  color: #fff;
  cursor: pointer;
  border-radius: 3px; }

/*编辑详情弹出层样式*/
.edit-alert {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 9995;
  display: none; }

.edit-alert > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.edit-alert .mask {
  z-index: 9991;
  background: #000;
  opacity: 0.5; }

.edit-alert .main {
  z-index: 9992;
  text-align: center;
  display: table; }

.edit-alert .main .content {
  display: inline-block;
  background: #fff;
  border-radius: 3px; }

.edit-alert .main .title {
  height: 40px;
  font-weight: bold;
  text-align: left;
  line-height: 40px;
  padding: 0 15px;
  background: #F8F8F8;
  border-bottom: solid 1px #DDD;
  position: relative; }

.edit-alert .main .title span {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  right: 10px;
  top: 8px;
  background: url(../common/img/PopLayer-close.png) no-repeat center center;
  cursor: pointer; }

.edit-alert .main .con-main {
  overflow: hidden;
  padding: 15px;
  text-align: left; }

.edit-alert-width .content {
  min-width: 380px; }

/*student*/
.student-position {
  position: relative; }

.student-position .search-line {
  width: 30%;
  position: absolute;
  left: 30%;
  top: 15px; }

.student-position .search-line > div {
  width: 100%; }

/*冒泡层样式*/
#layer-bubble {
  position: fixed;
  z-index: 1000;
  padding: 10px 15px;
  background: #fff;
  border: solid 1px #ddd;
  border-radius: 3px;
  box-shadow: 0 0 3px #ddd; }

#layer-bubble span {
  display: block;
  position: absolute;
  width: 20px;
  height: 18px;
  left: 10px;
  bottom: -14px;
  background: url(../img/jian-icon-1.png) no-repeat center center;
  z-index: 1001; }

/*微信内下载app时提示信息*/
#isWeiXin {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000;
  background: rgba(0, 0, 0, 0.6) url("../img/weixin-ts.png") no-repeat left top;
  background-size: 100%;
  display: none; }

/*淡背景的table底色*/
table.light-b-table > tr.active {
  background: #F8F8F8; }

table.light-b-table > tbody > tr.active > td {
  background: #F8F8F8; }

/*弹出层(拒绝原因 | 确认，取消按钮)*/
.custom-msg-but {
  overflow: hidden; }

.custom-msg-but div {
  text-align: center;
  margin-top: 20px; }

.custom-msg-but div button {
  margin-right: 10px; }

/*媒体查询*/
@media (max-width: 768px) {
  .w-20 {
    width: 100%; }
  .index-left {
    width: 100%;
    height: 50px; }
  .index-left .logo {
    margin-top: 0;
    float: left;
    padding-left: 15px;
    display: block; }
  .admin-nav {
    height: auto;
    display: none;
    margin-top: 0;
    background: #EEEEEE;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%; }
  .iphone-nav-but {
    display: block;
    float: right;
    width: 40px;
    height: 30px;
    background: #ddd;
    margin: 10px 15px 0 0;
    border: solid 1px #ccc;
    border-radius: 3px;
    cursor: pointer;
    color: #666;
    text-align: center;
    font-size: 30px;
    line-height: 15px; }
  .index-right {
    margin-top: 50px; }
  .index-right {
    margin-left: 0; }
  .index-right .top {
    position: static;
    padding: 0 15px; }
  .index-right .top .pull-left {
    display: none; }
  .index-right .bottom {
    margin-top: 0px; }
  .main-content {
    margin-top: 0px; }
  .edit-alert-width .content {
    width: 90%; } }
