<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lili.order.dao.mapper.CoachAllowanceMapper">
  <sql id="setNotNull">
    <set>
      <if test="caid!=null">caid=#{caid},</if>
      <if test="coachId!=null">coach_id=#{coachId},</if>
      <if test="orderId!=null">order_id=#{orderId},</if>
      <if test="allowance!=null">allowance=#{allowance},</if>
      <if test="astate!=null">astate=#{astate},</if>
      <if test="atime!=null">atime=#{atime},</if>
    </set>
  </sql>
  <sql id="setNotNullparam1">
    <set>
      <if test="param1.caid!=null">caid=#{param1.caid},</if>
      <if test="param1.coachId!=null">coach_id=#{param1.coachId},</if>
      <if test="param1.orderId!=null">order_id=#{param1.orderId},</if>
      <if test="param1.allowance!=null">allowance=#{param1.allowance},</if>
      <if test="param1.astate!=null">astate=#{param1.astate},</if>
      <if test="param1.atime!=null">atime=#{param1.atime},</if>
    </set>
  </sql>
  <sql id="setNotNullparam2">
    <set>
      <if test="param2.caid!=null">caid=#{param2.caid},</if>
      <if test="param2.coachId!=null">coach_id=#{param2.coachId},</if>
      <if test="param2.orderId!=null">order_id=#{param2.orderId},</if>
      <if test="param2.allowance!=null">allowance=#{param2.allowance},</if>
      <if test="param2.astate!=null">astate=#{param2.astate},</if>
      <if test="param2.atime!=null">atime=#{param2.atime},</if>
    </set>
  </sql>
  <sql id="setAll">set caid=#{caid}, coach_id=#{coachId}, order_id=#{orderId}, allowance=#{allowance}, astate=#{astate}, atime=#{atime}</sql>
  <sql id="setAllparam1">set caid=#{param1.caid}, coach_id=#{param1.coachId}, order_id=#{param1.orderId}, allowance=#{param1.allowance}, astate=#{param1.astate}, atime=#{param1.atime}</sql>
  <sql id="setAllparam2">set caid=#{param2.caid}, coach_id=#{param2.coachId}, order_id=#{param2.orderId}, allowance=#{param2.allowance}, astate=#{param2.astate}, atime=#{param2.atime}</sql>
  <sql id="queryAnd">
    <where>
      <if test="caid!=null and caid != '' ">And caid=#{caid}</if>
      <if test="coachId!=null and coachId != '' ">And coach_id=#{coachId}</if>
      <if test="orderId!=null and orderId != '' ">And order_id=#{orderId}</if>
      <if test="allowance!=null and allowance != '' ">And allowance=#{allowance}</if>
      <if test="astate!=null and astate != '' ">And astate=#{astate}</if>
      <if test="atime!=null and atime != '' ">And atime=#{atime}</if>
    </where>
  </sql>
  <sql id="queryOr">
    <where>
      <if test="caid!=null and caid != '' ">Or caid=#{caid}</if>
      <if test="coachId!=null and coachId != '' ">Or coach_id=#{coachId}</if>
      <if test="orderId!=null and orderId != '' ">Or order_id=#{orderId}</if>
      <if test="allowance!=null and allowance != '' ">Or allowance=#{allowance}</if>
      <if test="astate!=null and astate != '' ">Or astate=#{astate}</if>
      <if test="atime!=null and atime != '' ">Or atime=#{atime}</if>
    </where>
  </sql>
  <sql id="queryAndparam1">
    <where>
      <if test="param1.caid!=null and param1.caid != '' ">And caid=#{param1.caid}</if>
      <if test="param1.coachId!=null and param1.coachId != '' ">And coach_id=#{param1.coachId}</if>
      <if test="param1.orderId!=null and param1.orderId != '' ">And order_id=#{param1.orderId}</if>
      <if test="param1.allowance!=null and param1.allowance != '' ">And allowance=#{param1.allowance}</if>
      <if test="param1.astate!=null and param1.astate != '' ">And astate=#{param1.astate}</if>
      <if test="param1.atime!=null and param1.atime != '' ">And atime=#{param1.atime}</if>
    </where>
  </sql>
  <sql id="queryAndparam2">
    <where>
      <if test="param2.caid!=null and param2.caid != '' ">And caid=#{param2.caid}</if>
      <if test="param2.coachId!=null and param2.coachId != '' ">And coach_id=#{param2.coachId}</if>
      <if test="param2.orderId!=null and param2.orderId != '' ">And order_id=#{param2.orderId}</if>
      <if test="param2.allowance!=null and param2.allowance != '' ">And allowance=#{param2.allowance}</if>
      <if test="param2.astate!=null and param2.astate != '' ">And astate=#{param2.astate}</if>
      <if test="param2.atime!=null and param2.atime != '' ">And atime=#{param2.atime}</if>
    </where>
  </sql>
  <sql id="queryOrparam1">
    <where>
      <if test="param1.caid!=null and param1.caid != '' ">Or caid=#{param1.caid}</if>
      <if test="param1.coachId!=null and param1.coachId != '' ">Or coach_id=#{param1.coachId}</if>
      <if test="param1.orderId!=null and param1.orderId != '' ">Or order_id=#{param1.orderId}</if>
      <if test="param1.allowance!=null and param1.allowance != '' ">Or allowance=#{param1.allowance}</if>
      <if test="param1.astate!=null and param1.astate != '' ">Or astate=#{param1.astate}</if>
      <if test="param1.atime!=null and param1.atime != '' ">Or atime=#{param1.atime}</if>
    </where>
  </sql>
  <sql id="queryOrparam2">
    <where>
      <if test="param2.caid!=null and param2.caid != '' ">Or caid=#{param2.caid}</if>
      <if test="param2.coachId!=null and param2.coachId != '' ">Or coach_id=#{param2.coachId}</if>
      <if test="param2.orderId!=null and param2.orderId != '' ">Or order_id=#{param2.orderId}</if>
      <if test="param2.allowance!=null and param2.allowance != '' ">Or allowance=#{param2.allowance}</if>
      <if test="param2.astate!=null and param2.astate != '' ">Or astate=#{param2.astate}</if>
      <if test="param2.atime!=null and param2.atime != '' ">Or atime=#{param2.atime}</if>
    </where>
  </sql>
  <insert id="addCoachAllowance">
    <!--/*新增一个对象*/-->insert into t_coach_allowance
    <include refid="setNotNull"/>
  </insert>
  <insert id="addCoachAllowanceList">
    <!--/*新增一批对象*/-->insert into t_coach_allowance values 
    <foreach collection="list" item="one" index="index" separator=",">(#{one.caid},#{one.coachId},#{one.orderId},#{one.allowance},#{one.astate},#{one.atime})</foreach>
  </insert>
  <delete id="delCoachAllowanceById">
    <!--/*根据id删除一个对象*/-->delete from t_coach_allowance where caid=#{caid}
  </delete>
  <delete id="delCoachAllowanceByIds">
    <!--/*根据id删除一个对象*/-->delete from t_coach_allowance where caid in 
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item}</foreach>
  </delete>
  <delete id="delCoachAllowanceByObj">
    <!--/*根据对象中无为空的字段删除一个或者多个对象*/-->delete from t_coach_allowance
    <include refid="queryAnd"/>
  </delete>
  <insert id="saveCoachAllowance">
    <!--/*新增或者更新一个对象*/-->replace into t_coach_allowance
    <include refid="setNotNull"/>
  </insert>
  <insert id="saveCoachAllowanceList">
    <!--/*新增或者更新一批对象*/-->replace into t_coach_allowance values 
    <foreach collection="list" item="one" index="index" separator=",">(#{one.caid},#{one.coachId},#{one.orderId},#{one.allowance},#{one.astate},#{one.atime})</foreach>
  </insert>
  <update id="updateByCaid">
    <!--/*根据字段caid更新一个或者多个对象*/-->update t_coach_allowance
    <include refid="setNotNullparam1"/> where caid=#{param2}
  </update>
  <update id="updateByCoachId">
    <!--/*根据字段coachId更新一个或者多个对象*/-->update t_coach_allowance
    <include refid="setNotNullparam1"/> where coach_id=#{param2}
  </update>
  <update id="updateByOrderId">
    <!--/*根据字段orderId更新一个或者多个对象*/-->update t_coach_allowance
    <include refid="setNotNullparam1"/> where order_id=#{param2}
  </update>
  <update id="updateByAllowance">
    <!--/*根据字段allowance更新一个或者多个对象*/-->update t_coach_allowance
    <include refid="setNotNullparam1"/> where allowance=#{param2}
  </update>
  <update id="updateByAstate">
    <!--/*根据字段astate更新一个或者多个对象*/-->update t_coach_allowance
    <include refid="setNotNullparam1"/> where astate=#{param2}
  </update>
  <update id="updateByAtime">
    <!--/*根据字段atime更新一个或者多个对象*/-->update t_coach_allowance
    <include refid="setNotNullparam1"/> where atime=#{param2}
  </update>
  <update id="updateNotNullByObject">
    <!--/*使用第二个对象作为条件在表中搜索，将得到的集合用第一个对象不为空的字段都进行更新*/-->update t_coach_allowance 
    <include refid="setNotNullparam1"/>
    <include refid="queryAndparam2"/>
  </update>
  <update id="updateAllByObject">
    <!--/*使用第二个对象作为条件在表中搜索，将得到的集合用第一个对象不为空的字段都进行更新*/-->update t_coach_allowance
    <include refid="setAllparam1"/>
    <include refid="queryAndparam2"/>
  </update>
  <select id="queryCoachAllowanceById" resultType="CoachAllowancePo">
    <!--/*根据主键查询一个对象*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance where caid=#{param1} ${param2}
  </select>
  <select id="queryCoachAllowanceByIds" resultType="CoachAllowancePo">
    <!--/*根据ids查询多个对象，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance where caid in 
    <foreach item="item" index="index" collection="param1" open="(" separator="," close=")">#{item}</foreach> ${param2}
  </select>
  <select id="queryByObjectAnd" resultType="CoachAllowancePo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByObjectOr" resultType="CoachAllowancePo">
    <!--/*使用第一个对象所有不为空的字段作为OR条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance
    <include refid="queryOrparam1"/> ${param2}
  </select>
  <select id="queryByCaid" resultType="CoachAllowancePo">
    <!--/*根据字段caid查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance where caid=#{param1} ${param2}
  </select>
  <select id="queryByCoachId" resultType="CoachAllowancePo">
    <!--/*根据字段coachId查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance where coach_id=#{param1} ${param2}
  </select>
  <select id="queryByOrderId" resultType="CoachAllowancePo">
    <!--/*根据字段orderId查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance where order_id=#{param1} ${param2}
  </select>
  <select id="queryByAllowance" resultType="CoachAllowancePo">
    <!--/*根据字段allowance查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance where allowance=#{param1} ${param2}
  </select>
  <select id="queryByAstate" resultType="CoachAllowancePo">
    <!--/*根据字段astate查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance where astate=#{param1} ${param2}
  </select>
  <select id="queryByAtime" resultType="CoachAllowancePo">
    <!--/*根据字段atime查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance where atime=#{param1} ${param2}
  </select>
  <select id="queryByNew0" resultType="CoachAllowancePo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew1" resultType="CoachAllowancePo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew2" resultType="CoachAllowancePo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew3" resultType="CoachAllowancePo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew4" resultType="CoachAllowancePo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew5" resultType="CoachAllowancePo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew6" resultType="CoachAllowancePo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew7" resultType="CoachAllowancePo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select caid as caid,coach_id as coachId,order_id as orderId,allowance as allowance,astate as astate,atime as atime from t_coach_allowance
    <include refid="queryAndparam1"/> ${param2}
  </select>
</mapper>
