<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lili.order.dao.mapper.SkillRelationMapper">
  <sql id="setNotNull">
    <set>
      <if test="sid!=null">sid=#{sid},</if>
      <if test="ctid!=null">ctid=#{ctid},</if>
      <if test="cityId!=null">city_id=#{cityId},</if>
      <if test="courseId!=null">course_id=#{courseId},</if>
      <if test="subjectId!=null">subject_id=#{subjectId},</if>
      <if test="isdel!=null">isdel=#{isdel},</if>
      <if test="cuid!=null">cuid=#{cuid},</if>
      <if test="muid!=null">muid=#{muid},</if>
      <if test="ctime!=null">ctime=#{ctime},</if>
      <if test="mtime!=null">mtime=#{mtime},</if>
    </set>
  </sql>
  <sql id="setNotNullparam1">
    <set>
      <if test="param1.sid!=null">sid=#{param1.sid},</if>
      <if test="param1.ctid!=null">ctid=#{param1.ctid},</if>
      <if test="param1.cityId!=null">city_id=#{param1.cityId},</if>
      <if test="param1.courseId!=null">course_id=#{param1.courseId},</if>
      <if test="param1.subjectId!=null">subject_id=#{param1.subjectId},</if>
      <if test="param1.isdel!=null">isdel=#{param1.isdel},</if>
      <if test="param1.cuid!=null">cuid=#{param1.cuid},</if>
      <if test="param1.muid!=null">muid=#{param1.muid},</if>
      <if test="param1.ctime!=null">ctime=#{param1.ctime},</if>
      <if test="param1.mtime!=null">mtime=#{param1.mtime},</if>
    </set>
  </sql>
  <sql id="setNotNullparam2">
    <set>
      <if test="param2.sid!=null">sid=#{param2.sid},</if>
      <if test="param2.ctid!=null">ctid=#{param2.ctid},</if>
      <if test="param2.cityId!=null">city_id=#{param2.cityId},</if>
      <if test="param2.courseId!=null">course_id=#{param2.courseId},</if>
      <if test="param2.subjectId!=null">subject_id=#{param2.subjectId},</if>
      <if test="param2.isdel!=null">isdel=#{param2.isdel},</if>
      <if test="param2.cuid!=null">cuid=#{param2.cuid},</if>
      <if test="param2.muid!=null">muid=#{param2.muid},</if>
      <if test="param2.ctime!=null">ctime=#{param2.ctime},</if>
      <if test="param2.mtime!=null">mtime=#{param2.mtime},</if>
    </set>
  </sql>
  <sql id="setAll">set sid=#{sid}, ctid=#{ctid}, city_id=#{cityId}, course_id=#{courseId}, subject_id=#{subjectId}, isdel=#{isdel}, cuid=#{cuid}, muid=#{muid}, ctime=#{ctime}, mtime=#{mtime}</sql>
  <sql id="setAllparam1">set sid=#{param1.sid}, ctid=#{param1.ctid}, city_id=#{param1.cityId}, course_id=#{param1.courseId}, subject_id=#{param1.subjectId}, isdel=#{param1.isdel}, cuid=#{param1.cuid}, muid=#{param1.muid}, ctime=#{param1.ctime}, mtime=#{param1.mtime}</sql>
  <sql id="setAllparam2">set sid=#{param2.sid}, ctid=#{param2.ctid}, city_id=#{param2.cityId}, course_id=#{param2.courseId}, subject_id=#{param2.subjectId}, isdel=#{param2.isdel}, cuid=#{param2.cuid}, muid=#{param2.muid}, ctime=#{param2.ctime}, mtime=#{param2.mtime}</sql>
  <sql id="queryAnd">
    <where>
      <if test="sid!=null and sid != '' ">And sid=#{sid}</if>
      <if test="ctid!=null and ctid != '' ">And ctid=#{ctid}</if>
      <if test="cityId!=null and cityId != '' ">And city_id=#{cityId}</if>
      <if test="courseId!=null and courseId != '' ">And course_id=#{courseId}</if>
      <if test="subjectId!=null and subjectId != '' ">And subject_id=#{subjectId}</if>
      <if test="isdel!=null and isdel != '' ">And isdel=#{isdel}</if>
      <if test="cuid!=null and cuid != '' ">And cuid=#{cuid}</if>
      <if test="muid!=null and muid != '' ">And muid=#{muid}</if>
      <if test="ctime!=null and ctime != '' ">And ctime=#{ctime}</if>
      <if test="mtime!=null and mtime != '' ">And mtime=#{mtime}</if>
    </where>
  </sql>
  <sql id="queryOr">
    <where>
      <if test="sid!=null and sid != '' ">Or sid=#{sid}</if>
      <if test="ctid!=null and ctid != '' ">Or ctid=#{ctid}</if>
      <if test="cityId!=null and cityId != '' ">Or city_id=#{cityId}</if>
      <if test="courseId!=null and courseId != '' ">Or course_id=#{courseId}</if>
      <if test="subjectId!=null and subjectId != '' ">Or subject_id=#{subjectId}</if>
      <if test="isdel!=null and isdel != '' ">Or isdel=#{isdel}</if>
      <if test="cuid!=null and cuid != '' ">Or cuid=#{cuid}</if>
      <if test="muid!=null and muid != '' ">Or muid=#{muid}</if>
      <if test="ctime!=null and ctime != '' ">Or ctime=#{ctime}</if>
      <if test="mtime!=null and mtime != '' ">Or mtime=#{mtime}</if>
    </where>
  </sql>
  <sql id="queryAndparam1">
    <where>
      <if test="param1.sid!=null and param1.sid != '' ">And sid=#{param1.sid}</if>
      <if test="param1.ctid!=null and param1.ctid != '' ">And ctid=#{param1.ctid}</if>
      <if test="param1.cityId!=null and param1.cityId != '' ">And city_id=#{param1.cityId}</if>
      <if test="param1.courseId!=null and param1.courseId != '' ">And course_id=#{param1.courseId}</if>
      <if test="param1.subjectId!=null and param1.subjectId != '' ">And subject_id=#{param1.subjectId}</if>
      <if test="param1.isdel!=null and param1.isdel != '' ">And isdel=#{param1.isdel}</if>
      <if test="param1.cuid!=null and param1.cuid != '' ">And cuid=#{param1.cuid}</if>
      <if test="param1.muid!=null and param1.muid != '' ">And muid=#{param1.muid}</if>
      <if test="param1.ctime!=null and param1.ctime != '' ">And ctime=#{param1.ctime}</if>
      <if test="param1.mtime!=null and param1.mtime != '' ">And mtime=#{param1.mtime}</if>
    </where>
  </sql>
  <sql id="queryAndparam2">
    <where>
      <if test="param2.sid!=null and param2.sid != '' ">And sid=#{param2.sid}</if>
      <if test="param2.ctid!=null and param2.ctid != '' ">And ctid=#{param2.ctid}</if>
      <if test="param2.cityId!=null and param2.cityId != '' ">And city_id=#{param2.cityId}</if>
      <if test="param2.courseId!=null and param2.courseId != '' ">And course_id=#{param2.courseId}</if>
      <if test="param2.subjectId!=null and param2.subjectId != '' ">And subject_id=#{param2.subjectId}</if>
      <if test="param2.isdel!=null and param2.isdel != '' ">And isdel=#{param2.isdel}</if>
      <if test="param2.cuid!=null and param2.cuid != '' ">And cuid=#{param2.cuid}</if>
      <if test="param2.muid!=null and param2.muid != '' ">And muid=#{param2.muid}</if>
      <if test="param2.ctime!=null and param2.ctime != '' ">And ctime=#{param2.ctime}</if>
      <if test="param2.mtime!=null and param2.mtime != '' ">And mtime=#{param2.mtime}</if>
    </where>
  </sql>
  <sql id="queryOrparam1">
    <where>
      <if test="param1.sid!=null and param1.sid != '' ">Or sid=#{param1.sid}</if>
      <if test="param1.ctid!=null and param1.ctid != '' ">Or ctid=#{param1.ctid}</if>
      <if test="param1.cityId!=null and param1.cityId != '' ">Or city_id=#{param1.cityId}</if>
      <if test="param1.courseId!=null and param1.courseId != '' ">Or course_id=#{param1.courseId}</if>
      <if test="param1.subjectId!=null and param1.subjectId != '' ">Or subject_id=#{param1.subjectId}</if>
      <if test="param1.isdel!=null and param1.isdel != '' ">Or isdel=#{param1.isdel}</if>
      <if test="param1.cuid!=null and param1.cuid != '' ">Or cuid=#{param1.cuid}</if>
      <if test="param1.muid!=null and param1.muid != '' ">Or muid=#{param1.muid}</if>
      <if test="param1.ctime!=null and param1.ctime != '' ">Or ctime=#{param1.ctime}</if>
      <if test="param1.mtime!=null and param1.mtime != '' ">Or mtime=#{param1.mtime}</if>
    </where>
  </sql>
  <sql id="queryOrparam2">
    <where>
      <if test="param2.sid!=null and param2.sid != '' ">Or sid=#{param2.sid}</if>
      <if test="param2.ctid!=null and param2.ctid != '' ">Or ctid=#{param2.ctid}</if>
      <if test="param2.cityId!=null and param2.cityId != '' ">Or city_id=#{param2.cityId}</if>
      <if test="param2.courseId!=null and param2.courseId != '' ">Or course_id=#{param2.courseId}</if>
      <if test="param2.subjectId!=null and param2.subjectId != '' ">Or subject_id=#{param2.subjectId}</if>
      <if test="param2.isdel!=null and param2.isdel != '' ">Or isdel=#{param2.isdel}</if>
      <if test="param2.cuid!=null and param2.cuid != '' ">Or cuid=#{param2.cuid}</if>
      <if test="param2.muid!=null and param2.muid != '' ">Or muid=#{param2.muid}</if>
      <if test="param2.ctime!=null and param2.ctime != '' ">Or ctime=#{param2.ctime}</if>
      <if test="param2.mtime!=null and param2.mtime != '' ">Or mtime=#{param2.mtime}</if>
    </where>
  </sql>
  <insert id="addSkillRelation">
    <!--/*新增一个对象*/-->insert into t_skill_relation
    <include refid="setNotNull"/>
  </insert>
  <insert id="addSkillRelationList">
    <!--/*新增一批对象*/-->insert into t_skill_relation values 
    <foreach collection="list" item="one" index="index" separator=",">(#{one.sid},#{one.ctid},#{one.cityId},#{one.courseId},#{one.subjectId},#{one.isdel},#{one.cuid},#{one.muid},#{one.ctime},#{one.mtime})</foreach>
  </insert>
  <delete id="delSkillRelationById">
    <!--/*根据id删除一个对象*/-->delete from t_skill_relation where sid=#{sid}
  </delete>
  <delete id="delSkillRelationByIds">
    <!--/*根据id删除一个对象*/-->delete from t_skill_relation where sid in 
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item}</foreach>
  </delete>
  <delete id="delSkillRelationByObj">
    <!--/*根据对象中无为空的字段删除一个或者多个对象*/-->delete from t_skill_relation
    <include refid="queryAnd"/>
  </delete>
  <insert id="saveSkillRelation">
    <!--/*新增或者更新一个对象*/-->replace into t_skill_relation
    <include refid="setNotNull"/>
  </insert>
  <insert id="saveSkillRelationList">
    <!--/*新增或者更新一批对象*/-->replace into t_skill_relation values 
    <foreach collection="list" item="one" index="index" separator=",">(#{one.sid},#{one.ctid},#{one.cityId},#{one.courseId},#{one.subjectId},#{one.isdel},#{one.cuid},#{one.muid},#{one.ctime},#{one.mtime})</foreach>
  </insert>
  <update id="updateBySid">
    <!--/*根据字段sid更新一个或者多个对象*/-->update t_skill_relation
    <include refid="setNotNullparam1"/> where sid=#{param2}
  </update>
  <update id="updateByCtid">
    <!--/*根据字段ctid更新一个或者多个对象*/-->update t_skill_relation
    <include refid="setNotNullparam1"/> where ctid=#{param2}
  </update>
  <update id="updateByCityId">
    <!--/*根据字段cityId更新一个或者多个对象*/-->update t_skill_relation
    <include refid="setNotNullparam1"/> where city_id=#{param2}
  </update>
  <update id="updateByCourseId">
    <!--/*根据字段courseId更新一个或者多个对象*/-->update t_skill_relation
    <include refid="setNotNullparam1"/> where course_id=#{param2}
  </update>
  <update id="updateBySubjectId">
    <!--/*根据字段subjectId更新一个或者多个对象*/-->update t_skill_relation
    <include refid="setNotNullparam1"/> where subject_id=#{param2}
  </update>
  <update id="updateByIsdel">
    <!--/*根据字段isdel更新一个或者多个对象*/-->update t_skill_relation
    <include refid="setNotNullparam1"/> where isdel=#{param2}
  </update>
  <update id="updateByCuid">
    <!--/*根据字段cuid更新一个或者多个对象*/-->update t_skill_relation
    <include refid="setNotNullparam1"/> where cuid=#{param2}
  </update>
  <update id="updateByMuid">
    <!--/*根据字段muid更新一个或者多个对象*/-->update t_skill_relation
    <include refid="setNotNullparam1"/> where muid=#{param2}
  </update>
  <update id="updateByCtime">
    <!--/*根据字段ctime更新一个或者多个对象*/-->update t_skill_relation
    <include refid="setNotNullparam1"/> where ctime=#{param2}
  </update>
  <update id="updateByMtime">
    <!--/*根据字段mtime更新一个或者多个对象*/-->update t_skill_relation
    <include refid="setNotNullparam1"/> where mtime=#{param2}
  </update>
  <update id="updateNotNullByObject">
    <!--/*使用第二个对象作为条件在表中搜索，将得到的集合用第一个对象不为空的字段都进行更新*/-->update t_skill_relation 
    <include refid="setNotNullparam1"/>
    <include refid="queryAndparam2"/>
  </update>
  <update id="updateAllByObject">
    <!--/*使用第二个对象作为条件在表中搜索，将得到的集合用第一个对象不为空的字段都进行更新*/-->update t_skill_relation
    <include refid="setAllparam1"/>
    <include refid="queryAndparam2"/>
  </update>
  <select id="querySkillRelationById" resultType="SkillRelationPo">
    <!--/*根据主键查询一个对象*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation where sid=#{param1} ${param2}
  </select>
  <select id="querySkillRelationByIds" resultType="SkillRelationPo">
    <!--/*根据ids查询多个对象，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation where sid in 
    <foreach item="item" index="index" collection="param1" open="(" separator="," close=")">#{item}</foreach> ${param2}
  </select>
  <select id="queryByObjectAnd" resultType="SkillRelationPo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByObjectOr" resultType="SkillRelationPo">
    <!--/*使用第一个对象所有不为空的字段作为OR条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation
    <include refid="queryOrparam1"/> ${param2}
  </select>
  <select id="queryBySid" resultType="SkillRelationPo">
    <!--/*根据字段sid查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation where sid=#{param1} ${param2}
  </select>
  <select id="queryByCtid" resultType="SkillRelationPo">
    <!--/*根据字段ctid查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation where ctid=#{param1} ${param2}
  </select>
  <select id="queryByCityId" resultType="SkillRelationPo">
    <!--/*根据字段cityId查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation where city_id=#{param1} ${param2}
  </select>
  <select id="queryByCourseId" resultType="SkillRelationPo">
    <!--/*根据字段courseId查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation where course_id=#{param1} ${param2}
  </select>
  <select id="queryBySubjectId" resultType="SkillRelationPo">
    <!--/*根据字段subjectId查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation where subject_id=#{param1} ${param2}
  </select>
  <select id="queryByIsdel" resultType="SkillRelationPo">
    <!--/*根据字段isdel查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation where isdel=#{param1} ${param2}
  </select>
  <select id="queryByCuid" resultType="SkillRelationPo">
    <!--/*根据字段cuid查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation where cuid=#{param1} ${param2}
  </select>
  <select id="queryByMuid" resultType="SkillRelationPo">
    <!--/*根据字段muid查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation where muid=#{param1} ${param2}
  </select>
  <select id="queryByCtime" resultType="SkillRelationPo">
    <!--/*根据字段ctime查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation where ctime=#{param1} ${param2}
  </select>
  <select id="queryByMtime" resultType="SkillRelationPo">
    <!--/*根据字段mtime查询一个或者多个对象，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation where mtime=#{param1} ${param2}
  </select>
  <select id="queryByNew0" resultType="SkillRelationPo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew1" resultType="SkillRelationPo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew2" resultType="SkillRelationPo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew3" resultType="SkillRelationPo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew4" resultType="SkillRelationPo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew5" resultType="SkillRelationPo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew6" resultType="SkillRelationPo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation
    <include refid="queryAndparam1"/> ${param2}
  </select>
  <select id="queryByNew7" resultType="SkillRelationPo">
    <!--/*使用第一个对象所有不为空的字段作为AND条件在表中查询结果集，第二个参数为排序或者分页的sql语句*/-->select sid as sid,ctid as ctid,city_id as cityId,course_id as courseId,subject_id as subjectId,isdel as isdel,cuid as cuid,muid as muid,ctime as ctime,mtime as mtime from t_skill_relation
    <include refid="queryAndparam1"/> ${param2}
  </select>
</mapper>
