drop table if exists t_s_bbs;

/*==============================================================*/
/* Table: t_s_bbs                                               */
/*==============================================================*/
CREATE TABLE `t_s_bbs` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `user_id` bigint(11) NOT NULL COMMENT '用户ID',
  `user_type` tinyint(4) NOT NULL DEFAULT '2' COMMENT '用户类型：1-教练；2-学员',
  `user_name` varchar(32) DEFAULT NULL COMMENT '用户名称',
  `head_icon` varchar(256) DEFAULT NULL COMMENT '用户头像',
  `classify` tinyint(4) DEFAULT '1' COMMENT '分类：1-学员社区；2-教练社区；3-公共区域',
  `city_id` int(11) DEFAULT '100100' COMMENT '城市ID',
  `city_name` varchar(128) DEFAULT NULL COMMENT '城市名',
  `topic_id` int(11) DEFAULT NULL COMMENT '菜单名称',
  `topic_name` varchar(128) DEFAULT NULL COMMENT '菜单名称',
  `title_type` tinyint(4) DEFAULT '1' COMMENT '标题类型：1-心情；2-话题',
  `praise` int(11) DEFAULT '0' COMMENT '点赞人数',
  `reply` int(11) DEFAULT '0' COMMENT '回复人数',
  `is_inform` tinyint(4) DEFAULT '0' COMMENT '是否被举报：0-否；1-是',
  `inform` int(11) DEFAULT '0' COMMENT '举报人数',
  `top_level` tinyint(4) DEFAULT '0' COMMENT '优先级排序；0-255',
  `is_top_group` tinyint(4) DEFAULT '0' COMMENT '是否圈内置顶：0-否；1-是',
  `is_top_global` tinyint(4) DEFAULT '0' COMMENT '是否全局置顶：0-否；1-是',
  `status` tinyint(4) DEFAULT '0' COMMENT '状态：0-正常；1-屏蔽，2-举报',
  `channel` tinyint(4) DEFAULT '1' COMMENT '状态：1-用户；2-管理员',
  `is_del` tinyint(4) NOT NULL DEFAULT '0' COMMENT '是否删除：0-未删除；1-已删除',
  `ctime` timestamp(3) NULL DEFAULT NULL COMMENT '创建时间',
  `cuid` bigint(20) DEFAULT NULL COMMENT '创建人',
  `mtime` datetime DEFAULT NULL COMMENT '更新时间',
  `muid` bigint(20) DEFAULT NULL COMMENT '更新人',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COMMENT='学员社区';



drop table if exists t_s_bbs_extend;

/*==============================================================*/
/* Table: t_s_bbs_extend                                        */
/*==============================================================*/
CREATE TABLE `t_s_bbs_extend` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `bbs_id` int(11) NOT NULL COMMENT 'bbs主键ID',
  `title` varchar(128) DEFAULT NULL COMMENT '标题',
  `content` varchar(5000) NOT NULL COMMENT '内容',
  `pic` varchar(1024) DEFAULT NULL COMMENT '图片',
  `ext` varchar(128) DEFAULT NULL COMMENT '冗余字段',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COMMENT='学员社区扩展表';



drop table if exists t_s_bbs_inform;

/*==============================================================*/
/* Table: t_s_bbs_inform                                        */
/*==============================================================*/
CREATE TABLE `t_s_bbs_inform` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `user_id` bigint(11) NOT NULL COMMENT '用户ID',
  `user_type` tinyint(4) NOT NULL DEFAULT '2' COMMENT '用户类型：1-教练；2-学员',
  `user_name` varchar(32) DEFAULT NULL COMMENT '用户名称',
  `head_icon` varchar(256) DEFAULT NULL COMMENT '用户头像',
  `reason` varchar(128) DEFAULT NULL COMMENT '举报内容',
  `bbs_id` int(11) NOT NULL COMMENT 'bbs主键ID',
  `title` varchar(128) DEFAULT NULL COMMENT '标题',
  `content` varchar(1000) DEFAULT NULL COMMENT '内容',
  `is_del` tinyint(4) NOT NULL DEFAULT '0' COMMENT '是否删除：0-未删除；1-已删除',
  `ctime` timestamp NULL DEFAULT NULL  COMMENT '创建时间',
  `mtime` datetime DEFAULT NULL COMMENT '更新时间',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='举报列表';



drop table if exists t_s_bbs_reply;

/*==============================================================*/
/* Table: t_s_bbs_reply                                         */
/*==============================================================*/
CREATE TABLE `t_s_bbs_reply` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `bbs_id` int(11) NOT NULL COMMENT '帖子ID',
  `user_id` bigint(11) NOT NULL COMMENT '回复人ID',
  `user_type` tinyint(4) NOT NULL DEFAULT '2' COMMENT '回复人类型：1-教练；2-学员',
  `user_name` varchar(32) DEFAULT NULL COMMENT '名称',
  `head_icon` varchar(128) DEFAULT NULL COMMENT '头像地址',
  `city_id` int(11) DEFAULT '100100' COMMENT '城市ID',
  `city_name` varchar(128) DEFAULT NULL COMMENT '城市名',
  `byre_id` int(11) DEFAULT '0' COMMENT '一级回复主键ID',
  `byre_user_id` bigint(11) DEFAULT NULL COMMENT '一级回复人ID',
  `byre_user_name` varchar(32) DEFAULT NULL COMMENT '一级回复人姓名',
  `byre_user_type` tinyint(4) DEFAULT NULL COMMENT '一级回复人类型：1-教练；2-学员',
  `byre_content` varchar(255) DEFAULT NULL COMMENT '回复评论内容',
  `reply_content` varchar(255) DEFAULT NULL COMMENT '回复帖子内容',
  `content` varchar(5000) DEFAULT NULL COMMENT '帖子内容',
  `status` tinyint(4) DEFAULT '0' COMMENT '状态：0-正常；1-屏蔽，2-举报',
  `is_notice` tinyint(4) DEFAULT '1' COMMENT '是否在消息中心显示：1-在消息中心显示；2-不显示',
  `praise` int(11) DEFAULT '0' COMMENT '点赞人数',
	`bbs_user_id` bigint(11) DEFAULT NULL COMMENT '被回复人ID（含二级）',
  `bbs_user_type` tinyint(4) DEFAULT '2' COMMENT '被回复人类型：1-教练；2-学员',
  `bbs_user_name` varchar(32) DEFAULT NULL COMMENT '被回复人名称',
  `ctime` timestamp NULL DEFAULT NULL  COMMENT '回复时间',
  `cuid` bigint(20) DEFAULT NULL COMMENT '创建人',
  `mtime` datetime DEFAULT NULL COMMENT '更新时间',
  `muid` bigint(20) DEFAULT NULL COMMENT '更新人',
  `is_del` tinyint(4) NOT NULL DEFAULT '0' COMMENT '是否删除：0-否；1-是',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='评论列表';


drop table if exists t_s_bbs_blacklist;

/*==============================================================*/
/* Table: t_s_bbs_blacklist                                     */
/*==============================================================*/
CREATE TABLE `t_s_bbs_blacklist` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键',
  `user_id` bigint(11) NOT NULL COMMENT '用户ID',
  `user_type` tinyint(4) NOT NULL DEFAULT '2' COMMENT '用户类型：1-教练；2-学员',
  `phone_num` varchar(16) DEFAULT NULL COMMENT '手机号',
  `name` varchar(32) DEFAULT NULL COMMENT '姓名',
  `mute_time` datetime DEFAULT NULL COMMENT '禁言时间',
  `is_del` tinyint(4) NOT NULL DEFAULT '0' COMMENT '是否删除：0-否；1-是',
  `ctime` timestamp NULL DEFAULT NULL  COMMENT '创建时间',
  `cuid` bigint(20) DEFAULT NULL COMMENT '创建人',
  `mtime` datetime DEFAULT NULL COMMENT '更新时间',
  `muid` bigint(20) DEFAULT NULL COMMENT '更新人',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='黑名单表';




drop table if exists t_s_bbs_praise;

/*==============================================================*/
/* Table: t_s_bbs_praise                                        */
/*==============================================================*/
CREATE TABLE `t_s_bbs_praise` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `bbs_id` int(11) DEFAULT NULL COMMENT '帖子主键ID',
  `user_id` bigint(11) DEFAULT NULL COMMENT '用户ID',
  `user_type` tinyint(4) DEFAULT '2' COMMENT '用户类型：1-教练；2-学员',
  `user_name` varchar(32) DEFAULT NULL COMMENT '名称',
  `head_icon` varchar(256) DEFAULT NULL COMMENT '头像',
  `praise_user_id` bigint(11) NOT NULL COMMENT '被点赞用户ID',
  `praise_user_type` tinyint(4) NOT NULL DEFAULT '2' COMMENT '被点赞用户类型：1-教练；2-学员',
  `praise_content` varchar(5000) DEFAULT NULL COMMENT '回复内容',
  `is_notice` tinyint(4) DEFAULT '1' COMMENT '是否在消息中心显示：1-在消息中心显示；2-不显示',
  `is_del` tinyint(4) DEFAULT '0' COMMENT '是否删除：0-否；1-是',
  `ctime` timestamp NULL DEFAULT NULL  COMMENT '创建时间',
  `mtime` datetime DEFAULT NULL COMMENT '更新时间',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='点赞列表';


drop table if exists t_s_bbs_topic;

/*==============================================================*/
/* Table: t_s_bbs_menu                                          */
/*==============================================================*/
CREATE TABLE `t_s_bbs_topic` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `topic_name` varchar(32) NOT NULL COMMENT '菜单名称',
  `icon` varchar(255) DEFAULT NULL COMMENT '图标',
  `bbs_num` int(11) DEFAULT '0' COMMENT '帖子数',
  `top_level` tinyint(4) DEFAULT '0' COMMENT '优先级排序；0-255',
  `user_type` tinyint(4) DEFAULT '2' COMMENT '用户类型：1-教练；2-学员',
  `status` tinyint(4) DEFAULT '0' COMMENT '状态：0-正常；1-屏蔽',
  `is_open` tinyint(4) DEFAULT '0' COMMENT '是否对外开放：0-是；1-否禁言',
  `is_del` tinyint(4) NOT NULL DEFAULT '0' COMMENT '是否删除：0-否；1-是',
  `ctime` timestamp NULL DEFAULT NULL  COMMENT '创建时间',
  `cuid` bigint(20) DEFAULT NULL COMMENT '创建人',
  `mtime` datetime DEFAULT NULL COMMENT '更新时间',
  `muid` bigint(20) DEFAULT NULL COMMENT '更新人',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='社区菜单冗余表';


drop table if exists t_s_bbs_word;

/*==============================================================*/
/* Table: t_s_bbs_word                                          */
/*==============================================================*/
CREATE TABLE `t_s_bbs_word` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `word` varchar(128) NOT NULL COMMENT '关键字',
  `user_type` tinyint(4) DEFAULT '0' COMMENT '用户类型：0-未知；1-教练；2-学员',  
  `is_del` tinyint(4) NOT NULL DEFAULT '0' COMMENT '是否删除：0-否；1-是',
  `ctime` timestamp NULL DEFAULT NULL  COMMENT '创建时间',
  `cuid` bigint(20) DEFAULT NULL COMMENT '创建人',
  `mtime` datetime DEFAULT NULL COMMENT '更新时间',
  `muid` bigint(20) DEFAULT NULL COMMENT '更新人',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='关键字过滤表';



drop table if exists t_s_bbs_weskit;

/*==============================================================*/
/* Table: t_s_bbs_weskit                                          */
/*==============================================================*/
CREATE TABLE `t_s_bbs_weskit` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `user_id` bigint(11) NOT NULL COMMENT '用户ID',
  `user_type` tinyint(4) DEFAULT '0' COMMENT '用户类型：0-未知；1-教练；2-学员', 
  `user_name` varchar(256) DEFAULT NULL COMMENT '用户名称',
  `sex` tinyint(4) DEFAULT '1' COMMENT '性别(0,女；1，男；2，未知)',
  `head_icon` varchar(256) DEFAULT NULL COMMENT '头像',
  `city_name` varchar(256) DEFAULT NULL COMMENT '城市名称',
  `bbs_num` int(11) DEFAULT '0' COMMENT '发帖数',
  `reply_num` int(11) DEFAULT '0' COMMENT '回复数',
  `is_del` tinyint(4) NOT NULL DEFAULT '0' COMMENT '是否删除：0-否；1-是',
  `ctime` timestamp NULL DEFAULT NULL  COMMENT '创建时间',
  `cuid` bigint(20) DEFAULT NULL COMMENT '创建人',
  `mtime` datetime DEFAULT NULL COMMENT '更新时间',
  `muid` bigint(20) DEFAULT NULL COMMENT '更新人',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='马甲表';




alter table t_u_student add column applyChannel tinyint(4) NOT NULL DEFAULT '0' COMMENT '报名渠道：0-未报名；1-计时班别；2-驾校班别';


--    CMS增加权限

INSERT INTO db_lili_cms.`t_c_permission` VALUES (0, 170000, '社区管理', 0, ' ', 1, 0, NULL, NULL, 8, 8, 1, 1);
INSERT INTO db_lili_cms.`t_c_permission` VALUES (0, 170100, '帖子管理', 170000, 'bbs-post.html', 1, 0, NULL, '/bbs/getBBSList', 1, 1, 2, 1);
INSERT INTO db_lili_cms.`t_c_permission` VALUES (0, 170101, '发帖', 170100, '/bbs/newBBS', 2, 0, NULL, '/bbs/newBBS', 0, 2, 3, 1);



INSERT INTO db_lili_cms.`t_c_role_permission` VALUES(170000, 1);
INSERT INTO db_lili_cms.`t_c_role_permission` VALUES(170100, 1);
INSERT INTO db_lili_cms.`t_c_role_permission` VALUES(170101, 1);






--  添加敏感词


INSERT INTO `t_s_bbs_topic` (topic_name,icon,bbs_num,top_level,user_type,status,is_open,is_del,ctime,cuid,mtime,muid) VALUES 
('科目一', NULL, 0, 10, 2, 0, 0, 0, '2017-04-05 10:52:16', 1, null, 1),
('科目二', NULL, 0, 20, 2, 0, 0, 0, '2017-04-05 10:52:16', 1, null, 1),
('科目三', NULL, 0, 30, 2, 0, 0, 0, '2017-04-05 10:52:16', 1, null, 1),
('科目四', NULL, 0, 40, 2, 0, 0, 0, '2017-04-05 10:52:16', 1, null, 1),
('前祈愿', NULL, 0, 50, 2, 0, 0, 0, '2017-04-05 10:52:16', 1, null, 1),
('学车趣事', NULL, 0, 60, 2, 0, 0, 0, '2017-04-05 10:52:16', 1, null, 1);
