
<div class="right_col" role="main">
                <div class="page-title">
            <div class="title_left" style="margin-top:8px;">
                <h3>充值记录</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class=""><a href="#/rc-school/account">集团帐户</a></li>
                        <li role="presentation" class=""><a href="#/rc-school/coach">教练交易帐号</a></li>
                        <li role="presentation" class=""><a href="#/rc-school/consumption">消费记录</a></li>
                        <li role="presentation" class="active"><a href="#/rc-school/recharge">充值记录</a></li>
                    </ul>
                    <div class="x_content">
                        <div>
                            <div class="form-inline">
                                <div class="form-group group-inline z-mr20 z-mb10">
                                    <label>充值日期：</label>
                                    <input id="startTime" type="text" onclick="laydate({istime: true,format: 'YYYY-MM-DD hh:mm:ss'})" placeholder="开始时间" class="form-control input-sm" style="width:100px;"> -
                                    <input id="endTime" type="text" onclick="laydate({istime: true,format: 'YYYY-MM-DD hh:mm:ss'})" placeholder="结束时间" class="form-control input-sm" style="width:100px;">
                                </div>
                                <div class="form-group group-inline z-mr20 z-mb10">
                                    <label>流水号：</label>
                                    <input ng-model="serialNumber" placeholder="消费流水号" class="form-control input-sm" style="width:200px;">
                                </div>
                                <div class="form-group group-inline z-mr20 z-mb10">
                                    <label>充值状态：</label>
                                    <select ng-model="rstatus" class="form-control input-sm">
                                        <option value="">全部</option>
                                        <option value="1">成功</option>
                                        <option value="2">失败</option>
                                    </select>
                                </div>
                                <div class="form-group group-inline z-mb10">
                                    <button class="btn btn-info btn-sm mb0" ng-click="getDataList()">搜索</button>
                                    <button class="btn btn-default btn-sm mb0" ng-click="exportData()">导出数据</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th style='text-align: center;' class="column-title">序号</th>
                                    <th style='text-align: center;' class="column-title">充值流水号</th>
                                    <th style='text-align: center;' class="column-title">充值时间</th>
                                    <th style='text-align: center;' class="column-title">充值方式</th>
                                    <th style='text-align: center;' class="column-title">充值金额(元)</th>
                                    <th style='text-align: center;' class="column-title">充后余额(元)</th>
                                    <th style='text-align: center;' class="column-title">充值状态</th>
                                    <th style='text-align: center;' class="column-title">充值信息</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="even pointer" ng-repeat="item in datas">
                                    <td style="vertical-align:middle; text-align:center;" ng-bind="$index*defaultPage+1" ></td>
                                    <td style="vertical-align:middle; text-align:center;" ng-bind="item.serialNumber" ></td>
                                    <td style="vertical-align:middle; text-align:center;" ng-bind="item.rtime"></td>
                                    <td style="vertical-align:middle; text-align:center;" ng-bind="item.rtype|rtypeText"></td>
                                    <td style="vertical-align:middle; text-align:center;" ng-bind="item.amount"></td>
                                    <td style="vertical-align:middle; text-align:center;" ng-bind="item.balance"></td>
                                    <td style="vertical-align:middle; text-align:center;" ng-bind="item.rstatus | rstatusText"></td>
                                    <td style="vertical-align:middle; text-align:center;" ng-bind="item.message"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="x_content">
                                <div class="page" >
                                    <div id="copot-page" class="copot-page"></div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>

<!--修改限额-->
<div class="modal fade set-limit-wrap" tabindex="-1" role="dialog" aria-hidden="true" id="setLimit">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" >修改限额</h4>
            </div>
            <div class="x_panel" >
                <div class="x_content">
                    <br />
                    <form class="form-inline" novalidate id="addform" name="setForm" ng-submit="setLimit(setForm.$valid)">
                        <div class="form-group z-mr20">
                            <input type="radio" ng-model="setData.limitType" value="0" class="form-control" id="limitType0" ng-checked="setData.limit==0">
                            <label class="control-label" for="limitType0">不限</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" ng-model="setData.limitType" value="1" class="form-control" id="limitType1" ng-checked="setData.limit>0">
                            <label class="control-label" for="limitType1">每月限额</label>
                            <div class="input-group input-group-sm z-mb0">
                                <input class="form-control" style="width: 60px" placeholder="金额" type="text" ng-model="setData.limit" ng-disabled="setData.limitType==0" required ng-pattern="/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/" name="limit">
                                <span class="input-group-addon">元</span>
                            </div>
                        </div>
                        <p style="height: 20px;">
                            <span style="color:red" ng-show="setForm.limit.$error.required && setForm.limit.$dirty">请输入限制金额</span>
                            <span class="help-inline" style="color:red" ng-show="!setForm.limit.$error.required && setForm.limit.$invalid">金额格式错误。</span>
                        </p>

                        <div class="ln_solid"></div>
                        <div class="form-group text-center">
                            <div class="z-tc">
                                <button type="button" data-dismiss="modal" class="btn btn-primary">取消</button>
                                <button type="submit" ng-disabled="addform.$invalid" class="btn btn-success btn-set-limit">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade auth-del-wrap" tabindex="-1" role="dialog" aria-hidden="true" id="authDel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" >取消授权</h4>
            </div>
            <div class="x_panel" >
                <div class="x_content">
                    <p>确定对该教练取消授权？</p>
                    <div class="z-tc">
                        <button type="button" data-dismiss="modal" class="btn btn-primary">取消</button>
                        <button type="submit" class="btn btn-success btn-auth-del">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>