<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lili.coach.mapper.dao.TrfieldMapper">
	<resultMap id="BaseResultMap" type="com.lili.coach.dto.Trfield">
		<result column="trainFieldId" property="trainFieldId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="schoolId" property="schoolId" jdbcType="INTEGER" />
		<result column="lge" property="lge" jdbcType="DECIMAL" />
		<result column="lae" property="lae" jdbcType="DECIMAL" />
		<result column="posDesc" property="posDesc" jdbcType="VARCHAR" />
		<result column="reverseLim" property="reverseLim" jdbcType="INTEGER" />
		<result column="phoneNum" property="phoneNum" jdbcType="VARCHAR" />
		<result column="region" property="region" jdbcType="INTEGER" />
		<result column="regionName" property="regionName" jdbcType="VARCHAR" />
		<result column="isdel" property="isdel" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		trainFieldId,name,schoolId,lge,lae,posDesc,reverseLim,phoneNum,region,isdel
	</sql>

	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="trainFieldId != null and trainFieldId != ''">
				and trainFieldId = #{trainFieldId}
			</if>
			<if test="schoolId != null and schoolId != ''">
				and schoolId = #{schoolId}
			</if>
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
			<if test="isdel != null and isdel != ''">
				and isdel = #{isdel}
			</if>
		</trim>
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_s_trfield
		where trainFieldId = #{trainFieldId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_s_trfield
		where trainFieldId = #{trainFieldId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lili.coach.dto.Trfield"
		useGeneratedKeys="true" keyProperty="trainFieldId">
		insert into t_s_trfield
		(trainFieldId,name,schoolId,lge,lae,posDesc,reverseLim,phoneNum,region,isdel)
		values
		(#{trainFieldId,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{schoolId,jdbcType=INTEGER},#{lge,jdbcType=DECIMAL},#{lae,jdbcType=DECIMAL},#{posDesc,jdbcType=VARCHAR},#{reverseLim,jdbcType=INTEGER},#{phoneNum,jdbcType=VARCHAR},#{region,jdbcType=INTEGER},#{isdel,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.lili.coach.dto.Trfield"
		useGeneratedKeys="true" keyProperty="trainFieldId">
		>
		insert into t_s_trfield
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="trainFieldId != null">
				trainFieldId,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="schoolId != null">
				schoolId,
			</if>
			<if test="lge != null">
				lge,
			</if>
			<if test="lae != null">
				lae,
			</if>
			<if test="posDesc != null">
				posDesc,
			</if>
			<if test="reverseLim != null">
				reverseLim,
			</if>
			<if test="phoneNum != null">
				phoneNum,
			</if>
			<if test="region != null">
				region,
			</if>
			<if test="isdel != null">
				isdel,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="trainFieldId != null">
				#{trainFieldId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="schoolId != null">
				#{schoolId,jdbcType=INTEGER},
			</if>
			<if test="lge != null">
				#{lge,jdbcType=DECIMAL},
			</if>
			<if test="lae != null">
				#{lae,jdbcType=DECIMAL},
			</if>
			<if test="posDesc != null">
				#{posDesc,jdbcType=VARCHAR},
			</if>
			<if test="reverseLim != null">
				#{reverseLim,jdbcType=INTEGER},
			</if>
			<if test="phoneNum != null">
				#{phoneNum,jdbcType=VARCHAR},
			</if>
			<if test="region != null">
				#{region,jdbcType=INTEGER},
			</if>
			<if test="isdel != null">
				#{isdel,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lili.coach.dto.Trfield">
		update t_s_trfield
		<set>
			<if test="trainFieldId != null">
				trainFieldId = #{trainFieldId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="schoolId != null">
				schoolId = #{schoolId,jdbcType=INTEGER},
			</if>
			<if test="lge != null">
				lge = #{lge,jdbcType=DECIMAL},
			</if>
			<if test="lae != null">
				lae = #{lae,jdbcType=DECIMAL},
			</if>
			<if test="posDesc != null">
				posDesc = #{posDesc,jdbcType=VARCHAR},
			</if>
			<if test="reverseLim != null">
				reverseLim = #{reverseLim,jdbcType=INTEGER},
			</if>
			<if test="phoneNum != null">
				phoneNum = #{phoneNum,jdbcType=VARCHAR},
			</if>
			<if test="region != null">
				region = #{region,jdbcType=INTEGER},
			</if>
			<if test="isdel != null">
				isdel = #{isdel,jdbcType=INTEGER},
			</if>
		</set>
		where trainFieldId = #{trainFieldId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lili.coach.dto.Trfield">
		update t_s_trfield
		set
		trainFieldId = #{trainFieldId,jdbcType=INTEGER},
		name =
		#{name,jdbcType=VARCHAR},
		schoolId =
		#{schoolId,jdbcType=INTEGER},
		lge =
		#{lge,jdbcType=DECIMAL},
		lae =
		#{lae,jdbcType=DECIMAL},
		posDesc =
		#{posDesc,jdbcType=VARCHAR},
		reverseLim =
		#{reverseLim,jdbcType=INTEGER},
		phoneNum =
		#{phoneNum,jdbcType=VARCHAR},
		region = #{region,jdbcType=INTEGER},
		isdel = #{isdel,jdbcType=INTEGER}
		where
		trainFieldId =
		#{trainFieldId,jdbcType=INTEGER}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="com.lili.coach.dto.Trfield">
		select
		t.trainFieldId,t.name,t.schoolId,t.lge,t.lae,t.posDesc,t.reverseLim,t.phoneNum,t.region,t1.region
		regionName
		from t_s_trfield t INNER JOIN t_s_region t1 ON t.region =
		t1.rid
		where 1=1
		<if test="trainFieldId != null and trainFieldId != ''">
			and t.trainFieldId = #{trainFieldId}
		</if>
		<if test="schoolId != null and schoolId != ''">
			and t.schoolId = #{schoolId}
		</if>
		<if test="region != null and region != ''">
			and t.region like "${region}%"
		</if>
		<if test="name != null and name != ''">
			and t.name like "%${name}%"
		</if>
		<if test="isdel != null and isdel != ''">
			and t.isdel = #{isdel}
		</if>

	</select>

	<select id="countAll" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from t_s_trfield
		<include refid="Example_Where_Clause" />
	</select>

</mapper>